[2022-05-12 05:06] Shailesh351 commented on #1153
MyViasat PR: https://git.viasat.com/ICAT/MyViasat/pull/1141

[2022-05-12 05:16] Shailesh351 commented on #1153
Pending Items:
- Currently, this is not working on mobile browsers because `isMobile` does not differentiate between Mobile browsers and WebView. We will need to add additional conditions to check the webview.
- Currently, it is saving in `.txt` format, we want it in `.pdf` to make the UX as near as possible to MyViasat. And also opening the `.txt` file will open in the browser and from the browse

[2022-05-12 13:17] ear-dev commented on #1170
@bhardwajaditya it looks like Cameron jumped on this issue as part of his sf emulator work..... his PR here:  https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/60

Sorry about that..... but I'm still interested in whether we can dynamically update the user icon.... any thoughts on that?

[2022-05-12 15:14] ear-dev opened #1177 "[SF.agent] Change the user icon to match the salesforce agents name."
We would like to use the first letter of the name, like the default RC username icon behavior.  This needs to be scoped specifically to just the current session, not a global change of the SF.app.bot username.

[2022-05-12 15:16] #1129 closed, assigned to bhardwajaditya

[2022-05-12 15:21] ear-dev commented on #1176
related to story https://github.com/WideChat/Rocket.Chat/issues/1159

[2022-05-13 10:41] Shailesh351 commented on #1139
@ear-dev As discussed in the meeting yesterday, because @AlexanderKanakis is currently away due to medical treatment I have created below PRs to fix this issue. Thanks!

Rocket.Chat: https://github.com/WideChat/Rocket.Chat/pull/1178
Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/143

- To set visitor phone: `this.setGuestPhone(<phoneNumber>)`
- To unset visitor phone p

[2022-05-13 15:18] ear-dev opened #1179 "[UI] Implement widget design makeover."
- New colors
- New text content
- Spacing
- Rounded edges in the modal popup
- New button design

All of this is described, including spacing and color specs (at bottom) on the figma project here:  https://www.figma.com/file/7HiyU1mneHRfe5oFnPNeXP/Updated-USRes-Chat-UI?node-id=52%3A637

[2022-05-13 15:21] ear-dev commented on #1176
@bhardwajaditya @Shailesh351 On mobile, when you close a chat and you are looking at the 'New Chat' page, if you click one of the back arrows (there are two, system level and app level) you go back to the myViasat "Chat with us." page.

Is it possible to navigate to that page upon clicking the 'X', instead of our 'New Chat' page?

[2022-05-13 15:24] ear-dev opened #1180 "[BUG][Mobile] Chat does not consistently persist after using a back arrow to move away from a chat."
We would like for the visitor to see the current conversation if they return to the chat.  Seems to me like our current behavior is flaky?

[2022-05-13 15:26] ear-dev commented on #1139
Thanks @Shailesh351 I will test as well....

[2022-05-13 15:28] #1168 closed, assigned to ear-dev

[2022-05-13 15:56] bhardwajaditya commented on #1176
@ear-dev I don't think we will be able to control in app behaviour for myviasat, we can minimise the widget but going back from seems to be difficult

[2022-05-13 16:12] ear-dev commented on #1176
What does it look like if we minimize the widget in mobile?  What is then visible?

[2022-05-13 16:15] bhardwajaditya commented on #1176
@ear-dev I am not sure about it but if I remember from one of the demo, it's a white screen with minimised widget.

@Shailesh351 can confirm this point

[2022-05-14 04:10] Shailesh351 commented on #1176
@ear-dev @bhardwajaditya It behaves the same as the web. It will minimize chat showing the chat icon.

It is possible to go back when user clicks X, but that will require changes at MyViasat side. And by doing that we are just moving more and more control away from our Widget side, we should avoid that if possible.

[2022-05-16 13:52] ear-dev commented on #797
@csmith14 can you put the link to the PR in this Issue please?  Thanks...

[2022-05-16 15:02] #1139 closed, assigned to AlexanderKanakis

[2022-05-16 15:08] ear-dev opened #1182 "[package-lock] [Tracking] New livechat version when ready"
Note: Remember to catch up with latest livechat version in package-lock.json when we have the next few features in.

[2022-05-16 16:02] ear-dev commented on #1162
@AlexanderKanakis I am going to take a crack at this one please.... thanks.

[2022-05-16 16:04] AlexanderKanakis commented on #1162
I will be pushing new code as per Shailesh's changes very soon

[2022-05-16 17:17] ear-dev opened #1184 "[SF.app][BUG] Sneak peek is flaky"

[2022-05-16 18:11] ear-dev commented on #1162
@AlexanderKanakis @Shailesh351 I've got two PRs for this issue.  Shailesh can you confirm please if this implementation looks safe on the server side?  I basically mimicked using empty string from the phoneNumber PR, and passing customFields as a parameter from the appVersion PR.

- https://github.com/WideChat/Rocket.Chat/pull/1183/files
- https://github.com/WideChat/Apps.Dialogflow/pull/155
- htt

[2022-05-16 18:49] ear-dev commented on #1164
@AlexanderKanakis I am moving this back into the In Progress column while you work on the enhancement to tie the counter to the typing_enabled state.

[2022-05-16 18:50] AlexanderKanakis commented on #1164
@ear-dev do we want it on the same PR?

[2022-05-16 18:53] ear-dev commented on #1164
Yes, I think it's just one feature, so it should be in the same PR please.  Thanks.

[2022-05-16 20:10] AlexanderKanakis commented on #1150
Related PRs:

- https://github.com/WideChat/Rocket.Chat.Livechat/pull/144
- https://github.com/WideChat/Rocket.Chat/pull/1185

[2022-05-17 09:19] Shailesh351 commented on #1153
@ear-dev Above Issues are now fixed. Save transcript now works with `.pdf`.

### Design
Instead of adding pdf generator library at client-side (Widget), which also makes loading widget slower. The library is added on the server-side.

`User Clicks Save Transcript` -> `Server generates pdf and passes it to client in base64 string` -> `Client decodes base64 to show pdf`

### PRs

Rocket.Chat: https:

[2022-05-17 11:41] Shailesh351 commented on #1162
@ear-dev

1. For the server PR, why do we need to unset the customField? I tested it when we pass empty from the widget it updates in the DB to empty? Do we specifically want to completely remove the property from the DB?
2. For the DF PR, We don't need to change anything to pass it in the Welcome Event. We are already sending a complete `livechatData` object (Visitor custom fields) in the welcome

[2022-05-17 15:10] ear-dev commented on #1162
NOTE: EAR>>>  Do not need any of these PRs....  Visitor customFields by default are added as parameters in DF messages from inside the DF.app.
TODO: Revert the appVersion PR from the DF repo:  https://github.com/WideChat/Apps.Dialogflow/pull/147/files

[2022-05-17 15:12] ear-dev commented on #1153
@AlexanderKanakis can you test this in the Test-app please?

[2022-05-17 15:20] #797 closed, assigned to csmith14

[2022-05-17 15:25] ear-dev opened #1187 "[SF.app] Use updatePersistentData in the sf agent name PR"
Please see Shailesh's comment here:  https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/62

[2022-05-17 15:25] #1170 closed, assigned to csmith14

[2022-05-17 15:38] ear-dev opened #1188 "[Salesforce.app] Cleanup typos, linting and formatting."
Tech debt.  Use rules to match what they use upstream in the Rocket.Chat repo.  We can do this now because we basically own this repo as it is not yet being managed upstream since its original creation during the GSOC project.

[2022-05-17 15:42] ear-dev opened #1189 "[BUG] First visit to RC homepage needs refresh, otherwise it is blank."
This is not a problem upstream but in our develop_pwa branch only.

[2022-05-17 15:46] ear-dev commented on #1176
@bhardwajaditya please remove the New Chat page ONLY in web.....  use the isMobile flag to keep it for now in mobile.  We will design a better solution later.

[2022-05-17 15:55] ear-dev commented on #1155
@Shailesh351 can you please point Alexander in the right direction on this.

[2022-05-17 15:59] csmith14 commented on #1188
- Linting & Formatting: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/63
- Typo Fixes: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/64

**NOTE**: PR#64 branch (`cws-fix-spelling`) is based on PR#63 branch (`cws-tooling-linting-formatting`), and therefore should be merged after #63. Alternatively, we could close #63, and just merge #64 -- but I wanted to break them out in

[2022-05-17 18:46] csmith14 commented on #1187
https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/65

[2022-05-18 16:06] ear-dev commented on #1177
@bhardwajaditya please prioritize this one next when you are ready.  Thanks.

[2022-05-18 19:08] bhardwajaditya commented on #1177
@ear-dev I am picking this over the multi tab message issue, that one might take more time since just syncing messages across the tabs is introducing some new bugs. This one seems more straightforward

[2022-05-18 20:47] ear-dev commented on #1177
sounds good to me.....  thanks.

[2022-05-19 05:40] Shailesh351 opened #1190 "[Save Transcript] Check if there is an issue in the PDF because of other language characters than English"
Currently, we are using Standard font in the PDF to reduce the PDF size.

When the PDF size With Roboto is around 42kb same reduces to around 4kb with standard fonts.

https://pdfmake.github.io/docs/0.1/fonts/standard-14-fonts/

But These standard fonts support only the ANSI code page (only English characters)!

So we need to keep an eye open if there is an issue in the PDF for other languages we

[2022-05-19 05:47] Shailesh351 opened #1191 "[BUG] Visitor Custom Fields are not passing immediately after update in the Welcome Event"
When the custom field value is updated in the widget script, It is updated in the DB. But in the DF App, It still holds the older value and passes it to the DF Agent.

## Steps to reproduce
- Set customField in the Widget Script (i.e. value1)
- Start the chat and check if we are receiving it(value1) at DF Agent in the welcome event
- Change the value (i.e. value2)
- Start the new chat and check th

[2022-05-19 10:57] #1162 closed, assigned to AlexanderKanakis, ear-dev

[2022-05-19 11:20] AlexanderKanakis commented on #1155
Relevant PRs:
- https://github.com/WideChat/Rocket.Chat/pull/1192
- https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/50
- https://github.com/WideChat/Apps.Dialogflow/pull/157

[2022-05-19 14:51] ear-dev commented on #1191
@Shailesh351 is this just an issue for us when using our test widget, or is it possible this is something we might be seeing in production?  Is it possible this is related to our missing appName/token issues?  Are we sending the 'visitor' field values to DF.agent for those?

[2022-05-19 14:54] Shailesh351 commented on #1191
@ear-dev Just with the test widgets.  (Where we try to update customFields like `this.setCustomField('ui_register_account_number', 'accno');`)

I don't think there is any issue in production due to this. But still just to verify I will do some more testing for this

[2022-05-19 15:09] ear-dev commented on #1155
@Shailesh351 can you review and test these PRs please?  Alexander seems to be having an issue building the DF.app after pointing at the new apps-engine.

[2022-05-19 15:16] ear-dev commented on #1155
@AlexanderKanakis it turns out that links are fine, because CX will respond with 'I don't understand...'  but that location object just crashed the conversation.  This Story is for one use case only - google location object.

[2022-05-19 15:26] ear-dev commented on #1159
@bhardwajaditya please describe new scenarios where you are seeing two tabs out of sync.... please show us steps to reproduce.

[2022-05-19 15:27] Shailesh351 commented on #1184
NOTE: Check for multiple tabs scenarios

[2022-05-19 15:31] ear-dev opened #1193 "[SF repo] Add github action to verify that the build can run successfully... linters, formatters, etc.."
Install dependencies, and apps-cli.....  run the package command to verify it builds

[2022-05-19 15:32] ear-dev opened #1194 "[DF repo] Add github action to verify that the build can run successfully... linters, formatters, etc.."
NOTE: this action already exists from upstream.  We will only make minimal changes/checks in the workflow. We do not want to diverge from upstream.

[2022-05-19 15:44] ear-dev commented on #1194
NOTE: There actually is a workflow coming from upstream in the catchup merges, so we many not need to create our own.  Copy theirs?

[2022-05-19 15:45] ear-dev opened #1195 "[DF.app] Catchup merges"
We have diverged greatly from upstream so this might be a complicated merge.

[2022-05-19 15:55] ear-dev commented on #1191
don't they use this.setCustomField to set appName and token?

[2022-05-19 15:58] Shailesh351 commented on #1191
@ear-dev They do but this particular issue is when we try to update the value in the customField. In the MyViasat values just remain the same right?

[2022-05-19 16:12] ear-dev commented on #1191
I'm not sure if the token expires and refreshes.....  but in that case we'd be sending a stale token, not an empty token.... so likely not related.

[2022-05-19 16:55] #1153 closed, assigned to Shailesh351

[2022-05-23 21:03] csmith14 commented on #1193
https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/66

[2022-05-24 10:32] AlexanderKanakis commented on #1155
New result

https://user-images.githubusercontent.com/18405180/170011761-70fdaf01-915c-450c-8d87-75e477679b12.mp4

[2022-05-24 13:50] ear-dev opened #1198 "[Apps-engine] Create new release and associated PRs to use it in the other RC components"
After this PR is merged we want to create a new release and update RC and the RC.apps repos to use it.

https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/50

[2022-05-24 14:08] Shailesh351 commented on #1171
@ear-dev Here's the current document for Metrics Logging https://github.com/WideChat/Rocket.Chat/wiki/Pushing-Metrics-Events-Logs-to-SNS-for-Analytics

[2022-05-24 15:10] ear-dev opened #1199 "[two tab issue] Implement a 'watcher' that will always clear messages in the case when the widget has been minimized."
In all cases, when the visitor has ended the chat and minimized the widget, we want the next action, when the visitor clicks the icon again, to start a new session.

Currently in the two tab case, one of the tabs can easily get out of sync.

[2022-05-24 17:20] ear-dev opened #1200 "[save transcript in mobile] Need an admin switch to enable/disable the feature"
We are going to be blocked on the MV PR which allows us to save the transcript on mobile.  This will prevent our other fixes from being promoted to prod, unless we have a switch to enable/disable on mobile.

NOTE:  This may turn out to be a temporary fix for this issue, since we do not expect to use this after the new MyViasat eventually rolls out.  We may want to just revert the fix at some point

[2022-05-25 14:58] AlexanderKanakis commented on #1200
PRs:
- https://github.com/WideChat/Rocket.Chat/pull/1201
- https://github.com/WideChat/Rocket.Chat.Livechat/pull/146

[2022-05-25 19:56] ear-dev opened #1203 "[SF.app][BUG] SF agent name in the banner and sneak peek is flaky when bouncing between websocket and REST"
When a live salesforce agent transfers the chat to another agent the name in the banner will also change with it.  However I'm seeing this as flaky, similar to how sneak peak is flaky.

I'm testing with the sf_emulator

[2022-05-25 20:02] ear-dev opened #1204 "[DF.app] 'Live location' sent from whatsApp does not trigger invalidUserInput"
We recently added a check for a 'location' and that works correctly to send the invalidUserInput to CX.agent.

However, when I use 'share live location' the invalidUserInput payload is not sent.  In fact, in the chat, as seen on the RC server, looks like the visitor has sent an empty message.

Can we handle this?  Is it really an empty message?

FYI - in production I have seen empty messages which

[2022-05-26 13:30] ear-dev opened #1205 "[SNS Logger] [Rocketchat.Server] Amazon SNS SDK implementation"
This module is embedded in the Rocketchat.Server and it publishes events to a designated Topic, configured in the Admin UI (authentication and authorization)
- region
- Aws Topic ARN

We can use role based access from inside our AWS accounts to access the Topic.  Requires cross account access.

[2022-05-26 13:33] ear-dev opened #1206 "[SNS Logger] [Rocketchat.Chat.Apps-engine] App bridge implementation - passes data to the Server/SNS SDK"
Implemented in the RC.server repo

Implemented in the RC-apps-engine repo

[2022-05-26 13:37] ear-dev opened #1207 "[SNS Logger] [Rocket.chat.js.sdk] Passes data over websocket from the Livechat Widget to the Server/SNS SDK"

[2022-05-26 13:42] ear-dev opened #1208 "[SNS Logger] [Message Payload] Design custom RC schema that Ciao analytics can parse and consume."
- Determine common meta-data required for every event.
- Design where each meta-data attribute is coming from and verify that each component has a handle on it.
- Maybe common attributes are stored in the RC Logger upon per session initialization?

NOTE:  We need to standardize on a 'Subject' for every event we push to the Topic.  Let's use `RC`  - hard coded.

Payload example (first iteration):
[

[2022-05-26 13:46] ear-dev opened #1209 "[SNS Logging][DF.app] Handle new meta-data coming from CX.agent for session identification."
One idea was that the CX.agent might start sending the partyID during new session initiation.  In that way we will have a handle on that value which needs to be included in event logs.

Possibly include as well?:
- 'business'
- 'ciao deployment'
- ??

This may just be new data that we add to the room object in the mongoDB

[2022-05-26 13:51] ear-dev opened #1210 "[SNS Logging] Choose a subset of events to implement first."
This wiki describes our first pass at defining the metrics we are interested in.  https://wiki.viasat.com/display/ACC/Frontend+Analytics

We should pick a subset and implement the log points in the code.  It might be that we should implement a few metrics from each component.
- DF.app
- SF.app
- Livechat Widget
- RC server

NOTE:  Lets implement an MVP event from the Server first, as our POC

[2022-05-26 14:33] ear-dev commented on #1208
CX will send common metadata during initial session setup:

- patyID
- business
- ciao_deployment

DF.app will send that info to the Rocketchat logger, and the RC logger will map the sessionID, partyID, etc... to all events that are generated by that unique session.

Possible Solution:

- Leverage the mongoDB, to add this metadata to the room object.  The SNS logger will reference the room object

[2022-05-26 14:41] ear-dev commented on #1210
Each event should be captured in one place only.  We will groom the events to understand the best place to capture.

event_type is undetermined for the moment.

[2022-05-26 15:01] #1171 closed, assigned to Shailesh351

[2022-05-26 15:16] #1194 closed, assigned to csmith14

[2022-05-26 16:30] ear-dev commented on #1200
@AlexanderKanakis this works great.  Thanks....  @Shailesh351 can you take a quick look at these PRs please?  Thanks.

[2022-05-27 13:42] #1193 closed, assigned to csmith14

[2022-05-28 02:54] Shailesh351 opened #1211 "[Bug] Save Transcript is not working for a deployed server in Web"
When a user clicks on Save Transcript it opens URL `blob:https://messaging.vega-preprod.viasat.io/948d6627-4661-4b95-9aa2-60a3b9babe6f` and it's not a valid URL. However, It was working with localhost, So I could not find it during development.

<img width="1792" alt="Screenshot 2022-05-28 at 7 15 06 AM" src="https://user-images.githubusercontent.com/18264684/170807113-8e06d9e8-64b4-4108-a331-5cfd

[2022-05-30 08:23] Shailesh351 commented on #1211
Looks like it's only happening on my local setup. It's working on `https://messaging.vega-dev.viasat.io/livechat`. @ear-dev If you see this in PrePROD or PROD Please let me know.

[2022-05-30 08:23] #1211 closed, assigned to Shailesh351

[2022-05-30 12:11] ear-dev commented on #1211
Interesting.... I have tested this multiple times.... but I will check again. Thanks for the heads up.

[2022-05-31 15:13] ear-dev opened #1212 "[Widget loading][BUG] Sometimes the widget does not load in chrome browser."
For example:  currently on messaging.vega-preprod.viasat.io the widget will not appear in chrome.  It does appear in Firefox and in Incognito mode.  Also it working fine on mobile.

It appears that it loaded properly looking at the Network tab, but the widget button does not show in the screen.

[2022-05-31 15:27] ear-dev opened #1213 "[Save Transcript] Need to be backwards compatible during new MV.app rollout."
It may never be the case that users will all update the myViasat app.  We need to detect Save Transcript compatibility before presenting the 'Save Transcript' button to the user.

- check for MV version?
- check for something else?
- maybe it's a method:  mobileEnableSaveTranscript() which can be called by the integration script.  Is the integration script the same on mobile as it is in web?

[2022-05-31 15:28] ear-dev commented on #1213
@AlexanderKanakis please come up with a design and then run it by the team before implementation.

[2022-05-31 17:32] ear-dev opened #1214 "[myViasat Integration] Can we own the chatbot.css file?"
Currently the myViasat team has been hosting a chatbot.css file, which gets called during initial page loading.  They accidentally deleted that file because to them it looked like un-used code.

Robert Allen is suggesting that maybe we should own that file and have it called from our server instead.  Can this be done?

![image](https://user-images.githubusercontent.com/28864717/171237466-2d151442-

[2022-05-31 17:38] ear-dev commented on #1212
Ok, now it is loading in a test widget using regular chrome.....  so this issue is wildly intermittent/flaky, and it must have something to do with browser state.  @Shailesh351

[2022-05-31 19:59] ear-dev commented on #1212
Update: After I removed my user data in chrome (~/Library/Application Support/Google/Chrome), and started over as if from a new browser, it all worked fine when loading a test widget.  However, I then went to test the myViasat test app, which has a bug in that chatbot.css file right now.  As expected, the widget did not load, but after that, the test widget no longer loads in chrome.  So something

[2022-06-01 17:58] #1200 closed, assigned to AlexanderKanakis

[2022-06-01 19:01] ear-dev commented on #1213
@AlexanderKanakis @Shailesh351 Looks like we would like to prioritize this one.

 If our design includes changes to the MV app we can maybe make that the first task for @csmith14  in the myViasat repo.

If we can get our MV changes committed by mid week next week, we might be able to make it in time for their next release.... fwiw.

[2022-06-02 15:13] ear-dev commented on #1184
Related to 1203 maybe.....  could be a RestAPI vs. Websocket issue?

Websocket for realtime messages, will timeout eventually or go stale.  RestAPI used for getting history etc...

[2022-06-02 15:16] ear-dev commented on #1213
NOTE: this will be like the hide show print option we created.

Can we repurpose the current showPrint() hidePrint() methods that already exist in livechat for this purpose?   it would effectively be showSaveTranscriptButton() hideSaveTranscriptButton().... but we do not want to rename the methods at this point.

Currently myViasat uses hidePrint() in mobile only.  showPrint() defaults to true.

[2022-06-02 15:38] ear-dev commented on #1207
https://github.com/WideChat/Rocket.Chat/wiki/Pushing-Metrics-Events-Logs-to-SNS-for-Analytics

[2022-06-02 15:42] ear-dev opened #1215 "[mv integration] Cameron setup myViasat development environment."

[2022-06-03 13:35] ear-dev commented on #1214
NOTE:  We suspect this file is a pre Rocketchat legacy file related to the old Neuroflash client.  I've suggested this to Robert and we'll figure out who should debug.  If we can find the caller in the code we can test removing it and verify.

[2022-06-03 13:43] ear-dev commented on #1213
NOTE: Currently in mobile, myViasat uses hidePrint() but in web they are falling back on the default showPrint().  If we hook this method into our new Save Transcript button logic, then we will effectively be backwards compatible.

- Older versions of the myViasat app will have the hidePrint() method called.
- Newer (print compatible) versions of myViasat app will remove the hidePrint() condition.

[2022-06-03 13:47] ear-dev commented on #1176
https://github.com/WideChat/Rocket.Chat.Livechat/pull/147

[2022-06-03 18:04] ear-dev commented on #1209
It’s now possible that we will not be sending any new meta-data from CX, and that our SNS message payload might not have to contain ‘partyId’, ‘business’, and ‘ciao_deployment’.

The thinking is that as long as we are sending the roomID and the dialogflow_agent_id (which we already have a handle on) then we will add the other missing values later on the backend.  Since our metrics/events parser wi

[2022-06-03 18:05] ear-dev commented on #1208
NOTE:

It’s now possible that we will not be sending any new meta-data from CX, and that our SNS message payload might not have to contain ‘partyId’, ‘business’, and ‘ciao_deployment’.

The thinking is that as long as we are sending the roomID and the dialogflow_agent_id (which we already have a handle on) then we will add the other missing values later on the backend. Since our metrics/events par

[2022-06-06 17:50] #1199 closed, assigned to bhardwajaditya

[2022-06-06 20:00] ear-dev opened #1219 "[whatsApp.app] POC using the RC whatsApp.app integration with 360Dialog as a replacement for twillio"
- Corporate is working on getting us a 360Dialog account
setup, with a phone number mapped to it, so we can test.

[2022-06-07 15:05] ear-dev opened #1220 "[hidePrint Mobile] remove hidePrint() from integration script in MV mobile"
need a PR against the myViasat repo.....  needs to be showPrint() in order to change the value in cache.

[2022-06-07 16:11] Shailesh351 commented on #1220
@ear-dev Created MyViasat PR for replacing `hidePrint` with `showPrint` https://git.viasat.com/ICAT/MyViasat/pull/1154

[2022-06-07 16:12] Shailesh351 commented on #1213
MyViasat PR for replacing `hidePrint` with `showPrint` https://git.viasat.com/ICAT/MyViasat/pull/1154

[2022-06-08 15:13] ear-dev opened #1221 "[RC upstream cypress tests] Fix tests so that they pass against our PWA fork"
Upstream has added a step in the github actions workflow that runs a suite of cypress tests.  Many of these tests are failing against our fork because of the PWA changes we have made.

We need to comb through all the tests that are failing and fix, or comment out if not applicable somehow.

If you go through this log you can see the tests that are passing and failing....  https://github.com/WideCh

[2022-06-09 13:52] #1213 closed, assigned to AlexanderKanakis

[2022-06-09 13:55] ear-dev opened #1223 "[Upstream Catchup] Livechat"

[2022-06-09 15:16] ear-dev commented on #1195
@AlexanderKanakis please make no custom changes during the catchup merge PR.  Just merge them together but verify that all of our changes are still working.

Any custom changes should be done in a new PR
- please create a story on the board about cleaning up our use of persistence.

[2022-06-09 15:19] ear-dev commented on #1221
@bhardwajaditya please enumerate our PWA changes that are the root causes of these failures.  Alexander needs to be more familiar with what our PWA refactor looked like, and what the effects here are.

[2022-06-09 15:22] ear-dev commented on #1184
@bhardwajaditya can you please describe the issue you found with REST vs. WebSocket, and propose the fix here.  thanks?

[2022-06-10 15:16] ear-dev commented on #1203
@bhardwajaditya since you are looking at the user icon in these cases, can you also take a look at this please?  For some reason the salesforce agent name in the banner generally is not robust.  I'm seeing this in the chat transfer case as well as the initial case when the visitor first escalates.  thanks.

[2022-06-14 14:51] #1189 closed, assigned to nobody

[2022-06-14 14:59] AlexanderKanakis commented on #1195
PR: https://github.com/WideChat/Apps.Dialogflow/pull/159
Prettierrc: https://github.com/WideChat/Apps.Dialogflow/pull/166

[2022-06-14 15:24] ear-dev commented on #1207
Please create any RC PR's for SNS work against sns_logger_master

[2022-06-14 15:30] ear-dev commented on #1206
NOTE: This story will include working out how we handle the object structure before pushing to the topic.

[2022-06-14 15:33] #1184 closed, assigned to bhardwajaditya

[2022-06-14 15:34] #1215 closed, assigned to csmith14

[2022-06-14 15:40] #1182 closed, assigned to ear-dev

[2022-06-14 15:43] ear-dev commented on #1207
@bhardwajaditya
<p>Examples of the type of things we want to start tracking, and where the data comes from</p><p><br /></p>

  | Salesforce App | Rocket.chat | Frontend Client | Ciao
-- | -- | -- | -- | --
Did the agent close the chat? | X |   |   |  
Did the customer click on X or options -> Close chat? |   | ? | X |  
Did the customer close their tab? |   | ? | X |  
Did the customer download a

[2022-06-14 15:55] bhardwajaditya commented on #1203
The root cause of the issue was that we were handling custom fields items such as sneak peek enable/disable and salesforce agent name in only messages received via web socket and not in messages received via rest api.

My PR has enabled to process these custom fields for both kind of messages

[2022-06-14 20:09] ear-dev opened #1225 "[DF blackout window] timer to release a stuck blackout window."
We are seeing an occassional issue in Prod described here:  https://github.com/WideChat/Rocket.Chat/issues/1158

Our logs do not show any failed HTTP requests, or anything at all, except that the visitor is in a blackout window.  The CX logs are not showing anything either, so it is as if Rocketchat is not sending a response to the zeroTimerPayload, specifically in the 'boletoPause' case.

As a ba

[2022-06-15 19:49] #1209 closed, assigned to nobody

[2022-06-15 19:54] ear-dev opened #1226 "[SNS Logger][Refactor] Handle SNS topic endpoint, Region, Dialogflow_agent_ID to CX.agent mapping"
Each CX.agent represents a unique market (brazil, UsRes, Mexico, etc..), and therefore each sessionID (roomID) is mapped to a CX.agent/market as well.  This is already how the system works.

New Design:
-  Each market will need to publish to it's own, unique SNS topic.
- We will need somewhere to configure the mapping of market -> SNS.topic
- Do we configure that in the CX.config.json?  or?

[2022-06-15 19:55] ear-dev commented on #1226
@Shailesh351 can you comment please on the best design for this?  We will need to incorporate this functionality into the RC.SNS.logger.  Thanks.

[2022-06-16 11:39] #1203 closed, assigned to bhardwajaditya

[2022-06-16 12:56] Shailesh351 commented on #1226
@ear-dev Ideally the best place to configure it should be in DF config.json itself but that might make implementation more complicated i.e. Getting Topic ARN from DF App to Server, Also this will require more data to pass to identify the room and market/cx-agent and that means more DB lookups.

Give me some time to think of a way so that it does not make implementation complex

[2022-06-16 13:54] ear-dev commented on #1226
Thanks @Shailesh351

We must already be handling a mapping between roomID and agentID, right?  I believe those are the minimum requirements that have to be included in every message so that ciao can do the partyID, business, etc queries on the backend, as we have discussed.

This new requirement is to maintain a mapping of agentID to SNS topic.  And yeah, DF config.json seems best, but somehow upo

[2022-06-16 14:29] ear-dev commented on #1158
NOTE: Molly will provide Shailesh access to the CX logs for debugging.  There are a few rooms with this issue pasted above, but I also use this one:  `Fnz8PEtSYcMR5Zc6Y`

@Shailesh351 already has access to the CX agent so he can look at how the `boleto` intent and `boletoPause` events are handled. We have other zero timer payloads like registration that do not ever show this behavior where the roo

[2022-06-16 15:11] ear-dev commented on #1225
Timer on HTTP timeouts, or after a configured timeout value.

[2022-06-16 15:20] ear-dev commented on #1219
NOTE: How will RC devs work with the app?  Sandbox app available for local dev?  Open Source?

[2022-06-16 15:45] ear-dev opened #1227 "[BUG] Livechat sometimes gets into a bad state where messages not appearing in the window."
Occassionally the widget does not show any messages.  The visitor can type, and the DF.agent will respond, but the window is blank.  I can see the conversation on the RC server, in the omnichannel/chats UI, but nothing is getting refreshed in the widget window.  A server restart will fix the issue.

@bhardwajaditya have you ever seen this?  Any thoughts about why this might be happening?

[2022-06-20 13:50] ear-dev commented on #1208
Payload keys need to be camelCase.  Payload values need to be pixel specific, as described in the tracking plan.

[code]

[2022-06-20 14:54] ear-dev commented on #1226
New value in config.json:   "sns_arn": "XXXXXX"

[2022-06-20 14:58] ear-dev commented on #1226
NOTE: refactor the current logger.

[2022-06-20 17:09] ear-dev commented on #1227
NOTE: I might have a lead on why this is happening.  It seems to only be happening on the RC instances which are deployed into the preprod kubernetes cluster.  In preprod we do not have any reserved resources (memory, cpu, etc...) but in Prod we do.  This would put us in contention with other applications in the cluster that might be deployed on our shared Node.

I have adjusted in Preprod so that

[2022-06-21 15:16] ear-dev opened #1229 "[Upstream Catchup Wiki] Shailesh to outline best practices"

[2022-06-21 15:24] ear-dev commented on #1207
@bhardwajaditya Please document here your design thinking around using REST vs. Websocket for this implementation.
@Shailesh351 please comment on the proposed design so we can move forward with common concensus.

[2022-06-21 15:29] bhardwajaditya commented on #1207
I suggest to continue communicating from Widget to Server using REST APIs as it is currently used in all other communications in this direction.

The other reason to use REST API is that they are not resource intensive, we will use the server as and when required and that doesn't require a persistent connection which drains server resources. We have a small subset of the cases when we will communi

[2022-06-21 15:31] ear-dev commented on #1208
Logger responsible for: ARN

[2022-06-21 15:44] #1177 closed, assigned to bhardwajaditya

[2022-06-21 16:02] ear-dev opened #1230 "[RC server] Update to new livechat version after catchup merge is in."

[2022-06-22 07:04] Shailesh351 commented on #1207
@bhardwajaditya Using the REST endpoint for communicating sounds good to me as we are already using it for sending messages. My bad I didn't go into the details. Let's ensure we are implementing it similar to sending messages i.e using js SDK. Thank you for your suggestion!

[2022-06-22 23:13] csmith14 commented on #1163
This only seems to be reproducible in the Test-App -- When building and running the MyViasat app on an android virtual device, the keyboard and input are positioned correctly:
![Screen Shot 2022-06-22 at 1 47 54 PM](https://user-images.githubusercontent.com/27293306/175170373-74d5fec9-450d-45c9-9976-0d914f219172.png)

[2022-06-23 15:10] ear-dev commented on #1158
@Shailesh351 will find succesfull sessions where the visitor sent 'boleto' text, and compare with our frozen sessions.  We may need log points to figure this out.

Molly can provide list of sessions with the issue......  NOTE: Debug logging was on June 21-22.  So sessions have to be from then.

[2022-06-23 15:16] ear-dev commented on #1225
NOTE:  need to handle payloads from CX.agent that include 'continue_blackout'.  continue_blackout resets the timer as well.

timeout_value = 120seconds

[2022-06-23 15:29] ear-dev commented on #1227
Note: could be oplog issue with MongoDB?  ear will check resources and try a mongo restart next time.

[2022-06-23 15:34] ear-dev commented on #1163
@csmith14 please add the link to the property in the myViasat repo that is designed to solve this problem.... to this story

[2022-06-23 19:54] bhardwajaditya commented on #1227
The following two links can be helpful in debugging this problem. There can be two possible problems, first one being a blocking method which stops all subsequent calls. We need to check meteor logs for that can be found using mup command in the running server. The second being DB being a bottleneck, explained in the second link mentioned below.

- https://forums.meteor.com/t/strange-phenomenon-su

[2022-06-24 16:39] ear-dev commented on #1227
@bhardwajaditya @Shailesh351 we got into this bad state again in preprod.  I did a restart of the mongodb service in the kluster but it did not resolve the issue.  :-(

I will look at the links posted above and think about next steps.  Thanks.

[2022-06-24 21:10] csmith14 commented on #1163
@ear-dev Since I will be out and am still working on this issue, I thought I’d send a breakdown of my current status before I leave.

For the issue of the keyboard covering the input field on some Android devices, I have found that changing the value of the ‘keyboardVerticalOffset’ ([here](https://git.viasat.com/ICAT/MyViasat/blob/dbd000f88e4ca2d22d6871fd2d6d1d47322d6a7e/packages/mobile/src/views/

[2022-06-30 14:50] AlexanderKanakis commented on #1225
PRs:
Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/160

[2022-06-30 15:14] ear-dev commented on #1207
NOTE: ear will provide event mapping for proper json payload contents.

[2022-06-30 15:17] ear-dev opened #1231 "[BUG] Homescreen not available in RC UI until refresh."
This is a bug we introduced in our PWA fork

[2022-06-30 15:26] #1125 closed, assigned to bhardwajaditya

[2022-06-30 15:34] ear-dev commented on #1208
@bhardwajaditya @Shailesh351 I am attaching the Viasat Chatbot Tracking Plan spreadsheet here.  I've edited it down so that it only includes our events.  This spreadsheet describes the mapping we need to use in order to populate each event with the proper json attributes of:  category/action/properties.
[Viasat_Chatbot_Tracking_Plan.xlsx](https://github.com/WideChat/Rocket.Chat/files/9021271/Viasa

[2022-06-30 15:47] #1230 closed, assigned to ear-dev

[2022-07-01 15:11] ear-dev commented on #1158
NOTE:  After our recent upgrade in prod to RC version v4.4.2.widechat-4 and DF version v1.2.3.widechat-6 this issue seems to have fixed itself.... we will leave this story under review for another week and close if we do not see a repro.

[2022-07-01 15:13] ear-dev commented on #1227
NOTE: we realized that our kubernetes resource limits for the mongodb pods were not reserved when we made this fix for the rocketchat server pods.  I have since included reserved resources on our dev server, but not on our preprod server.  We will be watching the servers for another repro.

[2022-07-04 19:14] bhardwajaditya commented on #1207
I have implemented the changes for all the events in the above mentioned list apart from the following three.

- Did the customer close their tab?
- Did the customer open a duplicate tab
- Empty app name / token

These three are part of this list but not part of excel sheet. @ear-dev can you confirm if these are required.

[2022-07-05 14:51] ear-dev commented on #1207
Good question @bhardwajaditya.  As you suggest, we have not covered tab behavior in the spreadsheet at the moment.  I'll discuss that with the chatbot team.  Empty app name / token might fall under a different category however, and not properly be considered as a customer event.... I'll verify.

FYI - that spreadsheet describes specifically only events whose destination is Pixel, and that is where

[2022-07-05 15:37] ear-dev opened #1234 "[Events] Can we track tab behavior"
- visitor opens a second tab. - DONE
- visitor switches tabs. - DONE because every event now includes tabID so we can track
- visitor closes a tab. - ??
- visitor closes a tab which closes the myViasat app. - ??
  - Note: myViasat app has more control and more information about tab behavior than we do....

[2022-07-05 15:38] ear-dev opened #1235 "[SNS Logger] Can we provide a library for the my.viasat team to use in the app?"
This would allow myViasat to track events that are better suited to be captured from within the app and not just our widget.

[2022-07-05 15:41] ear-dev opened #1236 "[js.sdk] Why are we using a feature branch as our base branch, and not master?"
Should we be doing regular catchup merges and using the master branch?

[2022-07-05 15:51] ear-dev opened #1237 "[SNS Logger] add tab_id to our message payload object."
This will allow us to track visitors behavior in regard to multiple tabs.

[2022-07-06 07:39] heikafeiylt opened #1238 "How can we install the WideChat/Rocket.Chat branch properly?"
Environment: centos8, Rocket.Chat 4.8.1, mongodb5.0, NodeJS 14.18.3

we refer to [Install Rocket.Chat](https://docs.rocket.chat/quick-start/deploying-rocket.chat/other-deployment-methods/manual-installation/rocket.chat-in-centos) to install Rocket.Chat instance  and start it successfully. But I don't know how to install WideChat/Rocket.Chat? Should we overwrite the source code to /opt/Rocket.chat

[2022-07-06 14:49] ear-dev commented on #1158
@Shailesh351 @bhardwajaditya  looks like this issue may have returned in prod.  This time it was 'verificationPause', where CX was waiting for the event.  The event is eventually showing up, but 40 minutes late or so.  Somehow our task scheduling is getting stuck?

[2022-07-07 16:03] ear-dev commented on #1158
General Notes:

- What would cause the scheduled event to hang up?  Which process responsible for sending it.
- Load?
- Stuck threads?
- Best effort events or guaranteed?  How handled.
- Retry, timing?
- Latency on events?  Characterize….  Min, max, average
- How do events scale…..  do they back up?

Who's responsible for the event scheduling:  DF.app -> writes to DB -> appBridge -> RC.server
- co

[2022-07-07 16:26] ear-dev commented on #1158
@bhardwajaditya searching for the log point where a job is getting scheduled does not help because there is no identifying data associated with it.  I think we should make a story to add the roomID to these log points.  What do you think?

[2022-07-07 16:27] ear-dev opened #1239 "[scheduled events] Add the roomID to log points associated with scheduling events"
This will help us to debug issues we are seeing where scheduled events to not seem to be triggered in a timely fashion, or not triggered at all.

[2022-07-11 14:39] ear-dev commented on #1239
@bhardwajaditya @Shailesh351 Do you think this might be a quick fix?  We did see a whole bunch of those events where the timer payload was not being scheduled or processed in a timely fashion again..... in Prod.  Restarting the RC server fixed the issue, but it will probably come up again and we need to figure out what's going on with this.

Our logs will show when timer events get scheduled, but

[2022-07-11 15:06] ear-dev commented on #1207
@Shailesh351 I'm hoping that you can review these PRs......  and setup an end-to-end testbed that will demonstrate events going from the widget all the way through the system to an SNS topic.  I will also work on putting my own testbed together for this.

[2022-07-12 10:31] Shailesh351 commented on #1239
@ear-dev I just created two PRs for adding logs with data(rid).

Rocket.Chat:  https://github.com/WideChat/Rocket.Chat/pull/1240
Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/161

[2022-07-12 11:13] Shailesh351 commented on #1207
@ear-dev Sure thing!

[2022-07-12 13:47] #1239 closed, assigned to bhardwajaditya

[2022-07-12 15:33] ear-dev opened #1241 "[SF timeout warning timer] Investigate - Can we use an endpoint to notifiy the SF liveagent that the warning banner has been triggered on the widget."
https://jira.viasat.com/browse/CUSTSE-6277

we have tested this endpoint against our uatamer SF instance but saw no reaction in the UI.

@shailesh if you can maybe get this to work on your developer instance, then we will have verified that this strategy will work and we'll coordinate with the SF team at viasat.

[2022-07-14 12:23] Shailesh351 commented on #1229
@ear-dev @AlexanderKanakis https://github.com/WideChat/Rocket.Chat/wiki/Upstream-Catchup-Best-Practices

[2022-07-14 15:07] ear-dev opened #1243 "[SNS Logger] Design an auth check from the widget before sending events"
Is this possible, and can we cover all edge cases while doing it?

@Shailesh351  please make a not in this story about your concerns and any suggestions if you have them.

@bhardwajaditya  please describe your edge cases that will not be covered by a standard implementation.

[2022-07-14 15:16] ear-dev opened #1244 "[Mobile App Android] [Bug] Transcript window does not scroll to the last message when the keyboard is opened."
MyViasat PR?

[2022-07-14 15:22] ear-dev commented on #1241
Status: The endpoint we found only populates the 'Chat Transcript Events' but there are two issues with that.

1. That panel in the UI is hidden from our live agents
2. It only populates after the case is closed.

We are trying to get a salesforce specialist to give advice.  This will be on hold till then.

[2022-07-14 15:46] ear-dev commented on #1225
@AlexanderKanakis @Shailesh351 we are seeing an issue where this feature works once, but fails a second time within the same session.  We demo'd that at the meeting today.

@Shailesh351  Can we look at the logs in kibana to try and understand the series of events please?

Observation:  In the case where the feature works the first time, we seem to be interfering with the original timer event from

[2022-07-14 15:50] ear-dev commented on #1225
@AlexanderKanakis please add a log point which includes the roomID to when your timeout event gets executed.

[2022-07-14 16:10] ear-dev commented on #1158
NOTE:  we see three flavors of this bug

- The event never gets executed and our visitors are stuck in a blackout window
- The event gets triggered 10 minutes.....  or 2 hours later and CX is totally confused
- The event gets triggered 10 minutes later and gets executed twice (maybe a few minutes apart even)

@Shailesh351 can you please look at latest RC server upstream to see if they may have a f

[2022-07-14 16:10] ear-dev opened #1245 "[Upstream Catchup] RC server"

[2022-07-14 18:51] ear-dev commented on #1225
@AlexanderKanakis Since we already merged your drop queue branch into master, when you are making the fixes and adding the log point we discussed, please make a new branch and open a new PR.  I think you may have pushed some fixes to the original feature branch you were working on?  But instead of opening a new PR on that branch, it is better to have a new branch please.  Thanks.

[2022-07-18 14:41] ear-dev opened #1246 "[scheduled events] Execution logs not showing up in Kibana"
We are seeing all of the other expected logs, just not this one.

[2022-07-18 14:41] AlexanderKanakis commented on #1225
New PR with fixes: https://github.com/WideChat/Apps.Dialogflow/pull/162

[2022-07-18 15:06] ear-dev opened #1247 "[scheduled events] Add log points for when we are writing to the db."
We will log the complete object during it's lifecyle in the db.  This will allow us to see multiple states the event goes through.

[2022-07-18 15:12] ear-dev opened #1248 "[infrastructure process] Create wiki with complete descriptions of our CI/CD processes and state."
This will allow Shailesh to start testing and promoting versions to Prod after they have been merged and verified by this team.

EAR brain dump......  do it!!!

[2022-07-19 13:45] csmith14 commented on #1163
PR for this story has been opened [here](https://git.viasat.com/ICAT/MyViasat/pull/1175)

[2022-07-21 14:58] AlexanderKanakis commented on #1221
PRs:
https://github.com/WideChat/Rocket.Chat/pull/1250

[2022-07-21 15:06] #1207 closed, assigned to bhardwajaditya

[2022-07-21 15:22] #1247 closed, assigned to Shailesh351

[2022-07-21 15:24] ear-dev commented on #1246
ear-dev: verify in kibana

[2022-07-21 15:28] ear-dev commented on #1245
@bhardwajaditya @Shailesh351

NOTE:  next catchup is a major refactor which moves to a "mono-repo"......  i.e. Livechat and Agenda will be moving into the RC.server repo.

[2022-07-21 15:29] Shailesh351 commented on #1245
https://github.com/RocketChat/Rocket.Chat/releases/tag/4.7.2

https://github.com/RocketChat/Rocket.Chat/pull/25312

[2022-07-21 15:32] #1229 closed, assigned to Shailesh351

[2022-07-21 17:39] ear-dev commented on #1227
We have not seen this issue since we increased limits on the mongodb pods.....  closing for now until it repros.

[2022-07-21 17:39] #1227 closed, assigned to ear-dev

[2022-07-21 17:44] ear-dev commented on #1226
@Shailesh351 where are we on this?  I think we'll need to be able to configure the sns_arn from within the config.json before we can deploy to prod.  I'm going to move this into TODO

[2022-07-21 18:58] ear-dev commented on #1248
@Shailesh351 please bookmark this wiki:  https://wiki.viasat.com/pages/viewpage.action?pageId=688042000

That's my current brain dump on our CI/CD.....  testing RC and RC.apps with the testbot and salesforce emulator, upgrading versions in dev, preprod and prod.....  etc...

[2022-07-22 03:21] Shailesh351 commented on #1226
@ear-dev We haven't started on this, but maybe it's time. This is a significant change because we will need to figure out how to do it efficiently by managing multiple SNS ARNs. Implementation with a single SNS ARN was straightforward.

[2022-07-22 03:47] tune6688 opened #1252 "There is no main.js file in Rocket.chat root directory after complete installation."
Dear author:
This is wei, I am very interested in the rich text support function provided in your  WideChat/Rocket.Chat. I have encountered a problem when downloading the source file through Github for installation. I hope you can give me some help, thank you very much!

**The problem is:**
There is no main.js file in Rocket.chat root directory after complete installation.

**System info include:*

[2022-07-22 15:13] #1248 closed, assigned to ear-dev

[2022-07-25 13:25] ear-dev commented on #1241
Update: Rahul is reaching out to Salesforce support to see if there is some way to implement this desired feature.

[2022-07-25 13:28] ear-dev opened #1256 "[SF.app timeout timer] Reset the timeout timer during an escalated session when the user starts typing instead of message sent."
If the visitor is typing a message, we don't want the timer to go off.  We would like the timer to reset when the visitor starts typing, instead of when the visitor sends the message.

Since our timer is controlled by the app and not the widget, maybe we need to use 'sneak peek'?

FYI - I think that I am still seeing sneak peek as flaky.....  but in the meantime we should design and implement this

[2022-07-25 17:10] #1086 closed, assigned to nobody

[2022-07-25 19:52] bhardwajaditya commented on #1234
Added changes for opening a new tab, switching and closing tabs seems difficult requires some brainstorming

[2022-07-26 14:42] ear-dev commented on #1158
@Shailesh351 I've been testing this build and it is currently failing our '**Multiple "continue_blackout" message dropping payloads in a row** ' test, described in this wiki:  https://wiki.viasat.com/pages/viewpage.action?pageId=549170025

Can you verify please?  thanks...

[2022-07-26 15:14] ear-dev commented on #1207
@bhardwajaditya please create a new PR against the SDK branch for your tabID interface.  We had previously merged what you were working on.

[2022-07-26 15:50] ear-dev commented on #1207
1. baditya.feature branch -> baditya.sns.branch (update SDK dependency)
2. baditya.sns_brangh -> WideChat
3. SDK PR
4. ServerPR - update the keys, Shailesh review

[2022-07-26 16:04] ear-dev commented on #1256
@bhardwajaditya can you please look at sneak peek to verify our fixes are still in?  not sure why my tests show it to be flaky.
Also, please come up with a design how to do this if possible.

[2022-07-26 21:03] ear-dev commented on #1210
@Shailesh351 @bhardwajaditya

I converted all of the currently defined events from the Pixel tracking plan to this json.  Not sure if it's helpful, but I'm looking for a better representation so that we can start keeping track of what we've got and where it's implemented.

[code]

[2022-07-26 21:14] ear-dev commented on #1208
@Shailesh351 @bhardwajaditya

I converted all of the currently defined events from the Pixel tracking plan to this json.  Not sure if it's helpful, but I'm looking for a better representation so that we can start keeping track of what we've got and where it's implemented.

"?" == not implemented yet.

[code]

[2022-07-26 21:18] #1237 closed, assigned to bhardwajaditya

[2022-07-29 15:15] ear-dev opened #1257 "[SNS Logger] Shailesh to merge Rocket.Chat PRs, all the way to develop_pwa"

[2022-07-29 15:16] ear-dev opened #1258 "[SNS Logger] PR to use latest livechat."

[2022-07-29 15:17] ear-dev commented on #1258
use githash not new release.

[2022-07-29 15:21] ear-dev opened #1259 "[SNS Logger] DF.agentID in the DB so we can add as metadata to events"

[2022-07-29 16:13] #1158 closed, assigned to Shailesh351

[2022-07-29 16:18] #1246 closed, assigned to Shailesh351, ear-dev

[2022-08-01 17:38] #1205 closed, assigned to Shailesh351

[2022-08-01 17:39] #1258 closed, assigned to Shailesh351

[2022-08-01 17:39] #1257 closed, assigned to Shailesh351

[2022-08-02 15:21] ear-dev opened #1264 "[SNS Logger] Can we track close tab behavior?"
Currently we can track when a visitor opens and uses a new tab, but we don't yet have a method for tracking if a user closes a tab.  This includes we don't have an event for visitor ends session by closing a tab.

- visitor closes a tab. - ??
- visitor closes a tab which closes the myViasat app. - ??
  - Note: myViasat app has more control and more information about tab behavior than we do....

[2022-08-02 15:24] ear-dev opened #1265 "[SNS Logger] Investigate - Does visitor refreshing the page change the tabId or the sessionId?"
Currently we log tabId with every event and we would like to track users tab behavior.  If a refresh changes these id's that will affect how we need to correlate events on the back end.
This issue will cause ambiguity.... is there a solution?

[2022-08-02 15:27] #1234 closed, assigned to bhardwajaditya

[2022-08-02 15:50] ear-dev commented on #1225
NOTE: We rolled this fix back out of master.  We are going to put this back in the backlog and address it later.  @AlexanderKanakis when we decide to do it again you will need to port all changes to a new feature branch.  Sorry for the confusion and extra work.

[2022-08-04 15:19] ear-dev opened #1267 "[pwa rollback] remove PWA changes - new base branch == develop?"
- Force push develop_pwa -> develop
- Roll back PWA changes in the develop branch (PR)
- After that we have a new base branch == develop

- The new catchup merge goes against our new develop base branch.

[2022-08-04 15:23] ear-dev commented on #1245
@bhardwajaditya we decided to roll back PWA changes......  can you believe it!!

Please do that first, and end up with a new base branch for us....  == develop.  Then go back to this catchup and do it against develop branch please.

[2022-08-04 15:24] ear-dev opened #1269 "[ECR push] Refactor the build and test workflow to push images to ECR from develop instead of develop_pwa"
Once we have a new base branch == develop, we need to start pushing those to ECR for our pipeline deployments instead of develop_pwa

[2022-08-04 15:37] Shailesh351 commented on #1245
@bhardwajaditya @ear-dev

@bhardwajaditya Can you please make a list of the features which we will roll back? Just to make sure we don't lose anything important. I remember these three,
1. Push Notifications
2. Sidebar changes for mobile
3. Service worker changes for offline chat

[2022-08-04 15:38] Shailesh351 commented on #1267
@bhardwajaditya @ear-dev

@bhardwajaditya Can you please make a list of the features which we will roll back? Just to make sure we don't lose anything important. I remember these three,
1. Push Notifications
2. Sidebar changes for mobile
3. Service worker changes for offline chat

[2022-08-08 18:12] csmith14 commented on #1163
Original PR in MyViasat repo has been closed, new PR opened in the ICAT/mfe monorepo: https://git.viasat.com/ICAT/mfe/pull/212

[2022-08-09 15:10] ear-dev opened #1271 "[Visitor Abandonment] After server upgrades the inactivity monitor does not work until we toggle the setting"
ee/app/livechat-enterprise/server/startup.ts

https://github.com/WideChat/Rocket.Chat/blob/develop_pwa/ee/app/livechat-enterprise/server/lib/Helper.js#L163...L169

Need to debug  on the DB when in bad state....

[2022-08-09 15:13] ear-dev opened #1272 "[SNS Logger] Add events from Salesforce app"
Our source of truth in regard to the list of events we want to implement is here: https://github.com/WideChat/Rocket.Chat/wiki/SNS-Logger

This story for Salesforce events in particular:
[code]

[2022-08-09 15:18] ear-dev commented on #1206
@bhardwajaditya please review all three of these PRs.

[2022-08-09 15:30] ear-dev opened #1273 "[RC cypress tests] Re-enable the homepage tests after we have reverted our PWA changes and merged with upstream 5.0"
Aditya please include this  with your final catchup PR

[2022-08-09 19:36] ear-dev commented on #1206
@bhardwajaditya @Shailesh351 I have put this all together in my testbed and tested it. It works great!  The event I'm seeing is Chat Session: started

Nice job...thanks.

After Aditya's review we'll merge.

[2022-08-09 21:16] #1259 closed, assigned to Shailesh351

[2022-08-15 15:40] ear-dev commented on #1206
@bhardwajaditya have you had a chance to review these PRs by any chance?  Thanks!

[2022-08-16 15:53] ear-dev opened #1275 "[missing appName/token] new logging to help debug this long standing issue."
We want to add two new debug methods to this inquiry.
- Add source url to the integration script... make sure that it is associated with a roomID, preferably in the rocketchat_livechat_visitor table if possible (or at least someplace that will allow us to correlate livechatData with this new value).
    - This will effectively operate as a flag, that we can use to understand if new myViasat versio

[2022-08-16 16:49] ear-dev opened #1276 "[SNS Logger] Add MessageGroupId to the metadata in our events sent to SNS."
See:  https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/sns.html#SNS.Client.publish

We need to include another parameter on the same level as 'Subject' for 'MessageGroupId'.  For now we will associate our message group with the specific RC instance sending the message.  Therefore each Rocketchat Server will have a unique MessageGroupId that will be attached to all message

[2022-08-16 18:09] Shailesh351 commented on #1276
@ear-dev I have added Site URL as MessageGroupId in this PR https://github.com/WideChat/Rocket.Chat/pull/1228

[2022-08-17 04:12] Shailesh351 opened #1277 "[Blocked Until v5.x][Upstream Catchup] Rocket.Chat.Apps-engine"
https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/53

[2022-08-17 15:58] ear-dev opened #1278 "[BUG] [Chat End Logging] Fix "Conversation closed:" logging as seen in a chat session transcript for escalated sessions"
Currently the "Conversation closed" message is not always accurate.

For example, in an escalated session all Conversation closed messages show "Chat ended by visitor", even if the chat was actually closed by the agent, or timed out.
https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/master/helperFunctions/subscribeHelpers/SalesforceAgentAssignedHelpers/HandleEndChatCallback.ts#L62

We nee

[2022-08-18 12:12] ear-dev opened #1279 "[SNS Logger] Add events from Dialogflow app"
Our source of truth in regard to the list of events we want to implement is here: https://github.com/WideChat/Rocket.Chat/wiki/SNS-Logger

This story for Dialogflow events in particular:
[code]

[2022-08-18 14:54] ear-dev commented on #1244
Note: this was not consistently reproducible, so we will need to investigate if it's a real issue again.

[2022-08-18 15:06] ear-dev commented on #1272
Note: there does not seem to be a response from SF that indicates the wait time in queue before the visitor actually gets connected to an agent.  We will need to implement a timer so we can provide that information in an event.

[2022-08-18 15:34] ear-dev opened #1280 "[SF timeout] Implement a livechatTranscriptEvent for when the visitor time out due to inactivity..... send it to SF for debugging later."
Now that we have some visibility into the transcriptEvents this will be useful.

we will need to investigate how and if this works

[2022-08-18 15:52] Shailesh351 commented on #1279
@ear-dev I have added some events below which I indentified in the code.
[code]

[2022-08-18 15:55] Shailesh351 commented on #1272
@ear-dev I have added some events below which I identified in the code.

[code]

[2022-08-18 21:10] bhardwajaditya commented on #1267
Changes rolled back:

1. Push Notifications
2. Sidebar changes
3. Service worker registration
4. Local storage of ownUser, Chat messages, Roles
5. Lazy loading of emoji module
6. Css changes for PWA
7. Read receipts
8. Message popup changes
9. Offline message actions/file upload
10. Search bar designed for PWA
11. Removal of manifest file

[2022-08-19 07:46] Shailesh351 opened #1282 "[BUG][SF] agentEndedFlag is true when chat ended by visitor"
When chat is ended by Salesforce Agent, it sets a flag in customFields `agentEndedFlag` to true.
But currently, it is also setting a flag in the case when the visitor ends the chat, which is misleading.

For now to differentiate chat ended by visitor and agent we can check `Conversation closed:` reason in RC .
It shows `Chat closed by visitor..` when the agent closes the chat.
It shows `Closed by

[2022-08-19 12:40] #1195 closed, assigned to AlexanderKanakis

[2022-08-19 12:40] #1221 closed, assigned to AlexanderKanakis

[2022-08-19 12:40] #1206 closed, assigned to Shailesh351

[2022-08-19 12:40] #1276 closed, assigned to Shailesh351

[2022-08-19 12:41] #1163 closed, assigned to csmith14

[2022-08-19 12:43] ear-dev commented on #1282
@Shailesh351 Are you saying that currently when the visitor ends the chat, the same `agentEndedFlag` is set to true?  So that flag is always set to true regardless of who closes the chat?

[2022-08-19 12:47] Shailesh351 commented on #1282
Yess

[2022-08-19 12:50] ear-dev commented on #1282
Wow.......  good catch!  thanks.

[2022-08-19 12:52] #1282 closed, assigned to Shailesh351

[2022-08-19 14:23] ear-dev commented on #1279
@Shailesh351 we just confirmed with the Pixel team that it is fine to add new property values at will.  I just need to add them to that tracking-plan.xls.  So feel free to add those new values you are suggesting please.  Same thing in the SF story as well of course.

Note:  we have sometimes been seeing both "same target department" and "liveagent bot offline or disabled" and perhaps we should try

[2022-08-19 19:41] ear-dev commented on #1275
Capturing this thread here: @Shailesh351 @bhardwajaditya

[code]

[2022-08-23 14:07] AlexanderKanakis commented on #1223
PR: https://github.com/WideChat/Rocket.Chat.Livechat/pull/151

[2022-08-25 17:40] ear-dev commented on #1272
@Shailesh351 did we come to any decision yet on successful escalation `queue_time`?  Last I recall there was no value provided by SF.....  should we go ahead and implement our own?

[2022-08-26 04:58] Shailesh351 commented on #1272
@ear-dev No, we are yet to decide on how to get the queue time. For now, I have kept it blank.

[2022-08-26 14:43] #1279 closed, assigned to Shailesh351

[2022-08-26 14:44] #1272 closed, assigned to Shailesh351

[2022-08-26 14:56] ear-dev opened #1285 "[Live Agent Handover][Outside Business Hours] Design how to detect and handle this escalation failure."
Currently we can not distinguish between "no agents available" and "oustide of business hours" when an escalation fails for these reasons.

There was some thought that Business Hours might be handled by the DF bot....  and RC has a business hours feature.......

Need to make a more definitive design for this case, and send the correct event.

[2022-08-26 14:57] ear-dev opened #1286 "[SF logging] Implement a timer that will track queue_time while a visitor is waiting to be connected to a live agent."
There does not seem to be any value for this coming from SF itself.  We would like to be able to track queue_time in the handover successful event.

[2022-08-26 14:58] #1208 closed, assigned to nobody

[2022-08-29 14:24] ear-dev opened #1287 "[BUG] Blackout window does not work after first message in a new session"
We are seeing sessions where the visitor types "hello" and then immediately types something else like "1".  In these cases both messages are getting through to CX.agent, before the agent has time to respond to the initial message. This causes the agent to throw one of those "no handler is defined for" errors.

Is it possible that the DF message that includes the 'disableInput' customField at sessi

[2022-08-29 14:35] ear-dev opened #1288 "[BUG][chat window] Double New line characters are collapsed to a single new line in RC livechat chat windows."
We would like to be able to send messages from DF.agent that were formatted with new line characters.  Currently when those are displayed in the widget the new line character is stripped and the lines are collapsed.

Same as described in this issue:  https://github.com/RocketChat/feature-requests/issues/385

[2022-08-29 17:09] ear-dev opened #1289 "[BUG] Oplog connection sleeps forever after disconnect; Preprod servers get into a bad state where client does not receive "stream-room-messages""
We've been seeing this frequently again on our test RC instance in the preprod VAP account.  When the server is in this bad state the visitor will not see any of the messages from DF unless they refresh the page.

Restarting the RC server fixes the issue.

How can we debug this?  do we need to instrument areas in the pu/sub RC server code?

[2022-08-29 17:49] ear-dev commented on #1289
NOTE:  Looking at the Rocketchat Metrics logs in kibana, I notice that there is no oplog activity during the periods when we are experiencing this issue, yet, on a healthy server there is always at least some activity.

![image](https://user-images.githubusercontent.com/28864717/187265652-515ff508-1333-44f1-9db5-5cb7f6f80593.png)

[2022-08-30 12:11] ear-dev commented on #1289
UPDATE:  It seems like the issue is that the mongodb-0 pod is frequently failing the kubernetes liveness probe and restarting occasionally.  After a restart, it sometimes happens that the oplog connection from the server does not re-connect, but ends up in some kind of a sleep state.  I believe this happens when this pod gets scheduled onto an overloaded node, and I am working with the infra team

[2022-08-30 15:31] ear-dev commented on #1288
if the server is collapsing then the change will be on the server and not in livechat.....  it just get picked up in our widget.

[2022-08-31 15:00] ear-dev commented on #1289
From @bhardwajaditya
[code]
Thanks....  I consider this stale connection issue to be a pretty bad bug.  For example, kubernetes is designed to swap pods in and out under various circumstances, which is a good thing when needed.  It makes for a more robust deployment.  But if RC can't consistently maintain the oplog connection when mongodb pods get swapped around, then that breaks the model.

[2022-08-31 16:27] csmith14 opened #1290 "Update SNS Analytics 'Escalation Successful' event to include SF session ID as 'sf_chat_key' in event properties"

[2022-09-01 15:11] ear-dev commented on #1267
@bhardwajaditya please include the removal of those new features Shailesh pointed out, because we do not need them anymore and want to get as clean as possible in preparation for the v5.x refactor merge.

[2022-09-01 15:14] ear-dev commented on #1267
Process:

- merge this into develop when ready
- create PRs for all of the 4.x catchup merges against the new develop, and when ready we'll merge that into develop
- create PR for the v5.x refactor merge against the clean and fully up to date develop branch.

[2022-09-01 15:30] ear-dev commented on #1289
Redis oplog:  https://github.com/cult-of-coders/redis-oplog

or

use a managed service like Atlas or AWS?

[2022-09-01 15:43] ear-dev commented on #1289
It's possible that a managed mongodb service is our best solution. @bhardwajaditya please investigate if that would be compatible with Rocketchat.  Please investigate the AWS mongodb offering.  thanks.

[2022-09-01 18:47] csmith14 commented on #1256
~Two PRs have been created in relation to this story:~
- ~https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/71~
- ~https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/54~

EDIT: These are now out of date.

[2022-09-02 17:44] csmith14 commented on #1290
https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/73

[2022-09-03 04:55] AlexanderKanakis commented on #1288
PR: https://github.com/WideChat/Rocket.Chat.Livechat/pull/153

[2022-09-06 15:25] ear-dev commented on #1286
SNS logger events wiki:  https://github.com/WideChat/Rocket.Chat/wiki/SNS-Logger

[2022-09-06 19:48] #1223 closed, assigned to AlexanderKanakis

[2022-09-07 14:14] #1290 closed, assigned to csmith14

[2022-09-08 15:12] Shailesh351 commented on #1287
```verificationPause -> Text and event RegisteredAccountInfo(User sends msg in between which is queued) -> queue msg sent and verificationPause received again -> now RegisteredAccountInfo executed which throws no handler error```

Example sessions: Brazil PROD rXwMHDbHgcu4wmGYk wyLPPDeEGXFkEZoTw

https://github.com/WideChat/Apps.Dialogflow/commit/db91d5566cb58b0a979ea65d40a108054484fe32
https://gi

[2022-09-08 15:17] ear-dev commented on #1287
solution:  DF.agent should include a 'drop_queue' action along with the verification_pause (timer_event == verification_pause)

[2022-09-08 15:52] AlexanderKanakis commented on #1286
PR:
https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/74

[2022-09-08 20:39] ear-dev opened #1293 "[Apps-engine] Intermediate catchup merge needed to test the RC v4.9 build"
Aditya is doing the upstream catchup merge in the Rocket.Chat repo, to v4.9, before doing the v5.x catchup.

In order to fully build and test v4.9 we need to provide the Apps-engine v1.32

Currently we already have a PR for Apps-engine v1.33, which we will merge after RC v5.x is ready, but this story is to create the merge PR for v1.32 in order to facilitate Adityas work.

https://github.com/WideC

[2022-09-09 13:48] ear-dev commented on #1287
NOTE: We think that we missed a requirement in the spec for blackout_window and queue_window:

- Blackout window and queue window are mutually EXCLUSIVE. They cannot exist at the same time.  Blackout window ALWAYS takes precedence over a queue window.

Once we implement this then we will not be sending that rogue message off the queue at the end of our blackout window, which was the cause of the D

[2022-09-09 17:09] #1219 closed, assigned to ear-dev

[2022-09-09 17:16] #1231 closed, assigned to nobody

[2022-09-13 15:16] #1293 closed, assigned to AlexanderKanakis

[2022-09-13 15:24] ear-dev commented on #1278
Non Escalated Sessions:  I'll make a new story for these

- visitor abandonment
- closed by visitor (clicking the x)

[2022-09-13 15:26] ear-dev opened #1297 "[Chat End Logging] DF.app proper chat end reason logging; Failed escalations (DF.app and SF.app)"
This story is for system messages only. i.e. messages that the visitor does not see, but they appear in the Admin/Ui as "Conversation closed" messaging.  We need to make sure all the conversation closed messaging is accurate.

DF.app:
- visitor abandonment
- chat closed by visitor (clicking the x)
- SF service unavailable (dept. not configured)
- ??

SF.app:
- service unavailable
- no agents avail

[2022-09-13 15:34] ear-dev opened #1298 "[BUG] [Duplicate of 1297] - Conversation closed message contains the a DF.config value for "close_chat_message""
The DF.config value for "close_chat_message" should appear in the transcript window.

Our bug is that when we hit the "invalid department" error during escalation,  it is currently showing up in the "Conversaion closed:" system messages.

[2022-09-13 17:40] #1288 closed, assigned to AlexanderKanakis

[2022-09-13 17:40] #1286 closed, assigned to AlexanderKanakis

[2022-09-13 17:43] csmith14 opened #1299 "Create RC component to display embedded Okta login page for Okta SSO flow"
- Create new component for route activated upon reception of Okta login payload
- Add RC handler for Okta login payload.

[2022-09-13 17:45] csmith14 opened #1300 "Add RC handler for Okta login payload"
Add handling of new custom field value (similar to timer payload), possibly handle in timeout.ts

[2022-09-14 15:48] ear-dev commented on #1287
@Shailesh351 should this be "under review" now?  Thanks.

[2022-09-14 16:01] #1287 closed, assigned to Shailesh351

[2022-09-14 16:14] AlexanderKanakis commented on #1278
PR: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/75

[2022-09-15 15:19] ear-dev commented on #1275
Ideas:  Can we log something in an SNS event that would help us figure out which version of the myViasat app the visitor is using?

Can we recreate the integration debug logging using SNS events so we can see what might have happened in cases where we get no livechatData at all?

[2022-09-15 15:33] ear-dev opened #1301 "[Enterprise Development] RC upstream put livechat trigger behind enterprise. How do we handle that?"
- Is it even possible to use enterprise license with localhost?
- How do developers work on enterprise features?
- Should we consider short circuiting all of enterprise, or maybe just recreate livechat triggers in our fork outside of enterprise?
- Possible new developer best practice could be to manually insert the trigger into the db?

[2022-09-15 17:32] ear-dev opened #1302 "[SF.app] Design and implement dynamic Salesforce URL site switching"
We recently had an issue where we failed to escalate sessions because Salesforce itself did an update and switched our site URL without notifying us.  That is apparently normal Salesforce behavior, and part of their normal failover/maintenance. Here is an article about it, as well as how we are supposed to handle it:

https://help.salesforce.com/s/articleView?id=000337828&type=1
https://help.sales

[2022-09-20 15:20] Shailesh351 opened #1303 "[SF] Log SF API responses in the debug mode which will help in debugging"

[2022-09-21 15:48] csmith14 commented on #1302
After some research, it looks like the only endpoint that returns this 'SwitchServer' payload is `/chat/rest/Visitor/Availability`

Forum post on the topic:
https://developer.salesforce.com/forums/?id=9060G000000UVwHQAW

Availability Endpoint doc:
https://developer.salesforce.com/docs/atlas.en-us.live_agent_rest.meta/live_agent_rest/live_agent_rest_Availability.htm

SwitchServer response doc:
http

[2022-09-22 07:00] Shailesh351 commented on #1302
@csmith14 @ear-dev How about calling `/Availabilty` endpoint before sending a chat request to Salesforce?

I checked from the RC side, there is no direct method to update the App setting from the code. It only supports updating the App settings from the App at the initialization stage https://rocketchat.github.io/Rocket.Chat.Apps-engine/interfaces/accessors_isettingsextend.isettingsextend.html.

S

[2022-09-22 14:41] csmith14 commented on #1302
It seems that we do hit this endpoint already [here](https://github.com/WideChat/apps.salesforce.liveagent/blob/0380e65f8fc0c677de806a9ff600083d5db5f39d/endpoints/AvailabilityEndpoint.ts#L55)

But I'm not sure if we could extend it to return the new url in the `results` property of the returned object? And if we did, what the result of that would be is unclear as I haven't looked closely at how th

[2022-09-22 14:54] Shailesh351 commented on #1302
Yes that endpoint is currently just sitting there as exposed App REST API endpoint https://github.com/WideChat/Apps.Salesforce.LiveAgent/tree/master#rest-api-endpoints

But it is not part of the chat creation flow.

One other option is to periodically call the above endpoint and also use REST API to update the App setting. Not a good option though as we will need to maintain it separately

[2022-09-22 15:10] ear-dev opened #1304 "[SNS logging] Add event for visitor abandonment."
When the visitor closes the tab mid session, the chat close functionality belongs to Visitor Abandonment.  We would like an RC event for this.

Added this to the wiki.

[2022-09-22 15:32] ear-dev opened #1305 "[Bug][Widget Timeout][Escalated Sessions] Disable the close chat functionality in the widget when timeout control is set by the SF.app"
We still want to show the timeout timer banner on the widget, so we will need to continue sending the customFields from the SF.app.
We will rely only on the scheduled event currently being set by the SF.app when it is set to "App"

[2022-09-22 15:47] ear-dev commented on #1256
ISSUE: In order to reset the timeout banner on the widget when the visitor starts typing, we need to send a message from the SF.app down to the widget that resets the customFields.  However we do not want to display any message content to the visitor for this type of message/payload.
Maybe we need to create a new listener where the app can publish a message that the widget will listen for.  This i

[2022-09-22 15:57] ear-dev commented on #1267
this is ready to be tested.  @ear-dev will test.  @Shailesh351 will give it a final review.

[2022-09-22 15:58] ear-dev commented on #1245
Status: all 4.x merges are complete however livechat not functioning properly yet.  Aditya will debug, Shailesh can help.

https://github.com/WideChat/Rocket.Chat/pull/1294

[2022-09-22 16:02] ear-dev opened #1306 "[Sns Logging] Fix chat transfer logging."
Shailesh thinks he found a spot that we missed when implementing the event.

[2022-09-22 16:05] #1301 closed, assigned to Shailesh351, AlexanderKanakis, bhardwajaditya

[2022-09-23 13:20] ear-dev opened #1307 "[SNS Logger][Blocked Waiting for Verification] Fix failed escalation count mismatch."
I can see in our alert room that we had 5 failed escalations on 9/22, however our event logging is only showing 3.  Seems like we must have missed some flavors.

In the alert room we got:
2x: {"errorMessage":"Error getting Liveagent response.","error":
1x: {"errorMessage":"Error sending Liveagent chat request.","error":
1x:  {"error":"","errorMessage":"Unable to reach Liveagent bot, it may be offl

[2022-09-23 13:49] #1226 closed, assigned to Shailesh351

[2022-09-23 16:35] AlexanderKanakis commented on #1298
PRs:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/172
Apps.Salesforce.LiveAgent: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/78

[2022-09-23 16:36] AlexanderKanakis commented on #1297
PRs:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/172
Apps.Salesforce.LiveAgent: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/78

[2022-09-23 16:57] ear-dev opened #1308 "[Bug] some characters not handled correctly in the client side widget"
This must have to do with the new livechat message parser which converts characters.

In this conversation I was typing the word "I'm"

![image](https://user-images.githubusercontent.com/28864717/192013407-bfd18606-e932-4d87-8afd-dd5da54623fe.png)

[2022-09-26 18:00] csmith14 commented on #1305
This has been addressed in this PR: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/79

[2022-09-26 18:06] csmith14 commented on #1256
Three PRs have been created for this story:

- https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/79
- https://github.com/WideChat/Rocket.Chat.Livechat/pull/154
- https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/54

[2022-09-27 15:08] ear-dev commented on #1307
NOTE: It is possible that @AlexanderKanakis 's close chat/event PRs will cover many if not most of these cases.  We will wait until we deploy that to verify if we still have a mismatch.

relevant PRs here:  https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/75/files

[2022-09-27 15:22] ear-dev commented on #1256
@csmith14 Please verify if the apps-engine PR is still required and reference it in this story if it is.  If not please close the PR on apps-engine repo.   thanks.

[2022-09-27 15:30] #1300 closed, assigned to csmith14

[2022-09-27 17:50] #1303 closed, assigned to Shailesh351

[2022-09-28 16:29] ear-dev opened #1312 "[RC API] Fix the users endpoint to conform to standards when updating (PUT) a user"
The body of a POST request to the users endpoint looks like this:
[code]

But the body of the PUT request on the users endpoint is nested like this:

[code]

This is a problem in our automation because we can only support a single template file for the body of an API request.

Can we modify the put request to handle the un-nested payload?

[2022-09-28 18:58] ear-dev opened #1313 "[BUG] [DF.config.json] Verify if dialogflow_disable_composer_on_trigger_event and welcome_intent_on_start attributes still work."
In my testing the widget defaults to composer disabled, even when the flag is set to false.

[2022-09-29 14:39] ear-dev commented on #1308
@AlexanderKanakis this is a client facing bug, so can you please prioritize this one?  thanks.

[2022-09-29 14:41] ear-dev commented on #1304
@Shailesh351 maybe this will be a quick one?  We're thinking that this might account for the discrepancy in our "total sessions" vs. "session close method" event tracking. Thanks.

[2022-09-29 15:24] ear-dev commented on #1256
Update:  Shailesh has suggested a design where we continue to use the same mechanism for passing info to the widget (a message), but only send one when the timeout warning banner is to be displayed, as opposed to every time the user types in order to reset the customFields.

This design will give all control to the RC.server/SF.app, and take it away from the widget entirely.

Perhaps we need a sec

[2022-09-29 15:27] ear-dev commented on #1256
NOTE: consolidating stories for this story to include the Bug:
When the setting on SF.app is toggled to "App", currently the widget is still also in control of killing the session when the timer goes off.  We only want this control coming from the RC.server.

[2022-09-29 15:27] #1305 closed, assigned to csmith14

[2022-09-29 15:47] ear-dev commented on #1275
Idea:  Does the myViasat team have their own event tracking (radon?).  Maybe we can start sprinkling our own events around using that, to help us debug?

[2022-09-29 16:13] #1267 closed, assigned to bhardwajaditya

[2022-09-29 17:08] Shailesh351 commented on #1256
@csmith14 Here are some links that might help

https://developer.rocket.chat/apps-engine/adding-features/scheduler-api
https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/master/SalesforceLiveAgentApp.ts#L126
https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/master/lib/IdleSessionTimeoutProcessor.ts
https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/master/helperFunctions/T

[2022-09-29 21:45] ear-dev opened #1314 "[SNS logger][New event property] Catch a session closed event with property 'df_bot'"
There are some conversation flows where the session is closed by the bot.  No appName/token being one.  Another one is where the flow just comes to a natural conclusion and the visitor has no more questions.

We must be getting a flag from DF to close the session, and we should catch that in a new event.

let's make it this:                  {"close_method": "df_bot"} <- ?? - maybe DF.app?

[2022-10-04 14:37] ear-dev commented on #1306
NOTE: we are still seeing this issue after deploying the latest fix into production.  It's quite likely I think that something else is going on during these mid chat transfers and that SF is not sending us the flag that we expect.  We have enabled debug logging on SF responses, but at the moment it is not working in prod.

@ear-dev will set this up on our dev server and see if we can figure out wh

[2022-10-04 15:25] ear-dev commented on #1313
NOTE: this is working fine for @AlexanderKanakis

[2022-10-04 16:40] AlexanderKanakis commented on #1312
@ear-dev are you sure that the current body has this form?
[code]

I sent a PUT request with this body successfully:
[code]

[2022-10-04 16:55] ear-dev opened #1316 "[SNS Logging] New SF event for message type=AgentDisconnect"

[2022-10-04 18:06] ear-dev commented on #1312
{"data": { "user": {}}} worked for me, maybe it works for both?

But in any case, is it possible to factor such that we don't need the "data" block?

[2022-10-04 18:08] AlexanderKanakis commented on #1312
@ear-dev I have successfully modified the PUT method of `users/:userId` but we also have a POST method with `users.update/:userId`. Do we want to alter it too?

[2022-10-04 18:44] ear-dev commented on #1312
nope.  that users.update endpoint is the legacy endpoint from upstream, and we do not want to use those.  thanks.

[2022-10-04 19:11] #1306 closed, assigned to Shailesh351, ear-dev

[2022-10-04 20:42] #1313 closed, assigned to AlexanderKanakis, ear-dev

[2022-10-04 20:43] ear-dev commented on #1313
I upgraded the RC server and this now works.  Must have been an old bug or something.

[2022-10-05 17:43] #1308 closed, assigned to AlexanderKanakis

[2022-10-06 14:36] #1312 closed, assigned to AlexanderKanakis

[2022-10-06 15:04] #1298 closed, assigned to AlexanderKanakis

[2022-10-06 15:22] ear-dev commented on #1245
NOTE: the 4.x merges have been merged into develop...  next step to work on the 5.x merge.

[2022-10-06 16:33] ear-dev commented on #1297
Since I have merged the DF PR, and @AlexanderKanakis is going to combine PR 78 into SF PR 75, I am going to close this story, and then we will have a single story in regard to the close chat messages in the SF repo.

[2022-10-06 16:33] #1297 closed, assigned to AlexanderKanakis

[2022-10-10 18:19] ear-dev commented on #1304
@Shailesh351 I merged this PR, but then noticed that it was against the develop branch.  Can you recreate the PR against the develop_pwa branch please?  thanks.

[2022-10-11 02:31] Shailesh351 commented on #1304
@ear-dev I forgot to create it against develop_pwa. Sorry about that. I have created a new PR for develop_pwa https://github.com/WideChat/Rocket.Chat/pull/1320

[2022-10-11 14:32] #1304 closed, assigned to Shailesh351

[2022-10-11 14:57] ear-dev commented on #1302
We have been notified that there will be another SF site switch in November.  If we could implement this before then that would be very useful I think.

[2022-10-11 17:39] ear-dev opened #1321 "[BUG] Character handling is not correct in the RC Admin UI view, or in Salesforce"
We recently fixed special character handling in the message parser as it appears in the widget.  Currently that part looks good.  But if you look at the RC Admin UI and view a conversation, the special characters are mangled.  It also shows up that way in Salesforce, which we definitely need to fix.

Our recent fix:  https://github.com/WideChat/Rocket.Chat/issues/1308

View in the Widget:

![image

[2022-10-13 18:38] ear-dev opened #1322 "[SNS Logger] Investigate/verify if a failed escalation event also triggers a Chat Session closed event"
Logically we would like to separate failed escalations from chat closed events.  If a session fails to escalate, we are capturing that as a discrete event.  But we should also trigger a second discrete event which describes Chat Session closed - with property "escalation_failure".

"Chat Session": [
  	{"closed": [
                ...
                {"close_method": "escalation_failure"}  <- ??

[2022-10-13 18:52] AlexanderKanakis opened #1323 "[SF.App] Uncaught case for invalid salesforce bot username in admin UI"
Invalid sf bot username in the Apps settings, transfers the session to the correct department, but there is no error callback for it and the is no escalation.

[2022-10-14 15:33] Shailesh351 opened #1324 "[SF.App] Error the message already contains a custom field by the key: salesforceAgentName\"
We are seeing error in the SF app while adding custom field `salesforceAgentName `

[code]

[2022-10-14 15:40] ear-dev commented on #1278
Reopening:  After deploying this into production our escalation numbers got worse.... i.e. attempted + successful + failed do not add up at all.  Before this upgrade they were very close, within 1 - 5 diff.

Here's how it looks now, in the past hour since doing the upgrade.

![image](https://user-images.githubusercontent.com/28864717/195886656-e91e8312-e3a2-46e6-88c2-0c2020f078f6.png)

[2022-10-14 15:42] ear-dev commented on #1278
@Shailesh351 will look at this to see what we may have broken.

[2022-10-14 17:53] ear-dev commented on #1278
@AlexanderKanakis FYI - we had to revert this PR out of the main branch in the SF app.  It's still unclear exactly what was happening, it could have been simply that I was experiencing a bad install on our prod instance.  In any case, we're testing again now, and we can merge it back in when ready.

NOTE:  One thing I am seeing at the moment on this branch is that failed escalations are getting lo

[2022-10-18 12:55] AlexanderKanakis commented on #1321
![image](https://user-images.githubusercontent.com/18405180/196435351-32c11711-923b-494b-b412-ffb9031a7688.png)
SF view

[2022-10-18 15:07] ear-dev commented on #1321
@AlexanderKanakis please revert the livechat changes we made in our initial fix for this issue and attach the PR to this story.  Thanks.

[2022-10-18 15:14] ear-dev commented on #1278
@Shailesh351 will add a fix for double logging of agent not available event.  Maybe the issue we saw in prod was a bad installation and ear will test again in preprod

[2022-10-18 15:17] ear-dev commented on #1324
@Shailesh351 please add some info and links to this story to point alexander to the issue.  thanks.

[2022-10-18 15:19] Shailesh351 commented on #1324
We are seeing this after this PR. Maybe it is because we are setting salesforceAgentName in `helperFunctions/LivechatMessageHelpers.ts` but we didn't remove it from `lib/PostMessageClassInitiateHandler.ts`

[2022-10-18 15:21] AlexanderKanakis commented on #1324
Any specific PR?

[2022-10-18 15:22] Shailesh351 commented on #1324
Sorry, I forgot to mention. Here's the PR https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/67

[2022-10-19 20:56] ear-dev opened #1328 "[BUG][Livechat Widget][Agent Name in Header & Avatar] Handle the case when an escalated chat gets transferred to a new agent because of the AgentDisconnect issue"
Currently we are already handling the case when a liveagent transfers a chat to a second agent, using the 'transfer chat' button in the SF UI.

However, when the chat gets transferred to a new agent, because of the AgentDisconnected issue, there is a different mechanism going on, and our widget does not pick up the new agent name in the banner or in the avatar.

We need to fix.

[2022-10-20 14:47] Shailesh351 opened #1329 "[Upstream Catchup] Fix Issues found after the latest RC Server catchup 4.8.1"
- [ ] Build is failing
- [x] Last updated commit hash UI changed
- [x] Merge conflicts in history.json file
- [x] We removed all the cypress tests?
- [x] Some Localizations are not needed anymore. Need to be removed I.e. Vapid_public_key
- [x] Duplicate key in the pt-Br.i18n.json file
- [x] Contacts/server is back. I think we removed it
- [x] Some push notifications and push Message UI related stu

[2022-10-20 14:49] Shailesh351 commented on #1329
@ear-dev @bhardwajaditya I successfully ran the latest catchup(https://github.com/WideChat/Rocket.Chat/pull/1294) locally. Functionally all looks good. But I did find some other issues. I have mentioned those in this Issue. Thanks!

[2022-10-20 14:52] Shailesh351 opened #1330 "[BUG][Livechat Widget] Avatar not showing up proper in the widget when SF liveagent is typing"
When Salesforce liveagent is typing, an avatar is not the agent name initial, it’s the RC liveagent user avatar

<img width="758" alt="Screenshot 2022-10-20 at 7 05 14 PM" src="https://user-images.githubusercontent.com/18264684/196983119-c0fa2dd6-b364-4d9d-a40e-bb91b8c13c96.png">

[2022-10-20 14:55] ear-dev commented on #1329
thanks @Shailesh351 "Auto catchup is disabled" I think you are referring to the fact that I disabled it intentionally?  My thought is that we don't want to run that now, until we have finished with the 5.x catchup stuff and we're all caught up that far.  I think that's the right thing to do?

[2022-10-20 14:59] Shailesh351 commented on #1329
Yeah, If we did it intentionally then it's fine. Just need to make sure we don't forget to enable it 😄 . Maybe we can create an issue for that?

[2022-10-20 17:42] #1322 closed, assigned to nobody

[2022-10-20 17:50] ear-dev commented on #1321
@AlexanderKanakis did you also do this and test?

[2022-10-20 17:51] AlexanderKanakis commented on #1321
https://github.com/WideChat/Rocket.Chat.Livechat/pull/156. Tested.

[2022-10-20 18:02] #1278 closed, assigned to Shailesh351, AlexanderKanakis

[2022-10-20 20:20] ear-dev commented on #1329
@Shailesh351 @bhardwajaditya Lets have Shailesh fix these remaining issues against the develop branch, and get the 4.8 version exactly how we want it before merging a 5.x branch.  That will allow Aditya to keep working on the 5.x stuff.  Thanks.

[2022-10-24 15:41] #1269 closed, assigned to ear-dev

[2022-10-24 19:16] ear-dev opened #1331 "[SNS Logging] [sf_emulator only] expired_session and timeout events get fired at the same time causing double closed_session logging"
I'm not sure if we should remove session_expired or if we only need to handle it in a case that is not also a session_timeout, if there is such a thing.

This came out of this PR: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/85

[2022-10-25 15:20] #1299 closed, assigned to csmith14

[2022-10-25 15:22] ear-dev opened #1332 "[Tracking] Okta login with widget and CX for transferbot"
Cameron working on another story for this on the jira board.

https://jira.viasat.com/browse/CUSTSE-6791

[2022-10-26 15:45] ear-dev commented on #1331
NOTE: this is only an issue with our sf_emulator.  We are not seeing this against the Viasat Salesforce instances.  We should investigate and fix why this is happening in the emulator, although not a high priority.

[2022-10-26 18:34] ear-dev opened #1333 "[BUG][SNS logger] "Unable to reach Liveagent bot, it may be offline or disabled." did not throw an escalation failure event."
This error should have been caught as an escalation failure:
[code]

NOTE: I'm seeing this error correlated with sessions that are being closed by the df_bot due to no appName/token.  However, it appears that the visitor is able to type into the composer, which triggers the DF fallback and attempts an escalation, which fails with this error. **Therefore, this particular error seems to be the signa

[2022-10-27 15:53] ear-dev opened #1334 "[DF.app] Move the check for continue_blackout to be the first thing we process before parsing for actions and messages."
We still see occasional race conditions where the visitor will get two messages through to CX while CX is still processing the first message.  This causes CX to send the "i didn't understand that" message to the visitor which is a bad UX.

We think that the race condition is because setting a scheduled_event, like VerificationPause seems to take around 400ms which blocks the isProcessingMessage ==

[2022-10-27 17:34] #1321 closed, assigned to Shailesh351

[2022-10-31 14:26] #1334 closed, assigned to Shailesh351

[2022-10-31 19:09] #1324 closed, assigned to bhardwajaditya

[2022-10-31 20:24] #1316 closed, assigned to bhardwajaditya

[2022-11-01 14:33] ear-dev commented on #1307
It looks like we have just one failed escalation event left to catch, and it is tracked here:  https://github.com/WideChat/Rocket.Chat/issues/1333

I'm going to close this story for now.

[2022-11-01 14:33] #1307 closed, assigned to AlexanderKanakis

[2022-11-01 14:36] ear-dev commented on #1169
In this case the visitor experience looks like a failed escalation in the middle of the liveagent chat.  It's not the best UX, but we are not aware of this actually happening in production.  I will close this for now and we can revisit if we get evidence that this is happening in the field.

[2022-11-01 14:36] #1169 closed, assigned to nobody

[2022-11-01 14:38] #930 closed, assigned to nobody

[2022-11-01 14:40] ear-dev commented on #854
we now have sf response logging in debug mode.

[2022-11-01 14:40] #854 closed, assigned to nobody

[2022-11-01 14:42] ear-dev commented on #543
we currently have a feedback survey after an escalated chat.  not sure if this is still of interest?

[2022-11-01 14:42] #543 closed, assigned to nobody

[2022-11-01 14:44] ear-dev commented on #913
We have settled on option 1 and it works well.

[2022-11-01 14:44] #913 closed, assigned to Shailesh351

[2022-11-01 14:45] #915 closed, assigned to nobody

[2022-11-01 14:47] #782 closed, assigned to nobody

[2022-11-01 14:47] #611 closed, assigned to nobody

[2022-11-01 14:47] #571 closed, assigned to nobody

[2022-11-01 15:06] ear-dev commented on #1245
NOTE: livechat filters and trigger still needs to be ported to "change streams", away from oplog.

[2022-11-04 14:23] #1328 closed, assigned to Shailesh351

[2022-11-10 16:12] ear-dev commented on #1302
Design:  Check availability endpoint before every new session with SF.  If url has changed, set a flag and store the new URL for the entirety of the session.  Throw a RC ERROR log point indicating the site switch, including the new URL, and we will alert on that and change the Admin setting to use the new url.

[2022-11-10 16:23] ear-dev commented on #1332
@Shailesh351 can you please consult with @csmith14 about which API might allow him to set a value in local storage on the client, that the livechat widget can respond to.  i.e. we need a mechanism to respond to a payload_action == "display_okta", such that we can open a new webview in the iframe.

[2022-11-10 16:24] ear-dev commented on #1332
https://github.com/WideChat/Rocket.Chat.Livechat/tree/develop/src/store

[2022-11-10 16:50] csmith14 commented on #1332
@Shailesh351 @bhardwajaditya
So we handle all these DFCX 'action' payloads here: https://github.com/widechat/apps.dialogflow/blob/CWS-1299-okta-component/lib/payloadAction.ts#L44

All the current handlers change the room state using an existing apps-engine API (close chat, transfer department), set/update room custom fields, update persistent data, pass message content along from DFCX to the sessi

[2022-11-14 14:57] ear-dev commented on #1329
This PR passed all the testbot test cases and we merged it.  However we are still failing the build workflow.  I'm going to close this one and open a new story to track our build issues.  We will need to figure this out, but it should not block the catchup work moving forward.  @Shailesh351 @bhardwajaditya

[2022-11-14 14:57] #1329 closed, assigned to Shailesh351

[2022-11-14 14:58] ear-dev opened #1339 "[Bug] Fix develop branch build issues."
https://github.com/WideChat/Rocket.Chat/actions/runs/3439542852/jobs/5773181025

[2022-11-14 15:08] ear-dev commented on #1332
@bhardwajaditya @Shailesh351 do you guys have any ideas about the best way for @csmith14 to implement this?

[2022-11-14 15:42] Shailesh351 commented on #1332
@csmith14 Can't we use the message custom field? We are using it to disable input. We couldn't use the message custom field for typing because of the frequency of typing messages for the session. But in this case, I think it's okay because it will be one time.

[2022-11-14 16:02] csmith14 commented on #1332
Isn't that a bit of an anti-pattern either way? Is there no apps-engine/livechat API that would be better suited for this type of information exchange?

[2022-11-14 16:14] ear-dev commented on #1332
@csmith14 I'm not sure why it's an anit-pattern?  It seems to me that passing it in as a message custom field makes sense, because, just like disable input, we're sending a directive to the widget to perform an action and change state. fwiw...

[2022-11-14 16:34] csmith14 commented on #1332
I'm not claiming that it is an anti-pattern, just asking the question. If that's what we want to do, though, I'll implement it.

It does still leave the question of how to communicate in the opposite direction, though, going from the widget -> DF app

[2022-11-14 17:01] ear-dev commented on #1332
Right.... I was thinking that if we can just go back to the original tab (the one where the CX conversation started) then maybe we can pass a 'silent' message back to DF which will resume the conversation.  Maybe if we configure the widget to respond to the response from the Ciao.webApp, after authentication complete, by just closing its current tab, then the original tab will by default come into

[2022-11-14 17:46] ear-dev commented on #1332
@Shailesh351 @bhardwajaditya can you suggest which mechanism @csmith14 can use to send a message from the widget, into an open conversation with the DF.app?

The full workflow is this:

- A conversation with DF starts.
- DF.app sends message to widget with customField indicating it should begin okta authentication flow
- Widget opens a new component/tab and starts the Oath2 flow with "ciao webapp"

[2022-11-14 18:51] bhardwajaditya commented on #1332
We can use a new authentication successful system message, which can contain the authentication token as a custom field.

Based on the token validation in the DF app we can verify whether to resume or end the conversation there. The room would still need some custom field to indicate that this room can only proceed post authentication

[2022-11-15 15:35] ear-dev commented on #1314
@bhardwajaditya it looks like this event is catching more than just when we get the df_close_chat action payload from DF.  I think it is also catching agentUnassigned, and maybe timeout?  https://github.com/WideChat/Apps.Dialogflow/blob/master/handler/OnAgentUnassignedHandler.ts#L34

If we could find the spot where we exactly receive and parse the df_close_chat action, that would be more precise?

[2022-11-15 16:12] ear-dev opened #1340 "[SF emulator] Site Switch feature needs to send some conversation text/indication that we are using the new url."
If we have this then we can create a cypress test for the feature.

[2022-11-15 16:30] ear-dev commented on #1333
@bhardwajaditya can you put some notes in here about your findings please, with a few links to the places in the code?  Thank you...

[2022-11-15 17:14] csmith14 commented on #1332
Summary of my conversation with @bhardwajaditya

We will implement a new API endpoint in RC server to receive roomId, token. This endpoint will be called from the Okta component once data is received back from ciao/iframe.

This endpoint will then update the room custom fields, which will be used to unmount/de-render the Okta component, and will pass the token to the DF app.

[2022-11-16 05:45] Shailesh351 commented on #1332
@csmith14 @bhardwajaditya Do we get the JSON payload in the widget from the ciao web app? If yes why don't we set room customField from the widget itself instead of using a new API endpoint?

[2022-11-16 07:08] bhardwajaditya commented on #1245
Server Branch - https://github.com/WideChat/Rocket.Chat/pull/1341
Apps Engine - https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/55

[2022-11-16 10:10] bhardwajaditya commented on #1332
@Shailesh351 with room custom fields, we would have to develop an observer sort of mechanism, observers take more resources.

Basically we need something from client side to alert DF bot to proceed with next actions

[2022-11-16 15:20] #1314 closed, assigned to bhardwajaditya

[2022-11-18 14:17] #1302 closed, assigned to Shailesh351

[2022-11-29 16:19] ear-dev commented on #1339
**Status:**  If we use the yarn --debug flag, our builds will work.  We think that has to do with parallelization / memory, but there also might be issues with dependency versions.

For now we will use the --debug flag, but we should keep exploring to figure out how to make a "real" fix?

[2022-11-29 17:32] ear-dev commented on #1191
@Shailesh351 perhaps the session you showed us in the meeting this morning is because of this issue?  You found a failed welcome intent that did have appName and token, but the transcript also included a bunch of old chat records.  Maybe this is an example of this issue where the token did not get updated and it was stale?

Can you add the roomID here so we can track please?

[2022-11-30 06:22] Shailesh351 commented on #1339
@ear-dev @bhardwajaditya It's strange! when I pushed the same develop branch on my fork(https://github.com/Shailesh351/Rocket.Chat), the build was successful https://github.com/Shailesh351/Rocket.Chat/actions/runs/3576028397

[2022-11-30 06:24] bhardwajaditya commented on #1339
@Shailesh351 we have updated the debug flag in develop. The code you pushed is with debug flag or without it?

[2022-11-30 06:40] Shailesh351 commented on #1339
Ohh sorry! I pushed changes as it is. I will try again with removing the flag 👍