[2021-07-15 15:23] ear-dev commented on #834
Is there a global solution where the user is prevented from typing after every message they send......  until the response from the bot has been received and displayed?

[2021-07-15 15:41] ear-dev commented on #740
option 1:  just increment the version number for every PR....  i.e. 1.2.1.001, 1.2.1.002
option2: can we make changes in the apps-cli repo that would pick up the current git hash and apply it somewhere in the settings UI?

[2021-07-16 15:11] chadgoss opened #835 "Not getting a count down timer in iOS mobile escalated session"
user doesn't respond to agent in the time configured on the SF buttong, should get a countdown timer. Works in web and android but not iOS.

[2021-07-16 15:24] #831 closed, assigned to ear-dev

[2021-07-16 15:35] chadgoss opened #836 "[New Feature] If user leaves the window open, they should be able to start a new session just by typing (no need to close)"
Steve would like the bot to always be available in the window in the case that the user leaves the window open, without having to hit a close button.

if user leaves unescalated chat window open with no input from more than 20 min, they should get a message to the effect: "I'm still here, ask me a question if you want" with the window remaining open

at the 20 min mark the Dialogflow session conte

[2021-07-16 15:46] ear-dev opened #837 "[New Feature] PRIORITY - Salesforce.App - Room close event triggered on timeouts - from the Customer Timeout Value"
We need to trigger an event that closes the salesforce case when the Customer Timeout Value has been hit.

[2021-07-16 16:06] ear-dev opened #838 "[New Feature] Investigate a keep-alive on the widget so that we can be notified when the visitor closes the tab."
Only applies to In Queue state.  When the visitor begins a live agent chat with a real agent, the keep alive should be ignored/disabled.

This would allow us to take appropriate actions depending on where the user was in the workflow.

- In the escalated case on web, this allows us to close the salesforce case so that we do not waste the live agents time while waiting for the timeout.
- Other ways

[2021-07-19 15:28] chadgoss opened #840 "Visitor able to type after quick reply and before input disabled"

[2021-07-19 15:35] chadgoss commented on #840
<img width="834" alt="Screen Shot 2021-07-19 at 11 29 25 AM" src="https://user-images.githubusercontent.com/9826215/126186127-c80a38fa-d2e5-40ac-b5db-74a22dd32d96.png">

example ^^^ the intent with the "Okay, thank you. Now please unplug the modem from the electrical outlet. After waiting for 10 seconds, plug it back in" has input disabled

[code]

[2021-07-19 15:37] chadgoss commented on #840
I've seen this when RC server performance is degraded

[2021-07-19 20:01] chadgoss opened #841 "log POST and enhance response logging in the error cases only (400s, 500s, etc) , from chasitorInit"
currently in preprod the only info we have to figure out why chasitorInit is failing is pretty cryptic. Please log (debug) the SF response

Error getting Liveagent response.: TypeError: Cannot read property ‘0’ of undefined

[2021-07-20 14:55] AlexanderKanakis opened #843 "[BUG] Dialogflow can respond to guests and Salesforce agent after escalation"

[2021-07-20 15:02] ear-dev commented on #841
Need to scrub PII from the POST log points.....  no transcript, no email, nothing.....

[2021-07-20 15:18] ear-dev commented on #840
This can also be an issue during a triggered polling......  also needs fix.

[2021-07-20 15:28] ear-dev commented on #809
@AlexanderKanakis please document your findings and possible solutions here.....  tag Steve.

[2021-07-20 15:37] ear-dev commented on #768
This might be a change in apps-cli, such that when you run 'deploy' it retrieves the current git hash and appends to the version string (apps.json?)

[2021-07-20 15:50] chadgoss opened #844 "Investigate web token refresh options for MyViasat"
As discussed in swarm, thanks!

[2021-07-21 16:31] ear-dev opened #846 "mobile: user should get a notification when agent picks up a session from queue"
System level notificaton?
App level notification?

This exists out of the box in the PWA..... is it possible to do something like this with the widget embedded in the mobile app?

[2021-07-21 16:37] ear-dev opened #847 "[UX Improvement] Implement an escalated session countdown timer when timeout configured in the App (not the widget)"
SF app

[2021-07-21 19:21] chadgoss opened #848 "provide detailed logging information for all escalation failures"
all failures to escalate must have detailed logging that identifies the specific reason for the failure.

a generic technicalDifficultyMessage for example is used all over the place, we need to have unique error messages for each different failure condition

[2021-07-22 14:44] ear-dev opened #849 "[New Feature] Design how we can offer the visitor a speedtest button in certain circumstances"
- Allow an action button to be provided to user for an in-client speedtest of user's internet
- maybe only during troubleshooting flows?

[2021-07-22 14:48] ear-dev opened #850 "[New Feature] Predictive text subtle quick-replies**"
- Use a predictive text tool to provide small quick reply buttons over the text-entry dialog that update as the user is typing with suggested auto-completions
- Could be modeled after the botmock bot?

[2021-07-22 14:48] ear-dev opened #851 "**[FEATURE] Different bot configs based on chat source**"

[2021-07-22 14:49] AlexanderKanakis commented on #809
@chadgoss @ear-dev [Twillio cannot guarantee correct payload order even if they have been sent to the client in the correct order](https://support.twilio.com/hc/en-us/articles/223134247-Can-my-SMS-messages-arrive-in-order-). We have two possible solutions:

1. After creating a message we number each payload. Create a queue of payloads for each room and track for successful responses after sending

[2021-07-22 15:00] AlexanderKanakis commented on #843
PR:
Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/84

[2021-07-22 15:06] ear-dev commented on #734
@AlexanderKanakis please adjust these PRs to be against the master branch.

[2021-07-22 15:14] ear-dev opened #852 "[Brazil] integrate with Dialogflow CX's 'partial response' fuctionality"
Alexander has described the issues involved in issue number 809.....  use this as starting point for discussion.

[2021-07-22 15:17] ear-dev opened #853 "Deploy and test CX_development branch in preprod in prep for merge"
- merge master into cx_development
- uninstall DF app on preprod first
- deploy it
- reconfigure it for ES
- use it alot

Verify nothing broken

[2021-07-22 16:57] chadgoss opened #854 "Properly log the case where pullMessages on salesforceChatApiEndpoint returns {}"
const pullMessagesContentParsed = JSON.parse(pullMessagesContent || '{}');

handlers/InitiateSalesforceSessionHandler.ts
properly handle the case where result is {}

Liveagent chat request sent. {“statusCode”:200,“content”:“OK”,“headers”:{“connection”:“close”,“access-control-allow-origin”:“*”,“access-control-allow-credentials”:“true”,“cache-control”:“no-cache”,“pragma”:“no-cache”,“expires”:“-1”,“c

[2021-07-22 21:34] chadgoss commented on #854
what's happening is we are getting an undefined response, that case isn't handled properly

161         if (response === undefined) {
162             // Undefined response from Salesforce
163             return {
164                 statusCode: 204,
165                 content: '{}',
166             };
167         }

[2021-07-23 13:43] ear-dev opened #855 "Unit tests for SF app"
For example Chad has some examples of code paths that are guaranteed to fail - i.e. default to an empty dict, and then later try to index into that very dict.

[2021-07-23 14:32] ear-dev opened #856 "[BUG-BLOCKER] DF.app receiving NULL response from the pullMessagesEndpoint against Salesforce instance in preprod"
We have been able to reproduce this behavior on two servers using the latest RC, DF, and SF versions......  could this be related to the new apps engine?

Chad has a good repro with logging that shows.

[2021-07-23 14:43] chadgoss commented on #856
from Dialogflow history:

[code]

[2021-07-23 14:44] chadgoss commented on #856
from RC logs, `customDetail` is '':

[code]

[2021-07-23 17:30] ear-dev opened #857 "remove autofill from users info/nickname and password"
These fields should be ignored by a browsers autofill feature.  It causes issues when you want to edit a users info but do not want to change the password.

[2021-07-26 16:48] ear-dev commented on #856
Seems like the customDetail issue was a red herring...  not an issue.

Specifically we can now confirm that the return from the pullMessages call to Salesforce, after chasitorInit, is Null.  @chadgoss thinks if may be an issue with a bad implementation in Node, an async issue......  but it could also be an issue with the instance of salesforce we're talking to.

‘’’149 export async function pullMe

[2021-07-26 16:58] chadgoss commented on #856
The issue is that we're getting an undefined response here:

https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/master/helperFunctions/SalesforceAPIHelpers.ts#L142

[2021-07-27 12:52] #856 closed, assigned to Shailesh351

[2021-07-27 13:25] AlexanderKanakis commented on #738
PR:

Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/96

[2021-07-27 14:22] #696 closed, assigned to itzzritik

[2021-07-27 14:43] AlexanderKanakis commented on #847
PRs:

Rocket.Chat.Livechat : https://github.com/WideChat/Rocket.Chat.Livechat/pull/97
Apps.Salesforce.LiveAgent : https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/41

[2021-07-27 15:06] ear-dev opened #859 "After chat closed, minimize the widget by default"

[2021-07-27 15:13] ear-dev opened #860 "DF.app - after timeout send a DF 'goodbye message'"
After the session times out: We would like the user to be notified about how much we appreciate them, and that we are always here.....

[2021-07-27 15:47] ear-dev opened #861 "[BUG] PWA sometimes needs refresh to see room messages"

[2021-07-27 15:48] ear-dev commented on #861
@bhardwajaditya @Shailesh351 This is an issue we've seen in our PWA for a long time.......  do you have any thoughts about this?  Maybe just keep it in mind as a background task.....  if there is an easy solution I think it worth working on.  Thanks.

[2021-07-27 16:07] ear-dev opened #862 "DF.app - merge master into cx_development branch"
currently there are some conflicts.

we would like to start testing with this so we can eventually merge the CX branch into master and consolidate.

[2021-07-27 19:31] bhardwajaditya commented on #861
@ear-dev I will have a look at this, the way we implemented prefetching of messages break it a bit. I will look into it parallely

[2021-07-27 20:51] ear-dev commented on #861
Thanks @bhardwajaditya

[2021-07-28 20:02] bhardwajaditya commented on #827
@ear-dev the flow after Chat starts and before DF assigned worked fine, but the input was enabled post DF assigned and Welcome message.

[2021-07-29 14:54] ear-dev opened #864 "[Brazil] Menu Fix - Investigate combining messages from Dialogflow before passing them to the client (widget or whatsApp)"
example:  currently the menu from CX in whatsApp comes in as a series of unique messages.  in this case it would be nice if it was all in the same message/bubble.

Might be other use-cases?

CX only!

[2021-07-29 15:08] ear-dev opened #865 "Upstream catchup in RC repo"
## PR : https://github.com/WideChat/Rocket.Chat/pull/870

[2021-07-29 15:23] ear-dev opened #866 "[Brazil] DF.CX.app - Add an admin setting to configure a default language"
at the moment two options: en, portuguese

https://github.com/WideChat/Apps.Dialogflow/pull/75

[2021-07-29 15:26] AlexanderKanakis commented on #866
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/87

[2021-08-02 18:09] #848 closed, assigned to Shailesh351

[2021-08-02 19:30] chadgoss opened #871 "[BUG] df_close_chat action payload - not showing multiple responses (first one only)"
Currently when the df_close_chat action is configured in a response payload, only the first of the response text payloads is displayed. Need to display all of them.

PR Link - https://github.com/WideChat/Apps.Dialogflow/pull/99

[2021-08-02 19:32] chadgoss commented on #871
in the configured intent shown here, only the first text payload is displayed before the close_chat button is displayed

<img width="798" alt="Screen Shot 2021-08-02 at 3 31 45 PM" src="https://user-images.githubusercontent.com/9826215/127913752-f1cbcf22-3fbf-440b-8671-1e839ea4cb68.png">

[2021-08-03 13:12] ear-dev commented on #871
@chadgoss is this a bug then?

[2021-08-03 13:13] ear-dev commented on #634
@chadgoss where can I find information about this.  I have no idea what it is..... can you provide some background and links maybe?

[2021-08-03 14:19] ear-dev opened #872 "[BUG] Return of the dangling typing indicator"
Still seeing this in some situations.

[2021-08-03 14:19] ear-dev commented on #872
https://user-images.githubusercontent.com/28864717/128031624-bb949233-16a9-4eff-8be3-b715c9ab918f.mov

[2021-08-03 14:25] ear-dev commented on #872
```'fulfillment_messages': [{'payload': {'followup': {'delay': 2000.0, 'event': 'go_to_data_usage--examine_product_info'}}}, {'payload': {'disableInput': True, 'disableInputMessage': 'Please wait'}}, {'payload': {'customFields': {'disableInput': True, 'disableInputMessage': 'Please wait', 'displayTyping': True}}}], 'followupEventInput': {'language_code': 'en', 'name': 'data_usage--examine_product_

[2021-08-03 14:52] ear-dev opened #873 "[Refactor] Remove fulfillment requests to RC.DF.app"
We want to refactor the way fulfillment triggers events on rocketchat.

DF.agent should be the only middleware between RC and Fulfillment.........  EXCEPT: getTranscript.

[2021-08-03 14:52] ear-dev commented on #873
[code]
Of these actions, currently fulfillment calls TRIGGER_EVENT to maintain the timer during long polling loops.

We want to remove the dependency on fulfillment for this polling loop.

[2021-08-03 14:57] ear-dev commented on #872
This is likely a byproduct of https://github.com/WideChat/Rocket.Chat/issues/873

Maybe do not fix if we can fix the former.

[2021-08-03 15:34] ear-dev commented on #873
Replace TRIGGER_EVENT endpoint with an ACTION_ID

[2021-08-03 15:42] ear-dev opened #874 "[TRACKING] Adjust DF.agent (ES) to start using the Trigger_Event actionID for polling loops - remove from fulfillment."
This will work after we merge cx_development into master

[2021-08-04 18:04] #837 closed, assigned to Shailesh351

[2021-08-11 16:04] chadgoss opened #876 "configurable error handler in DialogFlow CX app"
Upon DF errors, we would like trigger a DF event instead of hard coded default escalation behavior.

In that way we can control the error workflow from Dialogflow.  We would like to minimize logic being managed from within Rocketchat so that the CX.agent is fully in charge.

[2021-08-11 18:04] ear-dev commented on #876
@chadgoss can you give some more background on this?  Are we seeing errors that are not being logged because the only errors we've logged so far are escalation failures?  Are there particular areas of the code that need to be instrumented better?

[2021-08-11 18:06] ear-dev opened #877 "[DF.APP] Never attempt a handover unless Target Department is configured."
Is there some hard coded fallback in our DF app that automatically tries to escalate on some error conditions?

We do not want to attempt an escalation in the case where no SF app exists.

When there is no "Target Department For Handover" there should never be an attempted handover.

[2021-08-11 18:18] ear-dev opened #878 "[BUG] DF - App should respect no input when configured as a configuration value; "Service Unavailable Message" for example"
config/Settings.ts:    DEFAULT_DialogflowServiceUnavailableMessage = 'There are no agents currently available. Our Customer Care team is available by phone 24/7 at 1-855-463-9333.',
config/Settings.ts:        packageValue: DefaultMessage.DEFAULT_DialogflowServiceUnavailableMessage,
handler/OnAgentUnassignedHandler.ts:                    { text: offlineMessage ? offlineMessage : DefaultMessage.DEFA

[2021-08-11 18:54] ear-dev opened #879 "[Tracking] Chad to enable df_close_chat action from fulfillment"
Includes figuring out what to do with the multiple custom payloads

[2021-08-11 20:14] ear-dev commented on #729
Many of the DF.app configurations will be different when using the CX bot for brazil.  Besides the CX specific configurations some of the diffs are these:

![image](https://user-images.githubusercontent.com/28864717/129096635-52f3fd42-5cf4-4249-bee8-5c55ea5d2768.png)

![image](https://user-images.githubusercontent.com/28864717/129096764-01cfcf23-39a3-4e97-9c53-2069c1369d1e.png)

[2021-08-11 20:21] ear-dev commented on #729
![image](https://user-images.githubusercontent.com/28864717/129097741-0cf7c944-4bcb-4645-b3d0-fac0f2f00d77.png)

[2021-08-11 20:46] ear-dev commented on #740
@ItzzRitik can you add links to the relevant PRs here please?

[2021-08-11 22:49] stetak commented on #864
Below is an example response (sorry if the spacing is a bit mangled). But you can see each "responseMessage" has a "responseType" and "source". One option is that if a message has the same responseType and source as the previous message, concatenate those messages. So currently, the output is showing 5 messages:

[code]

And implementing this suggested change would only show 3 (the middle one cont

[2021-08-12 13:47] itzzritik commented on #740
PR for the frontend: [Link](https://github.com/WideChat/Rocket.Chat/pull/875)
PR for the compiler: [Link](https://github.com/WideChat/Rocket.Chat.Apps-compiler/pull/10)

[2021-08-12 15:15] ear-dev opened #880 "[CX] Merge master into cx_development to get it completely up to date."
After this we will deploy the latest cx_development into all environments and test both the brazil and the US Res bots before merging into master.

[2021-08-13 12:48] #740 closed, assigned to itzzritik

[2021-08-13 15:10] #827 closed, assigned to bhardwajaditya

[2021-08-16 13:35] ear-dev commented on #877
@ItzzRitik If @Shailesh351 is busy can you look at this one please?

[2021-08-16 13:36] ear-dev commented on #878
@ItzzRitik if @Shailesh351 is busy can you take this one as well please?  Maybe the two of you can sync up on it.

[2021-08-16 16:22] ear-dev opened #882 "[BUG] Bad words filter broken in latest RC version v3.17.0"
The setting is found under Admin/UI/message......  and it is causing livechat to error out when it is enabled.

[2021-08-16 17:07] itzzritik commented on #877
@ear-dev Sure 👍

[2021-08-16 17:07] itzzritik commented on #878
@ear-dev Sure 👍

[2021-08-16 18:59] ear-dev opened #883 "[BUG] DF.CX - Change language functionality broken after default language changes"
We think this started happening after we deployed the new code that included the default language setting in the cx_development branch.

when you say english, the bot sends a payload to rocket.chat to change the language. rocket.chat is supposed to update it’s internal value of what language to use, and then send back a ChangeLanguage event. WHen Dialogflow gets the event, it responds with “the la

[2021-08-16 19:56] ear-dev commented on #882
@Shailesh351 can you prioritize this when you have a chance please?  We would like to promote our latest version to prod, but are somewhat reluctant to do it without the bad words filter.  Thanks.

[2021-08-17 12:31] ear-dev commented on #883
@AlexanderKanakis This seems to have been related to bad word filtering perhaps, because now it looks like it's working.  Closing this for now.

[2021-08-17 12:55] #882 closed, assigned to Shailesh351

[2021-08-17 14:08] chadgoss commented on #797
this can be reproduced on the IOS simulator from xcode, follow the instructions at the VERY bottom of https://my-viasat-mobile.icat.viasat.io/ to install the app.

I was using iPhone 12 pro max - 14.4

[2021-08-17 20:15] chadgoss opened #885 "SF APP: chatting with agent is broken"
In an escalated session, the user text shows up in the room, but isn't getting to the agent.  Broken with this commit https://github.com/WideChat/Apps.Salesforce.LiveAgent/commit/d9652611a71087cecb0378b3696b9a10263597bc

[2021-08-18 02:37] Shailesh351 opened #886 "Chat not closed from Widget when RC server is down and salesforce closed chat due to connection timeout"
### Steps to reproduce

1) Start a chat with the bot and escalate to liveagent
2) For some reason RC server is down(can be crash, deployment, maintenance etc)
3) Now from the salesforce side chat is closed due to connection timeout
4) When the RC server is up again and the user continues chat, because chat is closed from salesforce user is hanging alone

And for every message he sent we get below

[2021-08-18 05:02] Shailesh351 opened #887 "[BLOCKER] Scheduler API is broken"
We are using scheduler API for session maintenance.

After scheduling scheduleOnce job, Job is being executed repeatedly after the first execution

https://open.rocket.chat/channel/rocketchat-apps/thread/YsyKZhBP9hCrodDXu

[code]

[2021-08-18 12:54] ear-dev opened #888 "Upstream catchup merge with RC to get 3.17.1"
We need the patch fix for the scheduler API which was causing our mongodb to thrash

[2021-08-18 12:56] ear-dev opened #889 "[REFACTOR] Scheduler API Code"
https://github.com/WideChat/Apps.Dialogflow/pull/91

Need to test.

[2021-08-18 14:25] #888 closed, assigned to Shailesh351

[2021-08-18 15:04] ear-dev commented on #889
@Shailesh351 @chadgoss seems like we will not take this PR.......  assuming that all is good after testing with the latest RC version 3.17.1

I will leave this story active for now....  but after we have verified everythiing, lets close this story and close the PR

[2021-08-18 15:06] ear-dev commented on #887
@Shailesh351 we are thinking that this is fixed by the catchup to 3.17.1, right?  I'll move this into under review while @chadgoss is testing....  thanks!

[2021-08-18 21:29] chadgoss opened #891 "Still seeing scheduler API issues after merging 3.17.1"

[2021-08-19 03:06] Shailesh351 commented on #878
@chadgoss If some value is set in the DF App setting, It is using it properly. If it is blank then it uses default from code.

[2021-08-19 14:40] chadgoss opened #892 "[BUG][ResUS-UX] stuck at "Starting chat" when opening a new tab after "please close this window""
to reproduce:
 1) Start chat and get to the state where bot sends "Please close this window"
2) Go back(back arrorw) on mobile
3) Again click "Chat now"

PR Link - https://github.com/WideChat/Rocket.Chat.Livechat/pull/101

[2021-08-19 14:41] chadgoss commented on #892
<img width="412" alt="Screen Shot 2021-08-19 at 10 41 16 AM" src="https://user-images.githubusercontent.com/9826215/130088843-9bcae1e6-9b97-4da7-9383-1a86ebd18f89.png">

[2021-08-19 15:19] chadgoss commented on #876
Describe all the different error cases are, and how we handle each.

[2021-08-19 15:38] chadgoss opened #893 "[BUG][ResUS-UX] - Dupe of 896? - Closing the window/app at the end of a conversation and restarting it- session in terminal state from fulfillment"

[2021-08-19 15:38] chadgoss commented on #893
<img width="367" alt="Screen Shot 2021-08-19 at 11 38 37 AM" src="https://user-images.githubusercontent.com/9826215/130098708-4b2439b8-57f6-4a67-b1b7-570cba1611f8.png">

[2021-08-19 15:41] chadgoss commented on #893
[08/19/2021 03:34:49 PM] [PAYLOAD] in views.webhook: [Session_ID: Bbr7kovJWGXAtrcxP] Webhook Response: ({'outputContexts': [], 'fulfillment_messages': [{'payload': {'disableInput': True, 'disableInputMessage': 'Chat conversation has been ended.'}}], 'followupEventInput': {}}, 200)

input should be disabled, but it's allowing typing

[2021-08-19 15:45] bhardwajaditya opened #894 "On mobile app, the typing flow is not smooth, some typed alphabets are not present in the composer even though they were clearly clicked on keyboard"

[2021-08-19 19:47] chadgoss opened #895 "[Investigate][PRIORITIZE] appName and or token empty at times"

[2021-08-19 19:52] chadgoss commented on #895
this widget code results in a `Welcome` event with the appName and/or token being empty 5-6% of the time.  We see those failures evenly spread across web, iOS and android.

the empty appName is especially confusing, as this would have to fail:

`setCustomFields([{ name: 'appName', value: APP_NAME }]);
`

**Any ideas on why that would fail, some strategy to overcome that?  We're thinking that the o

[2021-08-19 20:32] chadgoss opened #896 "[BUG][ResUS-UX] Closing app when in escalation queue - then reopening can type. Input should be disabled"

[2021-08-19 20:32] chadgoss opened #897 "[ResUS-UX] Remove print chat option in mobile only"

[2021-08-19 21:05] chadgoss opened #898 "triggered events should always set display typing false"
To reproduce:

send a response payload with "displayTyping": true

followed several seconds later by triggering an event.

the typing indicator remains, it should be removed

[2021-08-20 18:18] chadgoss opened #899 "CX: send roomId and visitorToken with all requests so fulfillment can do transcript retrieval"

[2021-08-20 18:29] chadgoss commented on #899
currently for whatsapp, RC is sending the “username” parameter that contains the whatsapp number. We need to also send the roomId and visitorToken in every webhook call

[2021-08-23 15:30] ear-dev commented on #894
@bhardwajaditya this is using the myViasat mobile app, and it's showing up when using the widget/chatbot?  Can you also verify if this is an issue in any other apps on the mobile device, or if you use a web browser and navigate directly to "messaging.vega-preprod.viasat.io/livechat"?

We need to understand if this is something we can fix......  i.e is it a myViasat issue, or an iFrame/webView issu

[2021-08-23 15:48] ear-dev commented on #894
@chadgoss do you also see this issue when testing mobile?

[2021-08-23 15:54] ear-dev commented on #893
@chadgoss is this really an issue?  I'm not seeing it......

![image](https://user-images.githubusercontent.com/28864717/130478419-a800a26a-6bb8-42d4-9ad8-f9933ce35b22.png)

[2021-08-23 15:56] ear-dev commented on #897
@chadgoss is this a question?  Who is going to answer this question?  Seems like a question for Steve maybe?

[2021-08-23 15:58] ear-dev commented on #892
Is this still reproducible?

Back arrow on mobile is the same as closing the tab in web.......  does it reproduce their as well?

[2021-08-23 16:03] bhardwajaditya commented on #894
@ear-dev I suspect it to be an iframe issue, I installed the app using android apk file, while I was typing during the tests, I faced difficulty in typing, I haven't seen the same behaviour in other apps. Like if I have to type the same in the livechat there, few alphabets were just not sent to the iframe chatroom

[2021-08-23 17:37] ear-dev commented on #729
![image](https://user-images.githubusercontent.com/28864717/130491990-2e7f4eb7-17f8-429e-9bbd-839b20ee9005.png)

[2021-08-24 15:22] ear-dev opened #900 "[Livechat App Integration][MicroService Frontend] Design simple interface for embedding the widget into apps"
Currently the myViasat app team is maintaining a script.js that is used for managing and configuring the widget integration into their app.  It provides functionality we needed like custom fields, startup order, etc....

We would like to own this type of integration code in order to make it very simple for any app to embed our widget and to comply with our needs.

We need to design how we can prov

[2021-08-24 15:29] ear-dev opened #901 "[Tracking] Chad to ensure the payloads are in proper order...."
Need this before 871

[2021-08-24 15:33] ear-dev commented on #899
@AlexanderKanakis has this already been implemented?  Can you sync up with @Shailesh351 on this please?  This is currently our highest priority for releasing our Brazil Bot......  hopefully on Friday this week!!

[2021-08-24 15:38] ear-dev opened #902 "Aditya setup whatsApp test bed"

[2021-08-24 15:57] Shailesh351 commented on #877
@ItzzRitik

<img width="1790" alt="Screenshot 2021-08-24 at 9 26 04 PM" src="https://user-images.githubusercontent.com/18264684/130649747-3985c972-6233-40ca-82b0-db41346e9126.png">
<img width="1790" alt="Screenshot 2021-08-24 at 9 26 20 PM" src="https://user-images.githubusercontent.com/18264684/130649759-4306715a-bdb3-4a79-acc1-c5398e6e18cc.png">

[2021-08-24 15:59] itzzritik commented on #877
@Shailesh351
Thanks 👏

[2021-08-25 13:05] ear-dev opened #903 "[BUG] - merge mistake? -Still seeing composer enabled before welcome intent sometimes"
Aditya will confirm and fix

PR Link - https://github.com/WideChat/Rocket.Chat.Livechat/pull/101

[2021-08-25 16:54] ear-dev opened #904 "[CX-Twillio] Add debug log points for every message we send to Twillio"
Please include the content of the message we are sending.

The immediate goal is to see if we can verify that Rocketchat is sending DF responses in the correct order every time.

[2021-08-25 19:49] itzzritik commented on #877
PR raised -> [LINK](https://github.com/WideChat/Apps.Dialogflow/pull/98)

[2021-08-26 12:18] #899 closed, assigned to Shailesh351

[2021-08-26 14:08] bhardwajaditya opened #905 "[BUG] Scrolling in a closed chat unblocks the composer"
https://github.com/WideChat/Rocket.Chat.Livechat/pull/101

[2021-08-26 15:12] AlexanderKanakis commented on #904
PR: https://github.com/WideChat/Rocket.Chat/pull/906

[2021-08-26 15:24] ear-dev opened #907 "[CX][PRIORITY] Out of order messages - implement a timer to delay messages sent to twillio."

[2021-08-26 15:39] ear-dev commented on #897
create a flag in the integration.js script that lets us know to hide the print option.

work: find the flag, and use it to hide the option.
similiar to "show widget" and "hide widget".......  new option is "hide_print"

https://developer.rocket.chat/api/livechat-api

[2021-08-27 12:48] #907 closed, assigned to Shailesh351, AlexanderKanakis

[2021-08-27 15:03] #892 closed, assigned to bhardwajaditya

[2021-08-27 15:29] ear-dev commented on #886
@bhardwajaditya maybe this is a good next task?  @Shailesh351 you're currently busy with other stuff?

[2021-08-27 15:50] ear-dev commented on #878
@chadgoss @Shailesh351 Isn't the issue here that we would like an empty string to be accepted if we leave the entry blank?  We do not want the service to default to the default if there is no entry.  Is this a quick fix?

[2021-08-27 15:58] bhardwajaditya commented on #886
@ear-dev sure I will pick this

[2021-08-27 18:57] ear-dev commented on #896
@bhardwajaditya I am still able to reproduce this issue, even after your latest fixes.  Can you check it again and see if it repros for you?  Thanks.

[2021-08-27 19:01] ear-dev commented on #896
https://user-images.githubusercontent.com/28864717/131176339-3aaa5ed6-071a-4d7e-b2d1-c78fafe5526e.mov

[2021-08-27 19:42] bhardwajaditya commented on #896
@ear-dev how do you reproduce the stuck in chat queue scenario on purpose? I get it randomly

[2021-08-27 20:41] ear-dev commented on #896
Chad is the agent on the other end for this test, he has access to the salesforce console.  I believe that he starts a chat and that somehow makes himself unavailable, so that I get in the queue?  @chadgoss

But I also suspect this issue might be the same issue, and easier for you to reproduce:  https://github.com/WideChat/Rocket.Chat/issues/893

[2021-08-28 04:40] Shailesh351 commented on #878
Yes @ear-dev, We can remove the default from the code, so that it will only depend on setting

[2021-08-31 11:02] #878 closed, assigned to Shailesh351

[2021-08-31 14:59] AlexanderKanakis commented on #864
PR:
**Apps.Dialogflow**: https://github.com/WideChat/Apps.Dialogflow/pull/104

[2021-09-01 13:47] chadgoss opened #912 "new_welcome_event payload on intent that handles the welcome event is not triggering new_welcome_event"
The scenario we want to support is this:
RC->DF->Fulfillment with a `Welcome` event.

if that welcome event is missing one of the parameters (appName or token), we want fulfillment to respond back to DF, and back to RC, with a `new_welcome_event` payload.

that's not working. It can be tested by putting the `new_welcome_event` payload on the same intent that handles the `Welcome` intent. In that c

[2021-09-01 15:42] ear-dev opened #913 "[Reusable CX] Investigate if CX needs to accomodate different channels, or if the room context is enough."
In whatsApp we get the Viasat Source number in the metadata from twilio, and the CX.app can parse for that and route accordingly to the correct DF.agent.

What if it came from instagram, facebook, apple business, telegram, or email or livechat?  Can we have a single, generic method to find the source, or will we be coding for each as we bring them online.

NOTE: User identity always needed, and ma

[2021-09-01 15:44] ear-dev opened #914 "[Resuable CX][RocketChat Server] RC.SMS endpoint change to accept departmentID as a parameter, and route to correct department accordingly."
@bhardwajaditya can you take a look at this one when you have finished up the current work please.

This will route messages coming from twillio to the designated department identified by the new departmentID parameter.

In effect, this will override the current "Omnichannel Department (Default)"  seen here:

![image](https://user-images.githubusercontent.com/28864717/134365671-6e3f1e03-c86d-4f0e-

[2021-09-01 15:53] ear-dev commented on #657
TBD:  mapping by **Department** or by Channel/ViasatSource metadata?

Each entry in the map would require all content needed to route messages to the designated endpoint:

- Login
- authentication
- anything we're configuring now in order to use the DF.agent endpoint

Initialize all endpoints at startup.
Context - each conversation(DF.agent) needs to live independently of every other...  NO ISSUE

[2021-09-01 15:57] ear-dev opened #915 "[Reusable CX] Standardize on how we send send conversation metadata to DF.agents"
Includes things like:
Visitor identity (whatsApp phone number for example)
RoomID
Omnichannel Dept?
Channel Flavor?
Viasat source

[2021-09-01 16:02] ear-dev commented on #913
Please check current RC offerings for omnichannel integrations, and take a quick look at how the metadata might look.

Does the CX.app have to handle telegram differently than whatsApp??  Or is it agnostic.

[2021-09-01 18:04] ear-dev opened #916 "[Reusable SF] Design config file upload for multiple SF configurations - routed to by department source."

[2021-09-01 19:20] ear-dev opened #917 "[Reusable CX] Test handover to SF from a CX.app....... will this just work?"

[2021-09-02 15:29] stetak commented on #864
@AlexanderKanakis You are correct, according to https://cloud.google.com/dialogflow/cx/docs/reference/rest/v3/QueryResult the fields that I was asking you to use aren't actually available in the response message.

It sounds like you are using info from diagnosticInfo, which I think we should probably stay away from, since that field doesn't appear to be strictly defined.

I'm now thinking that we

[2021-09-02 15:35] ear-dev opened #918 "[BUG] Sneaky input seen in production - two tab problem"
Chad and Aditya will try to debug...

Is there something about Prod???

[2021-09-02 15:56] ear-dev opened #919 "[UPSTREAM] Test the upstream branch with new logging - verify how it looks in kibana"

[2021-09-02 18:58] #895 closed, assigned to Shailesh351

[2021-09-03 12:21] chadgoss commented on #918
<img width="934" alt="Screen Shot 2021-09-03 at 8 20 41 AM" src="https://user-images.githubusercontent.com/9826215/132004248-3e6ecab5-ec58-433a-b69d-36f394bf5a6b.png">

<img width="796" alt="Screen Shot 2021-09-03 at 8 21 12 AM" src="https://user-images.githubusercontent.com/9826215/132004293-c0345f86-4093-446e-862d-f7641300e8ae.png">

here's an example, the customer pretty clearly never saw that

[2021-09-07 15:05] #912 closed, assigned to Shailesh351

[2021-09-07 15:23] ear-dev commented on #918
@bhardwajaditya if you are able to reproduce this, lets please try to figure out why we cannot reproduce in Prod.  Please document findings here.  Use latest SF.app

[2021-09-07 15:36] ear-dev opened #922 "[js integration script] Document in a wiki how we can mock and test changes"
This is the first step toward owning the livechat integration component

- post a copy of the current script into the wiki please.
- document how the script is used
- document what the script provides

[2021-09-07 16:01] ear-dev commented on #896
@bhardwajaditya I am still able to reproduce this every time on our preprod server.  Can you double check your test scenario and verify that you are using exactly all the same app versions we have deployed?  I think we need to figure out why this is not an issue for you, but something we definitely see in our environments.  Thanks.

[2021-09-08 15:35] chadgoss opened #923 "Unable to create new users on brazil prod"
Unable to create new users using https://chatbot.vega.viasat.com/register/secret_registration

[2021-09-09 15:09] ear-dev opened #925 "[BUG] mobile apps still showing no token from customFields"
debug by providing the user meta data from the RC database.
database.rocketchat_room.visitor.livechat_data

could this be performance issues on mobile?
Chad to provide example roomID or user....  Eric will get the data from the database

[2021-09-09 15:26] ear-dev opened #926 "[BA UX Improvement] upon Dialogflow RestAPI errors, what should we show the user if anything."
Questions:
- Should we do nothing - current state, user gets no response and can continue their session with another message.
-  Should we close the session so that the user gets a new session the next time they send a message.
- Concern:  User types the same thing over and over and gets no response.
- Maybe send a 'don't understand' response followed by the menu.

[2021-09-09 15:27] ear-dev opened #927 "[Upstream catchups] multiple repos."
Server: https://github.com/WideChat/Rocket.Chat/pull/929
Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/106
Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/106

[2021-09-09 16:37] ear-dev commented on #925
{
	"_id" : "y2MNJJopRMxRXkEra",
	"fname" : "xxxxxxx",
	"t" : "l",
	"v" : {
		"_id" : "TvuGLwrJSWxs7YPK5",
		"username" : "guest-69352",
		"token" : "07q1texjd9rhk8hwa2zm7te",
		"status" : "offline",
		"lastMessageTs" : ISODate("2021-09-09T00:27:06.808Z")
	},
	"departmentId" : "XXkYv46G2f5pgfGkA",
	"servedBy" : {
		"_id" : "4w6SNb5y9iCJjtCiY",
		"username" : "liveagent"
	},
	"default" : false,
	"ro

[2021-09-09 18:58] #923 closed, assigned to nobody

[2021-09-10 15:52] ear-dev commented on #900
Develop a React library that would handle all the functions the current js script from myViasat handles
Will iterate later over more flexible functionality

WebView/livechat_widget

Questions:
- design intialization parameters
  - Which parameters will be useful for the app developer (our client)
- where do we host a react library internally to viasat?

[2021-09-10 16:01] ear-dev commented on #925
@ear-dev  find the 'use_token' file that myViasat is using

[2021-09-10 19:04] ear-dev opened #928 "[CX UX] On-Off switch for toggling concatenated messages."
Can we put an Admin config item in the CX UI that would allow for toggling concatenated messages that Alexander recently implemented by parsing the responsType in the Diagnostics object?

[2021-09-13 12:44] chadgoss opened #930 "Occasionally seeing "Rocket.Chat Livechat ERROR: Failed to handover""
2 or three times a day we will see this error in the rc-prod-promql-alerts slack room. Agents are logged in, and escalations immediately before and after are successful.

Lets add `error` logs to better characterize the issue

example:

Rocke.Chat Livechat ERROR: Failed to handover {"error":"","errorMessage":"Unable to reach Liveagent bot, it may be offline or disabled.","dialogflow_SessionID":"ut

[2021-09-13 14:05] chadgoss commented on #925
token.tsx:

[code]

[2021-09-13 14:38] ear-dev commented on #900
Eric,

Yeap you should definitely assume React, I recommend Next Js specifically, it’s React with a few extras added to it.

Best,
Joel Evans

On Sep 10, 2021, at 12:37 PM, Rosenthal, Eric <Eric.Rosenthal@viasat.com> wrote:

Hi Joel,

We’re doing some design thinking about this……  should we assume React?

It’s unclear if we have a use case on the short term roadmap, but quite likely before too lon

[2021-09-14 10:42] bhardwajaditya opened #931 "[BUG] Timeout enabled even after chat is closed"

[2021-09-14 15:22] ear-dev commented on #918
NOTE: We have two trigger events from the widget:
- click the icon starts new room
- send message to a room - starts new room if no room

Disable the second trigger?  Might cause issues down the road with a CX bot using widget.

[2021-09-14 15:36] ear-dev commented on #918
@bhardwajaditya please describe your blunt force method of resolving this issue here.... thanks.

[2021-09-14 16:03] ear-dev commented on #852
Steve will check with google about an updated version of the nodejs module for the API.

If we go this route, we will need to refactor all communication between our app and the CX.agent

[2021-09-14 16:47] itzzritik commented on #897
@ear-dev
Raised the PR => [LINK](https://github.com/WideChat/Rocket.Chat.Livechat/pull/103)

[2021-09-14 20:53] ear-dev opened #932 "[BUG][SF.app] Timeoutvalue from SF.button does not schedule a task that successfully closes the session on the server side. - 2 PRS to test"
If the widget is open, it all works fine, because closing the session happens on the client side.  But when the widget/tab is closed, the session is not closed by the timer.

We have discovered that line 109 in this file is not creating the idleSessionScheduleStarted key in the persistent data... and that is messing up the system.
https://github.com/WideChat/Apps.Salesforce.LiveAgent/blob/add_time

[2021-09-15 13:37] bhardwajaditya commented on #918
When we send a message to a Livechat room, it checks for the RC room associated with the current chat. If there's no room then a new chat request is sent to RC server and the same sequence of actions as that of a room opening trigger occurs.

I propose that we block this manual way of room creation i.e. sending message to an empty room, and the only possible way to create a new room is via automat

[2021-09-15 13:37] ear-dev commented on #931
@bhardwajaditya can you add some more detail here please, describing how you reproduce.....  thanks.

[2021-09-15 13:42] bhardwajaditya commented on #931
@ear-dev you can refer Shailesh's comment here to reproduce this.

https://github.com/WideChat/Apps.Dialogflow/pull/99#pullrequestreview-740982577

[2021-09-15 13:44] chadgoss commented on #918
@bhardwajaditya one thing we could do quickly is deploy an error log point to production in that case. We can then see if that lines up with the error condition we're seeing. Could you create a PR for that?

[2021-09-15 14:13] chadgoss commented on #797
I just tested this in production and the agent confirmed that they were only getting text when I hit enter. Sneak peak is not working on mobile. Both iOS and Android.

[2021-09-15 14:14] bhardwajaditya commented on #918
@chadgoss done
https://github.com/WideChat/Rocket.Chat.Livechat/pull/105

[2021-09-15 14:23] ear-dev commented on #922
@Shailesh351 have you started a wiki for this yet by any chance?  I'm looking for an easy way to find the script.....  thanks

[2021-09-15 21:06] chadgoss opened #934 "Feature request: notify fulfillment when an escalation fails to trigger a transcript update - Solved by 602?"
NOTE: needs design...

need a new endpoint that takes a salesforce ID, and returns if the escalation was successful or not.

If an escalation fails, we want artisan fulfillment to update the transcript, link it to the case and close the case.

[2021-09-16 17:22] ear-dev opened #935 "[DF] Add the roomID to all rest api console.error messages"
We would like to include the RoomId with http error messages.  Something along the same way we did it with the Failed To Handover messages.  These 4 please:
-     HTTP_REQUEST_ERROR = 'Error occurred while sending a HTTP Request',
-    DIALOGFLOW_REST_API_ERROR = 'Error occurred while using Dialogflow Rest API. Details:-',
-     INVALID_RESPONSE_FROM_DIALOGFLOW = 'Error!! Invalid Response From Dia

[2021-09-20 18:41] bhardwajaditya commented on #918
@chadgoss @ear-dev I have fixed this, but there are some design issues which will make it in this state as shown in the video below, but my fix would make sure that the new room problem is solved. We would also require the timeout PR that I raised, I saw few weird timeout cases in two tab scenarios.

https://drive.google.com/file/d/1L_nd12aHQTW7LcHQW5K1m8XW1ntQa9li/view?usp=sharing

[2021-09-20 20:17] ear-dev commented on #918
@bhardwajaditya yeah, that state is a little weird.....  lets go over all of this in the meeting tomorrow.

[2021-09-21 13:23] Shailesh351 commented on #922
https://github.com/WideChat/Rocket.Chat/wiki/LiveChat-Widget-Integration

[2021-09-21 15:24] itzzritik commented on #935
@ear-dev PR Raised [Link](https://github.com/WideChat/Apps.Dialogflow/pull/107) 🙌

[2021-09-21 15:28] AlexanderKanakis commented on #657
[code]

[2021-09-21 17:31] chadgoss opened #936 "[HIGH PRIORITY] DF APP - restore Passing Custom Fields as Query Params in CX"
Looks like it got blown away in a merge

[2021-09-21 17:34] Shailesh351 commented on #936
@chadgoss https://github.com/WideChat/Apps.Dialogflow/pull/104#discussion_r709795842

[2021-09-21 17:54] #936 closed, assigned to AlexanderKanakis

[2021-09-22 14:30] ear-dev commented on #934
@chadgoss I'm not fully up to speed on all the particulars here, but do you think it an alternate design for us to send a df_event back to Dialogflow if an escalation fails, and have that trigger the transcript update?  Instead of a new endpoint?  Is that possible or desireable?  Perhaps that would be more dynamic.....

[2021-09-22 14:36] ear-dev commented on #901
closing in favor of https://github.com/WideChat/Rocket.Chat/issues/879

[2021-09-22 14:37] #901 closed, assigned to chadgoss

[2021-09-22 14:48] chadgoss commented on #934
That's a cleaner way of doing it, but it would require that we be able to pass control back to the DF app from the SF app

[2021-09-22 15:39] ear-dev opened #938 "[Upstream PR] Renato interested in the twillio endpoint changes."

[2021-09-22 15:46] ear-dev opened #939 "Share the Rocketchat roadmap webinar with the team"

[2021-09-22 15:53] ear-dev commented on #934
what does this do?  is this somehow related?  this is a configuration in the SF.app

![image](https://user-images.githubusercontent.com/28864717/134378335-28ed2c03-d7f2-40ca-b77e-51c595355da3.png)

[2021-09-22 16:12] chadgoss commented on #934
That sends an event to DF when an escalated room is closed, the issue there is that the room is closed before we can display any text that's configured on that intent.

However, in the case of escalation failure that wouldn't be an issue. In that case we already have text displayed to the user, so we might not have to pass control back. If we could configure a "Dialogflow Agent escalation failure

[2021-09-22 17:46] ear-dev opened #940 "[BUG-linked with 871][CX] Timeout payload handling broken when there are back-to-back df_set_timeout payloads in subsequent turns"
Molly found a bug in the Rocket.chat timeout payload handling in the DialogFlow CX app. Basically, when there are back-to-back df_set_timeout payloads in subsequent turns, the second timeout is not getting triggered.

I updated our nonprod “loop” intent to provide a test case.

If you say loop, it should go into an infinite loop of saying “looping” every 3 seconds, until you manually close the roo

[2021-09-22 18:38] chadgoss opened #941 "[apps-cli] Include deploy date/time (when the app was deployed) in App along with version and commit hash"

[2021-09-23 15:09] ear-dev opened #942 "[Track and Test Upstream][Unblocks 852?] New npm bundler for apps-engine"
When ready this might unblock Alexander's CX partial response refactor.

[2021-09-23 15:15] ear-dev commented on #871
@bhardwajaditya verify in the DF api spec that custom payloads are concatenated in a single message.  @chadgoss to reproduce.

[2021-09-23 15:22] ear-dev opened #943 "[Resuable CX] Create a new base feature branch called 'reusable_cx' - then use feature branches off of this for PRs"
like we did with CX originally

[2021-09-23 15:39] ear-dev opened #944 "[Reusable CX] Design how we implement the config file needed by DF.app to handle multiple DF.agent endpoints"

[2021-09-23 15:40] ear-dev commented on #944
Is it possible to import a json file through the DF.app Admin UI?  If not possible, make it so....... unless there a better option.

[2021-09-23 15:46] ear-dev opened #945 "[Reusable CX] Add a new parameter to Livechat widget endpoint, "departmentID" which will override the default deparmtnet in the livechat admin UI (just like we are doing for sms)"
Aditya did this for the SMS endpoint.....  and we would like the same design for the livechat widget.

![image](https://user-images.githubusercontent.com/28864717/136418740-864f665e-c91f-4bf2-ab1b-057886c8ef05.png)

[2021-09-23 17:33] ear-dev commented on #941
@ItzzRitik It does not seem like the keep alive on the widget story is a high priority at the moment from our stakeholders......  this one might be quick, can you grab this next please?  This applies to both our DF and SF.apps....  thanks

[2021-09-24 13:49] ear-dev opened #946 "[Livechat BUG] In the two tab scenario, after the chat is closed, the "Close Chat" button in the composer does not work."

[2021-09-27 14:53] #918 closed, assigned to chadgoss, bhardwajaditya

[2021-09-27 15:58] ear-dev commented on #931
@bhardwajaditya I'm going to move this back to "In Progress".  Please comment and summarize in this issue where we are right now with this bug.  Thanks.

[2021-09-27 18:52] bhardwajaditya commented on #931
@ear-dev we have two issues with this story now.

1. The one mentioned here, idle timeout can still be there post chat close.
2. The second issue is when two tabs are open, the timer is cleared in one tab but not other and it remains there even after a message is sent. This can lead to chat timing out even after user sends a message

[2021-09-27 20:16] bhardwajaditya commented on #931
@ear-dev raised the PR for this issue. This will fix both the above mentioned issues

[2021-09-28 12:33] ear-dev commented on #931
@bhardwajaditya great!  I will test

[2021-09-28 12:40] ear-dev opened #950 "[DF] Increase the default HTTP response timeout value"
Currently the default is 10 seconds, but our DF webhook timeout is set to 30s, and some of the calls to DF require more time than 10s to poll the backend for user data.

Increase to 35s?

[2021-09-28 15:07] AlexanderKanakis commented on #944
PR: https://github.com/WideChat/Apps.Dialogflow/pull/109

[2021-09-28 15:09] AlexanderKanakis commented on #657
PR: https://github.com/WideChat/Apps.Dialogflow/pull/109

Example JSON setting for multiple agent endpoint configs:
[code]

[2021-09-28 15:30] ear-dev opened #951 "[Mark Tracking] Include showPrint and hidePrint in integration script. Hide for mobile only."
Must run showPrint on desktop.

JIRA has been posted on the My Viasat board.

https://jira.viasat.com/browse/CUSTSE-3681

[2021-09-28 15:33] ear-dev commented on #951
Mark can look at the integration wiki.testing, under RocketChatFunction()

https://github.com/WideChat/Rocket.Chat/wiki/LiveChat-Widget-Integration

Instead of setCustomField, use showPrint(), hidePrint() for example.

Functions defined in this PR:  https://github.com/WideChat/Rocket.Chat.Livechat/pull/103

[2021-09-29 16:21] ear-dev commented on #950
@AlexanderKanakis any chance you can get this one in quick?  must be trivial?  thanks.

[2021-09-29 16:57] AlexanderKanakis commented on #950
@ear-dev Ready

PR: https://github.com/WideChat/Apps.Dialogflow/pull/110

[2021-09-29 22:44] ear-dev opened #953 "[New Feature RC.apps] Api to set admin configs."
Currently the only versioning we have is in settings.ts, but each of our deployments uses unique configs for some values, and we would like to be able to configure them programmatically with an api.

[2021-09-30 15:17] ear-dev commented on #953
- Use current rocketchat API to get App IDs (already exist?)
- Create a new RC API to set config values for specific App IDs ( need to implement )

[2021-10-01 12:50] ear-dev opened #955 "Livechat room transcript via bridge coming in v4 - look into using it."
How is this different than what we do now?  I'd like to characterize it please.

[2021-10-01 15:55] ear-dev opened #957 "[Livechat Troubleshooting] Implement UI logs to capture client actions and state to help understand the missing welcome_event issues we encounter."
We should figure out which metrics we want to capture.  We do not want to collect PII.

We would like to know:
 - Did a close chat event occur
 - Did it come from the visitor, the timeout timer, or the agent.
 - Was the composer enabled or disabled after a close chat event.
 -  Was the widget minimized or did it remain open after the close chat event.
 - What sequence of events resulted in a new s

[2021-10-05 14:44] AlexanderKanakis commented on #852
## Current Process for Importing @google-cloud/dialogflow-cx in App

### Rocket.Chat

1. Install dialogflow cx module: `meteor npm install @google-cloud/dialogflow-cx`

### Rocket.Chat.Apps-engine

1. Add the following block in `src/server/misc/Utilities.ts` inside the `buildCustomRequire()` function:
[code]
2. Run `npm run compile`

### Apps.Dialogflow

1. Import the google API library with `cons

[2021-10-05 15:02] ear-dev commented on #886
@Shailesh351 review please

[2021-10-05 15:06] ear-dev commented on #932
@AlexanderKanakis please review and approve when ready.

[2021-10-05 15:12] ear-dev opened #959 "RC upstream catchup"

[2021-10-05 15:21] ear-dev commented on #852
@Shailesh351 can you look at this and concur.

[2021-10-05 15:25] ear-dev opened #960 "[Tracking CX Chatbot team] Turn on and use partial responses."

[2021-10-05 15:26] ear-dev opened #961 "[Tracking RC Upstream] New method for importing modules into apps (needed for CX partial responses)"

[2021-10-05 15:29] ear-dev opened #962 "[Verify re-usable CX] when endpoints/CX PR complete - put it all together and test."

[2021-10-05 19:56] ear-dev opened #964 "[CX] Connection draining in the case we change the Prod CX endpoint on the fly."
We are designing a system where new Production CX deployments will come in the form of new Agents with new endpoints.

We will want to update the DF.app on the Prod RC server to point at the new Agent during every CX update/promotion.

When we do this it should be seamless......  and we should not lose any chats that are currently live at the time of the swap.  The live chats should continue the c

[2021-10-06 14:38] ear-dev commented on #847
@AlexanderKanakis I have just tested the task scheduler fix that @Shailesh351 posted, and it is working now.....  I'm ready to merge his two PRs....  one for RC and one for the Salesforce app.

Can you remind me please what is in this story that we still need?  As I recall, we realized that we did not need some of the original design, and that maybe there was only one PR instead of two that we wan

[2021-10-06 15:15] ear-dev opened #965 "[SF App Side Timer] After server side timer closes the room, in the case where the visitor had previously closed the tab...... when visitor opens new tab, the old transcript is visible and the composer enabled"
Typing into the composer does not seem to trigger a new room, it just does nothing, but the visitor has to manually close the widget with the 'x' before getting back to a good state.

Very confusing.

[2021-10-06 15:55] itzzritik commented on #941
PR Raised:

1. [Rocket.Chat](https://github.com/WideChat/Rocket.Chat/pull/966)
2. [Apps Engine](https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/37)

[2021-10-07 15:12] ear-dev commented on #838
Please consider the two tab case.

[2021-10-07 15:36] ear-dev commented on #957
@bhardwajaditya @Shailesh351 Can we explore using the Admin/Omnichannel/Livechat/Send Visitor Navigation History as a Message path, to send our own logs which will track events.  Needs design. Consider optimization and storage.

[2021-10-07 15:49] ear-dev opened #967 "[NOTE: reusableCX] Can use livechat api in integration script to assign initial department."
https://developer.rocket.chat/reference/api/livechat-api#assign-chats-to-a-specific-department

[2021-10-07 18:25] ear-dev opened #968 "[BUG][SF Scheduled Task] Race condition in scheduled task swapping."
This will prevent us from using the app side timer until fixed.

[2021-10-07 18:35] ear-dev opened #969 "[BUG][DF] when using CX the environment value is not being applied such that all conversations are talking with 'draft'"
maybe it's just not abiding by the setting and only using the default
if that is the case, please confirm that all values we manually set in the UI are being applied
obviously many of them are being applied, or we could not even be talking to the DF.agent...... but there might be others that are failing and we didn't even notice
or maybe we're not using the environment correctly in our connections

[2021-10-07 20:07] AlexanderKanakis commented on #969
PR: https://github.com/WideChat/Apps.Dialogflow/pull/111

[2021-10-11 12:27] Shailesh351 commented on #959
App-engine: https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/38
Apps-compiler: https://github.com/WideChat/Rocket.Chat.Apps-compiler/pull/12
Apps-cli: https://github.com/WideChat/Rocket.Chat.Apps-cli/pull/12

Server: https://github.com/WideChat/Rocket.Chat/pull/970
DialogFlow App: https://github.com/WideChat/Apps.Dialogflow/pull/113
Salesforce App: https://github.com/WideChat/Apps.Salesfor

[2021-10-12 13:18] ear-dev opened #971 "[BUG] Messages processed in order they are received broken in CX?"
In this case we are not seeing text0, even though the room gets closed.

![image](https://user-images.githubusercontent.com/28864717/136963622-78b8cbd1-06ea-4971-bf91-f41db95b8604.png)

[2021-10-12 13:24] ear-dev opened #972 "[Reusable SF] Design config file for multiple salesforce endpoints."

[2021-10-12 14:17] ear-dev commented on #861
@bhardwajaditya please summarize your findings and research how other apps handle our situation in regard to streams and long lived tabs.  We need a design recomendation.

For the prefetching issue, please fix.

[2021-10-12 14:19] ear-dev opened #973 "[BUG PWA] Prefetching got removed from upstream.... need to replace."
When the app intially starts....

[2021-10-12 14:33] ear-dev commented on #957
@bhardwajaditya please design a temporary UI logger that we can easily implement and remove when we have figured out the issues.  Make a diagram please, and show me exactly what needs to be on the receiving side.

Put it behind a switch.

Track the performance impact.....

[2021-10-12 14:42] ear-dev commented on #971
Possible cause:
The text can be delayed across the wire to Twilio (well understood issue)...  but the df_close_chat happens on the server side with no delay.

So even though processed in correct order, race condition ensues, and the app side will always win.

[2021-10-14 13:40] ear-dev commented on #971
Will partial responses make this a non issue?  Can we propose a fix in the meantime?

At the moment this only effects the deregistration flow as far as we know, and therefore not a super high priority yet, but we should have a strategy for a fix.

[2021-10-14 14:19] bhardwajaditya commented on #861
We have two issues with PWA messages at present:
- The prefetching is broken due to upstream changes - **Will be fixed via another story**
- Upstream establishes new connection for messages on each load, whereas we maintain a socket connection for messages which when the app goes to sleep is broken and does not re establish on it's own till the time refresh is performed. - **TO BE INVESTIGATED**

[2021-10-14 15:18] ear-dev commented on #852
@AlexanderKanakis we will go with your current strategy into production for now......  please create the other neccessary PRs to make this work, and document that here.

Also please document the effects of large responses vs. small, and how you are suggesting we use partial responses vs. normal responses on the CX.agent

[2021-10-14 15:32] ear-dev opened #974 "[UI Logging] how do we handle PII and user permissions? Can we even do UI logging?"

[2021-10-15 18:57] ear-dev opened #975 "[CX][BUG] vistor messages that are file uploads or voice messages never timeout via Visitor Abandonment"
The timer gets set when the agent speaks, and when a visitor sends a file or voice message attachment, our bot does not respond at all, the timer never gets set, and the room stays open forever.

[2021-10-19 15:07] ear-dev opened #977 "Proper versioning for dependencies"
Apps.engine
Livechat

This will allow us to toggle between tags (proper versions) in package.json, so we can work on multiple RC server versions as needed.  (i.e. the new catchup merge, 4.x, will break updating apps on the older 3.x servers)

[2021-10-19 15:19] ear-dev commented on #975
Please verify that you can reproduce.......  what is a fix strategy?

Are we actually sending the file to DF.agent?  If so maybe we can handle that on the Google side......  might there be a file size limit?

[2021-10-21 14:51] ear-dev commented on #975
Here's a possible solution, suggested by our CX agent developer......  can we notify the CX agent, with some sort of "invalid file type" payload, when the visitor sends an attachment?  Then the CX agent can handle the response somehow, and the timeout timer will restart.

[2021-10-21 15:14] Shailesh351 opened #978 "[SF] Sneak Peak not working when we use App Timer for Idle Session Timeout"

[2021-10-21 15:16] ear-dev commented on #953
@AlexanderKanakis Please show examples of how we would use your new api to set the settings......  please show the different flavors.....  json file for config, string values, any other variety.

Include the workflow, i.e. first we need to make a call to get the appID, then use the appID in the subsequent calls?

[2021-10-21 15:24] ear-dev commented on #964
This will be for re-usable CX only.

Basically we will add a new mapping for CX.agent.New, to replace CX.agent.Current......  but we want any rooms against the current agent to be active for their normal lifespan.....  but all new conversations go to the New agent.

[2021-10-25 13:40] chadgoss opened #980 "[blocked on Freds design] Encrypted whatsApp phone number"
explanation below, we should also have some way to know if the phone number is encrypted or not - so we can update fulfillment first and RC later.

We need to store the WhatsApp number in the clear (not hashed or encrypted) in IRA.   This is for three main reasons:
Easier for us to debug customer access problems.   Customer care isn’t going to recognize a hash or be able to tell if that is the num

[2021-10-25 21:42] AlexanderKanakis commented on #953
PR: https://github.com/WideChat/Rocket.Chat/pull/981

## Proposed changes
Added functionality for:

1. Getting app ID with the name of the APP.
2. Changing app setting with setting ID and app ID.
3. Changing app setting with setting ID and app name.

### Functions:

1. `getAppIdByName(appName: string)`: Retuns App ID
2. `updateAppSettingById(appId: string, settingId: string, value: any)`: Changes

[2021-10-26 14:25] chadgoss opened #982 "Rocke.Chat Livechat ERROR: Error occurred while using Dialogflow Rest API."
We see this error 2-3 times/day

Rocke.Chat Livechat ERROR: Error occurred while using Dialogflow Rest API. Details:-: { roomID: c9eEaEyDQh4c8mSqu } undefined

[2021-10-26 14:48] ear-dev opened #983 "Setup elasticsearch to catch UI logs from Aditya's logger"

[2021-10-26 14:50] ear-dev commented on #941
@Shailesh351 do you have time to review and test these PRs?  Thanks.

[2021-10-26 14:52] chadgoss commented on #983
domain endpoint: https://search-rcec-ylb2uvbhsfetetfdevncnb7o2i.us-east-1.es.amazonaws.com

[2021-10-26 15:06] ear-dev commented on #953
@Shailesh351 can you review and test please?

[2021-10-26 15:23] ear-dev opened #984 "Close the conversation when RC detects that the widget has closed (using Ritik's new feature)"
The room needs to be closed.

- no open conversations with an agent
- no longer waiting in the queue (if you were waiting in the queue)

[2021-10-26 15:34] Shailesh351 commented on #941
@ItzzRitik I just noticed, In the Apps-Engine PR(https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/37) you have updated the build file(.js) instead of the src file(.ts). And because of that, your changes are lost. If you are available can you create PR for AppsEngine with the fix, please?

@ear-dev FYI

[2021-10-26 17:04] itzzritik commented on #941
@Shailesh351
Oh, that's silly, Thanks for pointing.
I'll do it now!

[2021-10-26 17:27] #968 closed, assigned to Shailesh351

[2021-10-26 17:51] itzzritik commented on #941
@Shailesh351
Here's the new PR -> [WideChat/Rocket.Chat.Apps-engine#40](https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/40)

[2021-10-26 20:16] ear-dev commented on #861
@bhardwajaditya Peter is asking about the fix for this......  do you think the PR can be ready soon?  I'd like to prioritize this please. Thanks.

[2021-10-27 11:49] bhardwajaditya commented on #861
@ear-dev PR is almost ready, will raise in an hour.

[2021-10-28 15:19] ear-dev commented on #983
@chadgoss can you create a wiki please that documents how to reach and use this elastic instance?  Maybe with some notes about how it is integrated with the livechat widget......  thanks.

[2021-10-29 04:56] Shailesh351 opened #987 "[BUG] Closed LiveChat Widget still cover the area on the window which makes elements behind non-clickable"
After closing the chat the div element is still covering the UI, this is causing some problems in mobile since can't click around the area where the chat used to be.

![Screen Shot 2021-10-28 at 8 49 10 AM](https://user-images.githubusercontent.com/18264684/139378194-35d5710d-318a-4abb-873f-b786c9e3204b.png)

[2021-10-29 14:06] #987 closed, assigned to Shailesh351

[2021-10-29 15:24] ear-dev commented on #957
@bhardwajaditya are we still waiting on the PRs for this?

[2021-10-29 15:32] bhardwajaditya commented on #957
@ear-dev yes fixing it, actually even with was native library methods there's some dependency conflict . Trying to fix those

[2021-10-29 21:20] ear-dev opened #989 "Cleanup action that deploys to our ECRs in Veranda AWS accounts - don't need them anymore."

[2021-10-29 21:32] ear-dev commented on #914
@bhardwajaditya So far in my testing this feature is working great, but it is not overriding the default.  There seems to be two defaults in play.....  "Admin/SMS/Omnichannel Department (Default)"  and "Admin/Omnichannel/Routing/Assign new conversations to department".

I think it seems to me that if either one of those is set, then the visitor is routed to that default department.  Can you verify

[2021-11-01 15:16] ear-dev commented on #982
@chadgoss I believe that this indicates that the response object is null......  therefore we can't parse any error message or stack trace.  Can you see any corresponding logpoint in CX that indicates the response was sent?

[2021-11-01 15:19] ear-dev commented on #980
We will need a production key and provide access to fulfillment.  Perhaps we need a preprod key as well?

[2021-11-01 19:10] ear-dev opened #991 "[Re-Usable CX][Issue] SMS incoming sessions are linked to the designated room by source phone number."
The re-usable CX implementation is working great.  With this setup described below, it is working as designed.

- TwilioNumber1 points to departmentID1 -> omnichannelAgent1 -> CX.agent1
- TwilioNumber2 points to departmentID2 -> omnichannelAgent2 -> CX.agent2

Issue:

- If I use a single source phone number (my cell) while testing, then the system breaks because RC will recognize that there is cur

[2021-11-02 03:18] Shailesh351 commented on #991
@ear-dev Yes as per https://github.com/RocketChat/Rocket.Chat/blob/develop/app/livechat/imports/server/rest/sms.js#L76 currently it is only considering `visitorToken` to find the room. So if there is one open chat in departmentID1, and the user starts chat with TwillioNumber2 it will still find that open room in departmentID1 and will continue the chat.

What we can do is also consider `department

[2021-11-02 15:13] ear-dev opened #992 "[UI Logs] Limit client access to write only on elasticsearch"

[2021-11-02 15:15] ear-dev opened #993 "[UI logs] Send logs from RC server instead of the client."
This protects us from hackers because the keys will not be visible on the client side.

Needs new RC api endpoint to receive the logs from the client, and then it sends them to the elasticsearch instance.

[2021-11-02 15:39] ear-dev opened #994 "[ES to CX Migration] DF.app.CX needs to handle everything ES is currently handling."
- escalation
- custom payloads
- welcome events

[2021-11-03 14:41] ear-dev opened #995 "[ES migration to CX] Investigate new UI in the DF.app which would allow us to add one json config at a time, instead of multiple endpoints in a single json."
motivation:  We will need to add the currently global configs we use in ES to the json config file, and this could get large and unwieldy.

[2021-11-03 14:49] ear-dev opened #996 "[ES migration to CX] Setup a CX agent that will do handover."
CX agent needs to support all of these:
https://github.com/WideChat/Apps.Dialogflow/blob/master/enum/ActionIds.ts

export enum ActionIds {
    PERFORM_HANDOVER = 'df_perform_handover',
    CLOSE_CHAT = 'df_close_chat',
    SET_TIMEOUT = 'df_set_timeout',
}

[2021-11-03 15:02] ear-dev opened #997 "Investigate if we need fallback response limit in the DF.app"
Chad suggests that we do not ever send a 'fallback intent' and therefore we have never hit this......  should we remove it?

[2021-11-03 15:22] ear-dev commented on #995
Nothing global except log level.

[2021-11-03 16:30] ear-dev commented on #940
@Shailesh351 @bhardwajaditya can one of you take a look at this please?  We seem to have misplaced this issue and would like to get it fixed asap if possible.  Thanks.

[2021-11-03 17:12] #994 closed, assigned to nobody

[2021-11-03 17:16] ear-dev commented on #953
@AlexanderKanakis in light of the new task to remove all global configs from the DF.app, and to instead use a config.json for each DF.agent endpoint which describes the config entirely, this API work will have to be adjusted for the new design once it is ready.

[2021-11-03 17:21] ear-dev commented on #957
@bhardwajaditya can you add links to the relevant PRs here please?  thanks.

[2021-11-03 17:49] #962 closed, assigned to ear-dev

[2021-11-03 18:25] bhardwajaditya commented on #957
Server PR - https://github.com/WideChat/Rocket.Chat/pull/985
Livechat PR - https://github.com/WideChat/Rocket.Chat.Livechat/pull/110

[2021-11-03 19:29] bhardwajaditya commented on #971
@ear-dev the problem is how we process cx messages response object, we don't store them in the same order as they receive. We concat all the possible texts, actions are stored as they arrive. Once all the response messages are parsed, the concatenated text message is then added back. This messes up the order up a bit.

For example -
if the response contains the following contents:
[ text, action,

[2021-11-04 00:49] ear-dev opened #999 "[PWA BUG] CustomOauth users always get the "users" role, even when configured for a different role."
Setting "Admin/Accounts/Registration/Default Roles for Authentication Services" results in new Oauth users getting the configured role PLUS the "users" role.

I would expect that it would only get the configured role, and that is what we would like.

[2021-11-04 00:53] ear-dev opened #1000 "[Engineering Chat] users who come through Oauth should not be able to see other users or create rooms."
We can do this with permissions, but we need better control over which roles the new users are attached to.

Permissions disabled:
view-outside-room
create-c
create-d
create-p

[2021-11-04 01:17] #917 closed, assigned to nobody

[2021-11-04 14:48] ear-dev opened #1001 "Document in a Wiki in this repo - how to configure the elasticsearch instance in AWS so that devs can use it to view clientside logs."

[2021-11-04 15:14] AlexanderKanakis commented on #847
PR:
Apps.Salesforce.LiveAgent: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/47

This fix sends a custom message to the client regardless of the timeout handler setting being `widget` or `app`.

[2021-11-04 17:24] ear-dev opened #1002 "[CX] [New Feature] Wait for a response from the CX agent before sending any new messages from the visitor - drop any visitor messages in the queue."
We are seeing situations where visitors send multiple messages before CX has responded to the first. We believe this happens on slow connections, where the visitor is waiting, maybe thinks the bot is broken.  In this case, the multiple messages in a row can break our CX flows/context.

We would like to send only the first message to the CX.agent, and drop any subsequent messages that arrive before

[2021-11-04 18:51] ear-dev opened #1003 "[CX] Alert on "Error occurred while sending a HTTP Request" to catch infinity loop variation."
for some reason Molly's testing is hitting an infinity loop that we are not catching with our DIALOGFLOW_HTTP_ERROR alert.

Add the HTTP_ERROR catch to the logger.

[2021-11-08 20:30] ear-dev opened #1006 "[Automated Integration Tests] scripts that run cypress."
UsRes needs salesforce apis?

[2021-11-08 20:55] ear-dev commented on #602
This should handle failed escalations, etc...

i.e. DF needs to know the context when it gets the handle back.

[2021-11-09 13:00] bhardwajaditya commented on #940
@ear-dev I have raised the PR to fix this issue

[2021-11-09 16:15] ear-dev commented on #971
Fix: Only concatenate adjacent text.  Next text after an action starts a new concatenation.......  i.e. we continue to process the text after any action, as a new set of concatenated messages.

[2021-11-09 16:20] ear-dev commented on #900
Use cases:

- my.viasat (widget - mobile and web)

[2021-11-09 16:20] ear-dev commented on #900
@Shailesh351 please describe your design here.....  we will run it by Joel.

[2021-11-09 16:22] ear-dev opened #1007 "[Microfrontend] Build react library to replace the current my viasat integration scripts."
Well documented please.
Build in such a way that future variables and modifications are easy.

[2021-11-09 16:52] ear-dev commented on #984
- Do not use in mobile.  This is because of the way mobile users might bounce around the app during a live chat, and moving away from the chat is just like closing the tab (web view)
- Handle two tabs.....  do not close chat until tab count == 0.

[2021-11-09 18:39] #914 closed, assigned to bhardwajaditya

[2021-11-09 19:14] bhardwajaditya commented on #971
@ear-dev fixed this and raised the PR

[2021-11-09 20:26] #940 closed, assigned to bhardwajaditya

[2021-11-10 17:18] ear-dev commented on #975
For tracking - our event for this will be "invalidUserInput"

[2021-11-11 14:48] ear-dev commented on #1006
Start with a standalone script that runs non-escalated integration tests with cypress?

I have a selenium script and a spreadsheet which describes our current integration test suite, which I will post later today.

There are salesforce verifications in the escalated integration tests, but we need to determine what is rocketchats responsibility and only test for that.  i.e. Do we need SF api's to v

[2021-11-11 14:53] ear-dev commented on #995
Still need to add ALL global configs to the json.

[2021-11-11 17:38] ear-dev opened #1008 "Document how to get logging from the webview during mobile development."
This will be useful for Mark and any others moving forward. Thanks!

[2021-11-11 17:52] ear-dev opened #1009 "Design how we can emulate running our widget from within a webview for testing."
We would like to simulate running our widget in the same environment where it runs in the my viasat mobile apps.  This will be useful for testing and development, to insure that we don't break something in mobile that we are not catching during our web app testing and development.

[2021-11-11 18:48] ear-dev opened #1010 "Do not minimize the widget on mobile when closing the chat."
This will revert a change we made as part of the two tab issue, which minimized the widget immediately upon closing the chat and not using the 'x'.

We only want to revert on mobile.

[2021-11-12 16:34] ear-dev commented on #1006
@bhardwajaditya this spreadsheet describes both non-escalated and escalated test cases.  At the moment lets focus on the non-escalated cases please.  I still need to look over and groom the escalated cases.....

These test cases are all just manipulating the widget and verifying the outcomes against our preprod Dialogflow.agent/fulfillment server.  Will you be able to run your cypress scripts agai

[2021-11-15 11:01] Shailesh351 commented on #900
To create this micro service frontend for embedding widget in the apps, we will create `react library`.

This react library will be supported for both web and mobile using `react js and react native`.

This library will be maintained as a `Monorepo` to keep business logic same for web and mobile. It will be hosted somewhere as package(internal npm?), so that it can be imported and used in any App.

[2021-11-15 14:45] #975 closed, assigned to Shailesh351

[2021-11-15 16:46] ear-dev opened #1015 "[BLOCKER] Livechat widget breaks on mobile because of localStorage access"
[code]

Perhaps there is a race condition where we are trying to access local storage before it is available?

[2021-11-15 16:48] ear-dev commented on #1015
@Shailesh351 can you add some information here about your findings to date?

We already made an attempt at disabling the logging on mobile, but that did not resolve the issue:  https://github.com/WideChat/Rocket.Chat.Livechat/pull/112   After we find the fix, we should remember to clean up this first attempt.

ISSUE:
So far we have not been able to reproduce the issue outside of actually using the

[2021-11-15 21:42] ear-dev commented on #978
This issue was fixed in another PR:  https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/47 so we will not take this one.

[2021-11-15 21:42] #978 closed, assigned to Shailesh351

[2021-11-16 03:16] Shailesh351 commented on #1015
## RCA
I tried a bunch of commits after each recent PRs and found that the issue was not because of logging, it was after this PR.
https://github.com/WideChat/Rocket.Chat.Livechat/pull/103

[code]

In that PR `store` was being used in the `widget.js`, which is like an entry-level file and localStorage is not available in that file.

I have created PR https://github.com/WideChat/Rocket.Chat.Livecha

[2021-11-16 12:14] #1015 closed, assigned to Shailesh351

[2021-11-16 16:12] ear-dev commented on #838
Please verify that our SDK fork is up to date, and that our catchup workflow is tracking the correct branch.  Default branch == multiple-client

[2021-11-16 16:27] ear-dev commented on #838
Exploration:  Can we log when users close the tab and analyze later?
Analysis:

- what state was the session in when they closed the tab (DF, SF - escalated?)
- Did user close tab and come back and continue the conversation?
- Did an agent pick up or wait on a user that closed the tab (user did not come back)?
- Generally profile what close tab behavior is like at the moment.

[2021-11-16 16:34] ear-dev commented on #838
@ItzzRitik Log when a user closes the tab.  Add info to the log point:

- current department
- In escalation queue or talking to live agent
- roomID
- log
- to stderr (note not a real error but the only logs we are catching)

Add an admin UI switch to toggle "log tab closed events", "room close upon tab closed events"

[2021-11-17 15:51] #946 closed, assigned to nobody

[2021-11-17 15:51] #1010 closed, assigned to bhardwajaditya

[2021-11-17 15:53] #991 closed, assigned to bhardwajaditya

[2021-11-17 15:54] #989 closed, assigned to ear-dev

[2021-11-17 15:54] #983 closed, assigned to chadgoss

[2021-11-17 15:55] #965 closed, assigned to Shailesh351, ear-dev

[2021-11-17 15:55] #969 closed, assigned to AlexanderKanakis

[2021-11-17 15:55] #971 closed, assigned to bhardwajaditya

[2021-11-17 15:56] #959 closed, assigned to Shailesh351

[2021-11-17 15:56] #951 closed, assigned to nobody

[2021-11-17 15:57] #950 closed, assigned to AlexanderKanakis

[2021-11-17 15:57] #957 closed, assigned to bhardwajaditya

[2021-11-17 15:57] #945 closed, assigned to AlexanderKanakis

[2021-11-17 15:58] #944 closed, assigned to AlexanderKanakis

[2021-11-17 15:58] #943 closed, assigned to AlexanderKanakis

[2021-11-17 15:58] #941 closed, assigned to itzzritik

[2021-11-17 15:59] #939 closed, assigned to ear-dev

[2021-11-17 15:59] #935 closed, assigned to itzzritik

[2021-11-17 15:59] #938 closed, assigned to bhardwajaditya

[2021-11-17 16:00] #932 closed, assigned to Shailesh351, AlexanderKanakis

[2021-11-17 16:00] #931 closed, assigned to bhardwajaditya

[2021-11-17 16:00] #927 closed, assigned to Shailesh351

[2021-11-17 16:01] #916 closed, assigned to nobody

[2021-11-17 16:01] #905 closed, assigned to nobody

[2021-11-17 16:02] #886 closed, assigned to bhardwajaditya

[2021-11-17 16:02] #885 closed, assigned to Shailesh351

[2021-11-17 16:03] #883 closed, assigned to AlexanderKanakis

[2021-11-17 16:03] #880 closed, assigned to Shailesh351

[2021-11-17 16:04] #887 closed, assigned to Shailesh351

[2021-11-17 16:04] #891 closed, assigned to Shailesh351

[2021-11-17 17:27] chadgoss opened #1017 "Debugging information for new session"

[2021-11-17 17:28] chadgoss commented on #1017
SESSION 1:
Start of conversation

guest-40921
7:16 AM
 Chat started

virtualassistant
Livechat Agent
7:16 AM
Hi there! I am a virtual assistant, designed to answer questions about your service.
What can I help you with?

chad
<REDACTED NAME> @guest-40921
7:18 AM
This is the dollars of data

virtualassistant
Livechat Agent
7:18 AM
I can help you with the following home phone questions.

<REDACTED N

[2021-11-17 17:33] chadgoss commented on #1017
SESSION 2:

Start of conversation

guest-40921
7:51 AM
 Chat started

virtualassistant
Livechat Agent
7:51 AM
Hi there! I am a virtual assistant, designed to answer questions about your service.

chad
<REDACTED NAME>@guest-40921
7:51 AM
Yes

virtualassistant
Livechat Agent
7:51 AM
I am unable to locate your account information.
Please contact our Customer Care team by phone 24/7 at 1-855-463-9333.

[2021-11-17 17:35] chadgoss commented on #1017
SESSION 3

Start of conversation

guest-40921
8:05 AM
 Chat started

virtualassistant
Livechat Agent
8:05 AM
Hi there! I am a virtual assistant, designed to answer questions about your service.

chad
<REDACTED NAME>@guest-40921
8:05 AM
Thank you didnt know so.can I add 30 in data

virtualassistant
Livechat Agent
8:05 AM
What can I help you with?
Unlimited plans have a set high speed data amount th

[2021-11-17 17:52] chadgoss commented on #1017
Elasticsearch logs for three sessions

[info.xlsx](https://github.com/WideChat/Rocket.Chat/files/7556841/info.xlsx)

[2021-11-17 19:13] ear-dev commented on #1017
@Shailesh351 here's the custom fields for the three rooms we're looking at:

{
	"_id" : "5ERZqkdkZQ9kuQnSs",
	"customFields" : {
		"welcomeEventSent" : true,
		"accessToken" : {
			"token" : "ya29.c.KqEBGAhlPukF1kz_iUad4oHlYmuVtlM72qes_fFhrlTT5cnj23Ntds2Jz6bq9hNl3rdo1suXi3bWbtWX8yo5ny5ydiMYJwkqK046DHczfgGIY1SKrJYiwydqJKExXOYVy6FobQby98qP4jMmwRw1p86ztXZZyhMhN7UXHANUhgYAXZ_rNk-2grWd33EL57EZAXzrcIDaP

[2021-11-18 14:28] Shailesh351 commented on #1008
Wiki: https://github.com/WideChat/Rocket.Chat/wiki/Debugging-WebView-in-Mobile

[2021-11-18 14:32] ear-dev commented on #1009
Includes create a new repo with your sample application, where you can configure and embed the widget in EXACTLY the same way it is done in my.viasat app......  in mobile.

[2021-11-18 14:32] AlexanderKanakis commented on #995
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/125
RC: https://github.com/WideChat/Rocket.Chat/pull/981

### Warning:
This story and story https://github.com/WideChat/Rocket.Chat/issues/964 are solved by the same Apps.Dialogflow PR

[2021-11-18 14:37] ear-dev commented on #879
@chadgoss can you please describe here what the effect of this will be for the visitor?

does this have to do with "close chat confusion"?

[2021-11-18 14:44] ear-dev opened #1018 "Add tabID to clientside UI logging"
from session storage?

[2021-11-18 14:47] ear-dev commented on #1017
Need to come up with a repro.....  can we use this data to create a step by step manual on how to reproduce.

we need a plain english description of what the visitor is experiencing/seeing.

[2021-11-18 14:59] chadgoss commented on #879
What it looks like currently, NOTE: the room is left open until the 'X' or the virtual assistant dept timeout is hit

<img width="370" alt="Screen Shot 2021-11-18 at 9 46 29 AM" src="https://user-images.githubusercontent.com/9826215/142437533-7270fd3a-6361-45d8-9501-6b28182a4312.png">

[2021-11-18 15:00] chadgoss commented on #879
What it will look like using the df_close_chat payload, NOTE the room is closed by this payload. Note also that the "Close Chat" disable input is clickable and closes the window the same way the 'X' does.

<img width="370" alt="Screen Shot 2021-11-18 at 9 59 00 AM" src="https://user-images.githubusercontent.com/9826215/142439933-bed2c40a-41b7-462a-97fe-8d9959c6fc9d.png">

[2021-11-18 15:01] ear-dev commented on #1006
Use Cases: Start with 'Full integration test case'

- Livechat repo unit test cases.
- Full integration test cases
    - Testing with real release candidate components
    - Use the actual my viasat test app.....  https://my-viasat-test.icat.viasat.io (in this way we are testing real CX and Fulfillment)

[2021-11-18 15:58] ear-dev opened #1019 "[Close chat confusion] Remove the composer after df_close_chat payload"
Currently we will be showing the "Close chat" button, which will close the chat.

It might be the case that we want to consolidate on a single way to close the widget by clicking the "x".

To do this we would want to remove the composer entirely upon receiving the df_close_chat payload.

[2021-11-18 15:59] ear-dev commented on #1019
NOTE: we do not want to do this in mobile.  We need to maintain the current mobile behavior.

[2021-11-18 15:59] ear-dev commented on #1019
@bhardwajaditya is this possible?  Would it cause any issues?

[2021-11-19 18:45] chadgoss opened #1020 "Zero downtime app upgrades"
we frequently have to either restart the server, or uninstall/reinstall the app after a DF or SF app upgrade. Need to have some strategy for zero downtime upgrades

[2021-11-22 16:01] ear-dev opened #1021 "[DF.apps API] create an openAPI spec for the new apps configuration apis"
openAPI is an industry standard for describing apis.
swagger is a possible tool used to document and describe an api.

@Aditya can help with tools and examples if neccessary.

[2021-11-22 16:30] ear-dev commented on #953
@AlexanderKanakis as we discussed just now.......  you will change dialogflow_bot_list_config to 'agents'.

[2021-11-22 17:02] ear-dev commented on #953
@AlexanderKanakis All of the other rocketchat rest APIs are nested under "/api/v1/*/"  Is there a reason that these new APIs are not also under "v1'?  Can we standardize on that?

Also.......  do we actually need "appname" in the url?  For example:  http://localhost:3000/api/apps/appname/Dialogflow/settings/agents/mexico_agent

Is it enough to just use apps/Dialogflow/*?  Or is there some reason y

[2021-11-22 17:20] AlexanderKanakis commented on #953
@ear-dev  The already existing AppsRestApi provided by Rocket.Chat nests the app REST API under `/api/apps/*/`

The call `apps/Dialogflow/*` would fall under the route `apps/ ${ appID }`, which accepts the app ID and not app name. We can remove that route if we will always use the app name for the REST call and use `apps/Dialogflow/*`

[2021-11-22 18:24] ear-dev commented on #953
@AlexanderKanakis perhaps we should not use appByName at all, and just stick with appID.  What do you think?  It could be that that makes more sense, it's more explicit, and prevents any confusion....

I'm also thinking that we might want to move the whole thing under v1 for consistency.

I think after you have created an openAPI spec that describes this api, it will facilitate a design meeting wh

[2021-11-23 10:31] Shailesh351 opened #1022 "Upstream Catchup PRs"
https://github.com/WideChat/Rocket.Chat/pull/1014
https://github.com/WideChat/Rocket.Chat.Livechat/pull/116
https://github.com/WideChat/Rocket.Chat.js.SDK/pull/3

https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/41

[2021-11-23 16:10] ear-dev commented on #1009
@ear-dev create a repo for Shailesh's test app that will act like our embedded widget in my viasat.  rocket.chat.embedded.test.app?

[2021-11-23 16:14] ear-dev commented on #1006
Current Issue:  Cypress does not handle the Oauth.. cross origin cookies......  @bhardwajaditya is still investigating.

[2021-11-23 16:17] ear-dev commented on #838
@Shailesh351 can you maybe work with Ritik to help him figure out how to discover the queue state for logging.

- Talking to DF (DF)
- Waiting in queue for a live agent (SF)
- Talking to a live agent (SF)

[2021-11-23 16:42] ear-dev commented on #1009
https://github.com/WideChat/Rocket.Chat.Livechat.Test-App

[2021-11-23 16:44] ear-dev commented on #1019
@bhardwajaditya @Shailesh351 Can you comment please on the feasibility of this design? What do you think?

[2021-11-23 16:44] #1003 closed, assigned to nobody

[2021-11-23 19:06] bhardwajaditya commented on #1019
@ear-dev Sorry missed this earlier, I think we can stop rendering that when room is closed

[2021-11-29 08:33] Shailesh351 commented on #838
@ItzzRitik One way I can think of for getting the current state of the room is by accessing departmentId from Room. and for waiting in the queue, we can set additional data(maybe customField or livechatData in the salesforce app) and listen for the same in the live chat widget by subscribing to relevant events(I'm not sure exactly what will be that event). We might also need to make changes in js

[2021-11-30 13:01] AlexanderKanakis commented on #964
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/125

### Warning:
This story and story https://github.com/WideChat/Rocket.Chat/issues/995 are solved by the same Apps.Dialogflow PR

[2021-11-30 16:11] ear-dev commented on #953
@AlexanderKanakis Please paste an example of an RC.app entry in the RC database here.  I would like to see the full schema representation of a Rocketchat app, as it exists in the mongodb.

[2021-11-30 16:19] ear-dev commented on #964
@AlexanderKanakis please make a note in this story when you have merged the connection draining and the multiple endpoint configs into a single PR.

[2021-11-30 16:22] ear-dev commented on #852
@AlexanderKanakis please document you new strategy here.  Include any gottchas and weird errors....

[2021-11-30 16:35] ear-dev commented on #1019
Solution:  In all cases when we receive the df_close_chat payload we will remove the composer entirely, instead of using the "Close Chat" or "Please close this chat to end your session" buttons.

[2021-11-30 16:52] #1018 closed, assigned to bhardwajaditya

[2021-11-30 16:53] #1008 closed, assigned to Shailesh351

[2021-11-30 16:53] #900 closed, assigned to Shailesh351

[2021-11-30 16:53] #657 closed, assigned to AlexanderKanakis

[2021-11-30 16:54] #967 closed, assigned to nobody

[2021-11-30 16:54] #847 closed, assigned to AlexanderKanakis

[2021-11-30 16:54] #973 closed, assigned to bhardwajaditya

[2021-11-30 16:54] #974 closed, assigned to chadgoss

[2021-11-30 16:54] #942 closed, assigned to ear-dev

[2021-11-30 16:54] #871 closed, assigned to chadgoss, bhardwajaditya

[2021-11-30 16:55] #904 closed, assigned to AlexanderKanakis

[2021-11-30 16:55] #897 closed, assigned to itzzritik

[2021-11-30 16:55] #922 closed, assigned to Shailesh351

[2021-11-30 16:55] #902 closed, assigned to bhardwajaditya

[2021-11-30 16:55] #877 closed, assigned to itzzritik

[2021-11-30 16:55] #864 closed, assigned to AlexanderKanakis

[2021-11-30 16:55] #729 closed, assigned to ear-dev

[2021-11-30 16:56] #903 closed, assigned to bhardwajaditya

[2021-11-30 16:56] #659 closed, assigned to bhardwajaditya

[2021-11-30 16:56] #889 closed, assigned to Shailesh351

[2021-11-30 16:56] #790 closed, assigned to ear-dev

[2021-11-30 16:56] #853 closed, assigned to chadgoss

[2021-11-30 16:56] #783 closed, assigned to Shailesh351

[2021-11-30 16:56] #843 closed, assigned to AlexanderKanakis

[2021-11-30 16:56] #865 closed, assigned to Shailesh351

[2021-11-30 16:57] #734 closed, assigned to AlexanderKanakis

[2021-11-30 16:57] #866 closed, assigned to Shailesh351, AlexanderKanakis

[2021-11-30 16:57] #789 closed, assigned to AlexanderKanakis

[2021-12-01 15:09] #861 closed, assigned to bhardwajaditya

[2021-12-02 16:23] ear-dev opened #1024 "[Fulfillment][Chad] Fulfillment should stop sending end_livechat in all circumstances"
Are there any cases where fulfillment should be closing rooms?

Issue:
After implementing df_close_chat from DF.agents...  we are seeing fulfillment trying to do the same two minutes later.
- we don't know yet what is triggering this, but we want to remove it.
- if we find other cases where fulfillment should properly be responsible for closing chat, then we'll keep it.....  but we need to documen

[2021-12-02 18:56] ear-dev commented on #1021
- Please include the /api/apps endpoint in your spec.  We want to see what it returns.
    - document what it returns.  We will parse the return for the appName to verify which app we want.
    - How can we query the /api/apps endpoint with a query parameter to just return the app we want by app_name?
    - Ideally it would return {"_id": "xxxxx"}
- /{id}/settings/{setting-id} - in our use-case se

[2021-12-02 19:21] chadgoss opened #1025 "in escalation failure: check to see if room is closed before trying to close it"
DF App - Handover to SF App - SF tries to find live agent - SF App Fails to find live agent - SF closes room - SF than sends event to DF Agent which is configured in SF App Settings - In the response we got df_close_chat which shows above error

one solution is to check to see if the room is closed before closing it.

[2021-12-03 16:19] ear-dev commented on #1017
@Shailesh351 @bhardwajaditya We have another example of a room without welcome event.
Visitor talking with Liveagent -> Session Closed -> Visitor triggers a new room with text before welcome event.

In this case the logging seems to indicate that the close_chat payload did not arrive in time on the mobile device.

![image](https://user-images.githubusercontent.com/28864717/144635130-11520526-698f-

[2021-12-06 14:24] AlexanderKanakis commented on #1021
YAML file: https://github.com/WideChat/Rocket.Chat.openApi/tree/master/apps
Wiki page with API: https://github.com/WideChat/Rocket.Chat.openApi/wiki/API-for-Appshttps://github.com/WideChat/Rocket.Chat.openApi/wiki/API-for-Apps

[2021-12-06 15:16] ear-dev opened #1026 "[Tech Debt] Document any apis we have created in openApi"
https://github.com/WideChat/Rocket.Chat.openApi

customOauth?
any others?

[2021-12-07 16:09] ear-dev opened #1027 "[reminder] Use "department" instead of "departmentName" for SMS endpoint"

[2021-12-07 16:13] ear-dev opened #1028 "[Actions] Fix our workflow for weekly catchup"
All the catchup actions are failing and it seems like a permissions issue maybe.

[2021-12-07 16:14] ear-dev commented on #1028
also needs refactor and improvements.

[2021-12-07 16:24] ear-dev opened #1029 "[No Welcome Event] If user types into an empty room, notify user, disable composer."
New Admin UI - needed to configure the "sorry this room has already been closed" message.
Upon the "visitor typed a message" trigger, send the sorry message, disable the composer.

Now the visitor just has to close the widget normally and start a new session as usual.

[2021-12-07 18:24] ear-dev opened #1030 "[DF.app] Add a UI config item that we can set to disable the wait for welcome intent, so that the composer is available immediately"
We would like to use the widget for some of the automated testing against Brazil CX agents which were designed for whatsApp.  So in this use-case, we do not want to wait for a welcome intent before making the composer available for typing.

[2021-12-07 22:17] ear-dev opened #1031 "Fix Rocket.Chat API "users" endpoint"
The users endpoint in the RC REST API is poorly designed and impossible to work with in automation contexts.

https://developer.rocket.chat/reference/api/rest-api/endpoints/team-collaboration-endpoints/users-endpoints

The current design includes things like:  'users.create', 'users.delete', 'users.get_info'.......  for example.  i.e. a unique endpoint for every action you would like to perform on

[2021-12-09 15:27] ear-dev opened #1032 "[BUG][Integration Script] Rocket.Chat(function() fails to set the 'setDepartment' variable upon starting second chat."
The first time after refreshing the page the department is set correctly.  The second time you start a chat it opens the default department, and not the configured department.

Steps to reproduce:
1) close the first chat.
2) click the widget a second time to start a new chat
3) click the 'New Chat' button
Result:
The department has reverted to the default department.

Must be that the variables se

[2021-12-09 16:14] ear-dev commented on #1029
For the UsRes use-case we need to drop the 'trigger message' (first message that initializes a new room).  i.e. do not send to DF.agent.  In the Brazil case, we do not want to drop the trigger message.

Solution:
Add a new config in DF.config.json (adminUI for now ok if need be)  that indicates "drop trigger message" true/false

[2021-12-09 16:18] ear-dev commented on #1030
Need this for brazil bot

"disable_composer_on_trigger_event" - true (UsRes), false (Brazil)

[2021-12-14 16:06] AlexanderKanakis commented on #1031
Yaml file for new user API and new wiki page here: https://github.com/WideChat/Rocket.Chat.openApi

[2021-12-15 14:09] AlexanderKanakis commented on #1025
@chadgoss are you refering to the event set in the `Dialogflow Agent Unavailable Event Name` setting?

[2021-12-15 14:20] chadgoss commented on #1025
@AlexanderKanakis yep

[2021-12-15 14:24] AlexanderKanakis commented on #1025
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/126

[2021-12-15 15:23] ear-dev commented on #1029
New solution:  Add a new rocketchat method in the integration script to 'drop_trigger_message';  Add a new livechat Admin UI text field for message "please close this chat to start a new one". Disable the composer.

[2021-12-15 15:36] ear-dev opened #1034 "[RC API] Add user_status to user creation endpoint."
We want the ability to create new users that are online immediately.

[2021-12-16 10:19] AlexanderKanakis commented on #1034
PR:

Rocket.Chat: https://github.com/WideChat/Rocket.Chat/pull/1035

## Note:
Please merge asap to avoid merging issues with the new REST API required in https://github.com/WideChat/Rocket.Chat/issues/1031

[2021-12-16 17:03] ear-dev opened #1037 "[BUG][Livechat] the setDepartment() function no longer seems to work after the latest catchup merge."
I am testing with a custom html file and when I click the widget the room is opening to the default department, and never opening to the department set in the setDepartment() function.

[2021-12-17 17:44] ear-dev opened #1038 "[Test Integration Widget] Add a test whatsApp number to the testWidget.html for our integration test bed."
In our CI/CD pipeline, we will be using test widgets modeled after Shailesh's html file. Ask shailesh for a copy if needed.
We will be using livechat widgets to test CX agents in our pipeline, but we want to simulate WhatsApp as best possible.......  i.e. we will need to include a fake whatsApp number as the username, so that it gets passed to CX.agent as if this were a whatsApp session.

[2021-12-17 17:52] ear-dev commented on #1037
@Shailesh351 @bhardwajaditya this is a pretty bad regression if true.....  any ideas?

[2021-12-27 05:21] itzzritik commented on #838
PR Raised: [WideChat/Rocket.Chat - PR#1039](https://github.com/WideChat/Rocket.Chat/pull/1039)
**Total 3 PRs** (all mentioned in the above PR)☝️

Linked Issue: [WideChat/Rocket.Chat - Issue#984](https://github.com/WideChat/Rocket.Chat/issues/984)

[2021-12-27 05:22] itzzritik commented on #984
PR Raised: [WideChat/Rocket.Chat - PR#1039](https://github.com/WideChat/Rocket.Chat/pull/1039)
**Total 3 PRs** (all mentioned in the above PR)☝️

Linked Issue: [WideChat/Rocket.Chat - Issue#838](https://github.com/WideChat/Rocket.Chat/issues/838)

[2022-01-03 16:46] ear-dev commented on #1031
Hi @AlexanderKanakis hows this one going?  I think I'd like to prioritize this please....  thanks.

[2022-01-03 18:11] #1025 closed, assigned to AlexanderKanakis

[2022-01-03 18:14] ear-dev commented on #1019
@AlexanderKanakis any progress on this?  Maybe if you are busy with other stuff @bhardwajaditya or @Shailesh351 can take this one?  This is blocking a DF.agent promotion and the team would like to resolve.  Thanks.

[2022-01-03 21:15] ear-dev opened #1040 "[Upstream Bug] Creating new users fails unless "Manually approve new users" is disabled."
https://github.com/RocketChat/Rocket.Chat/issues/23880

The error is:

Roles.findUsersInRole(...).toArray is not a function

[2022-01-03 21:17] #1034 closed, assigned to AlexanderKanakis

[2022-01-04 09:56] AlexanderKanakis commented on #1019
PR:
Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/119

[2022-01-04 10:08] AlexanderKanakis commented on #1031
PR:
https://github.com/WideChat/Rocket.Chat/pull/1042

API:
https://github.com/WideChat/Rocket.Chat.openApi

[2022-01-04 17:42] #977 closed, assigned to nobody

[2022-01-04 19:45] #1019 closed, assigned to AlexanderKanakis

[2022-01-04 19:47] bhardwajaditya commented on #1006
@ear-dev Since Cypress does not handle OAuth and does not allow setting cross origin cookies, we need to get the cookie from OAuth server and set it before visiting the target URL.

I need some documentation on how to use Viasat OAuth to get the valid cookie to be used on the pre prod chatbot server. The relevant API link should also work with input parameters required.

[2022-01-05 16:29] ear-dev opened #1043 "[BUG] Fix print option in the widget."
We may have inadvertently removed it in this PR:  https://github.com/WideChat/Rocket.Chat.Livechat/pull/119

[2022-01-05 16:30] AlexanderKanakis commented on #1043
@ear-dev  on it.

[2022-01-05 16:35] #1029 closed, assigned to bhardwajaditya

[2022-01-05 16:45] ear-dev opened #1044 "[Integration Script][Mark Famini] Add this.dropTriggerMessage(); to Rocketchat function in integration script."
Marks JIRA:  https://jira.viasat.com/browse/ECJ-1219

[2022-01-06 16:04] ear-dev opened #1046 "[BUG] Error only logging is now logging actual chat content."
We need to be sure that we do not log any PII at all in Kibana storage.

Please verify and fix so that error level logging does not log any customer chat transcript content.

[2022-01-06 16:14] ear-dev opened #1047 "[BUG] DF.app failed to do handover in Prod"
https://github.com/WideChat/Apps.Dialogflow/releases/tag/v1.2.3.c885ad9

This version of DF.app deployed in preprod escalates successfully, but deployed in Prod it failed to escalate and threw an error.

"Error occurred while using Dialogflow Rest API. Details:-: { roomID: p6mtxKxp9Z5szSkML } {"stack":"Error: Error occurred while processing handover. Details Error: Invalid app user, cannot transfe

[2022-01-06 16:18] ear-dev commented on #995
@AlexanderKanakis will make a new PR against the apps-engine repo, in response to Shailesh review.

[2022-01-06 16:30] #1032 closed, assigned to bhardwajaditya

[2022-01-06 17:10] ear-dev commented on #1024
@chadgoss this turned out to be a red herring right?  Fulfillment is not doing this at all, correct?  Can I remove this from the project?

[2022-01-06 18:04] #1037 closed, assigned to Shailesh351

[2022-01-07 21:11] ear-dev commented on #1047
@bhardwajaditya do you have any leads on what this error is, and why we only see this on our production server at the moment?

[2022-01-08 03:03] AlexanderKanakis commented on #995
PR:

Apps.Dialogflow: WideChat/Apps.Dialogflow#125
RC: #981
Apps-engine: https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/44

<hr>

If the PRs need to be tested before the Apps-engine PR is merged:
1. Change the URL for Apps-engine in package.json to:
[code]

[2022-01-08 03:06] AlexanderKanakis commented on #1043
PR:

Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/121

[2022-01-10 14:48] #1046 closed, assigned to Shailesh351

[2022-01-10 14:55] ear-dev commented on #1047
@Shailesh351 Since Aditya will likely be out for a couple of days can you investigate this issue please?  We would like to deploy the latest DF app in prod as soon as we figure this out.  Thanks!

[2022-01-10 17:00] #1043 closed, assigned to AlexanderKanakis

[2022-01-11 14:29] #995 closed, assigned to AlexanderKanakis

[2022-01-11 14:29] #964 closed, assigned to AlexanderKanakis

[2022-01-11 16:12] ear-dev commented on #1047
Issue was that server could not find the DF.bot user.  Eric will try again by uninstalling the app and deleting the bot user.  Reinstall should work.  i.e. perhaps our mongodb got into a bad state.

[2022-01-11 16:14] ear-dev commented on #1007
Joel Evans might be a good resource.

[2022-01-11 16:20] ear-dev opened #1051 "[Placeholder] ES to CX migration - need to verify everything works in CX - need to coordinate with chatbot team as needed."
Find RC specific issues and get them on our board.

[2022-01-11 16:32] ear-dev opened #1052 "[Downtime] Investigate If the DF.app is down or uninstalled, can we proactively pop up a message that says "sorry service unavailable temporarily""
On server side, if no callback from DF.app, maybe there we can add the service unavailable message.

[2022-01-12 15:27] #953 closed, assigned to AlexanderKanakis

[2022-01-12 15:49] ear-dev opened #1053 "[BUG] Livechat widget won't load due to MIME type checking"
I think it started with this PR:  https://github.com/WideChat/Rocket.Chat.Livechat/pull/121

[2022-01-12 15:49] ear-dev commented on #1053
![image](https://user-images.githubusercontent.com/28864717/149173810-b27de320-ef5e-482c-9292-3d5bffcd7dff.png)

[2022-01-12 15:57] ear-dev commented on #1009
@AlexanderKanakis can you set this up and test it out please?

[2022-01-13 14:54] #768 closed, assigned to nobody

[2022-01-13 14:55] #1000 closed, assigned to nobody

[2022-01-13 15:32] #1022 closed, assigned to Shailesh351

[2022-01-13 16:13] Shailesh351 opened #1055 "Upstream Catchup PRs(Check all the repos)"
Apps-Engine(v.1.29.2): https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/46

Livechat(v1.12.0): https://github.com/WideChat/Rocket.Chat.Livechat/pull/125

Server(Updated AppsEngine and Livechat): https://github.com/WideChat/Rocket.Chat/pull/1063

DF App(Updated AppsEngine): https://github.com/WideChat/Apps.Dialogflow/pull/130
SF App(Updated AppsEngine): https://github.com/WideChat/Apps.Sale

[2022-01-13 16:35] ear-dev commented on #1006
Eric will create a new WideChat repo for these tests.... @bhardwajaditya please commit your code when the repo is ready.

[2022-01-13 17:03] ear-dev opened #1056 "[BUG][Users API] Users DELETE is failing in our automation using terraform."
Unexpected response code '400': ***"success":false,"error":"Match error: Unknown key in field active"***

I'm pretty sure it's in the DELETE fork of the code, but can check.  FYI - I do not think we had this issue before this PR: https://github.com/WideChat/Rocket.Chat/pull/1035

[2022-01-13 17:36] Shailesh351 commented on #1028
@ear-dev The issue is with the default `GITHUB_TOKEN` in the workflow. It does not have the privilege to write. Even after specifying permissions in the workflow file, it was not working (https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/).

So to fix this issue we need to create a Personal Access Token and use that in the workflow. Below are the steps fo

[2022-01-13 19:16] ear-dev opened #1057 "[RC api] When creating a new user, and assigning the "livechat agent" role, the new agent status is "unavailable"... can we programatically change the status to "available""

[2022-01-13 19:20] ear-dev commented on #1030
@bhardwajaditya I moved this back into in progress.  When you have adjusted the PR please move back into Under Review, so I will know it is ready.  Thanks.

[2022-01-13 21:13] ear-dev commented on #872
Update:  the example in the video above is still valid.  this is where we can reproduce the dangling typing indicator every time.

[2022-01-13 21:31] #1057 closed, assigned to AlexanderKanakis

[2022-01-14 12:01] bhardwajaditya commented on #1030
@ear-dev it's ready and moved it back to under review

[2022-01-14 14:51] chadgoss opened #1060 "Print chat investigation items"
- what was the technical issue with implementing print chat on mobile?
- is it possible to instrument such that we know how many people are using print chat on web
- save chat in mobile should be consistent with the web UI experience

[2022-01-14 15:00] #1030 closed, assigned to AlexanderKanakis, bhardwajaditya

[2022-01-17 16:37] ear-dev commented on #1028
@Shailesh351 I have added the PAT secret and commited the change in the workflow to use it.....  but only in the Rocket.Chat repo so far.  I'm not sure the best way to test, i.e. manually trigger it.  Can you verify please if the PAT change worked?  Thanks

[2022-01-17 16:39] Shailesh351 commented on #1028
@ear-dev Currently it is showing "Invalid workflow file" https://github.com/WideChat/Rocket.Chat/actions/runs/1708961612/workflow. I will create PR to update the workflow file for testing

[2022-01-17 16:41] ear-dev commented on #1028
Yeah, I realize that I misconfigured that, and then I reverted it.  Feel free to test any way that works.

[2022-01-17 16:44] Shailesh351 commented on #1028
@ear-dev I have created this PR https://github.com/WideChat/Rocket.Chat/pull/1062. After this, we should be able to test the workflow from the actions tab. I have tested it on my own rocket chat fork

[2022-01-17 16:48] ear-dev commented on #1028
OK, looks good........  can you revert the manual trigger change please.  I'll add the secret to the other repos and make the PRs.... Thanks!

[2022-01-17 16:49] Shailesh351 commented on #1028
Cool. Here's the PR for reverting https://github.com/WideChat/Rocket.Chat/pull/1064. Thanks!!

[2022-01-17 16:57] #1028 closed, assigned to Shailesh351

[2022-01-17 16:59] ear-dev commented on #1056
@AlexanderKanakis I'm going to close this for now because lately it's been working fine.  If it repros I can reopen it, but for now I don't think there is any action required.  thanks.

[2022-01-17 16:59] #1056 closed, assigned to AlexanderKanakis

[2022-01-18 10:55] bhardwajaditya commented on #832
@ear-dev which is the second place in the UI, one is the Dialogflow configuration listed below.

"close_chat_message": "Thanks for contacting Viasat Customer Care. We appreciate your business. Please close this window to end your chat session."

[2022-01-18 15:50] ear-dev commented on #1006
@bhardwajaditya please push you tests to this repo:  https://github.com/WideChat/Rocket.Chat.IntegrationTests  thanks.

[2022-01-18 15:53] ear-dev commented on #832
@bhardwajaditya there is a message in the omnichannel admin UI specifically for the case when visitor abandonment closes a session.

![image](https://user-images.githubusercontent.com/28864717/149971669-175506e4-80c3-49fb-87ae-773e8d7d9001.png)

[2022-01-18 17:15] AlexanderKanakis opened #1065 "[BUG] If Salesforce agent accepts new client too quickly during escalation, communication fails."
https://user-images.githubusercontent.com/18405180/149986026-1c053fd2-ff8a-47ba-97b4-13550084bd83.mp4

[2022-01-19 19:55] ear-dev commented on #1006
@bhardwajaditya if I wanted to point the cypress tests at `https://messaging.vega-preprod.viasat.io/livechat` where would I configure that?

[2022-01-19 19:57] bhardwajaditya commented on #1006
@ear-dev there's a test.html file in the root of the project, you can modify that and use it.
Or in every test there's a before hook where cy.visit is called, you can change the page URL there currently it opens the test.html

[2022-01-20 15:27] ear-dev commented on #1006
We need some examples of conditional assertions.

[code]

[2022-01-20 15:29] ear-dev commented on #1006
also show us how to use a predetermined cookie so that we can test against myViasat

[2022-01-25 15:25] ear-dev opened #1067 "[Test Integration Widget] Enhance our html to include the passing of real tokens."
We are using an html with an embedded livechat widget for our test bed bundles.  We need to have the option to pass a real user token upon session registration, just like the my.viasat app does.

One suggestion was to add an drop down in the html that we could use to manually set the token.

[2022-01-25 15:34] ear-dev opened #1068 "[BUG][DF.app] In the ES case, the 'environment' setting is not being applied. All chats are hitting the default environment instead."
might be that we only use environment_id for both ES and CX.......  Chad to test.

NOTE: this has been verified.  No action required.

[2022-01-25 15:51] ear-dev opened #1069 "[Cypress tests] Create a github actions workflow that will run a suite of tests against a given url/widget"

[2022-01-25 16:29] ear-dev commented on #872
Chad will make a fix on the fulfillment side

[2022-01-26 07:29] Shailesh351 commented on #1055
@ear-dev All the PRs are now merged. You can go ahead and test it out together. Thanks!

[2022-01-26 14:36] ear-dev commented on #1055
Awesome!  Thanks @Shailesh351

[2022-01-26 17:11] ear-dev commented on #1002
Moving this back to in progress because we need to add a feature enhancement.

- Currently the blackout_window is only triggered on a new visitor message, and by default it ends with any DF.agent response.  That's fine.
- We need to add a new feature where the DF.app responds to a new flag attached to responses from the DF.agent "continue_blackout" true/false (we'll sync with Meis on the exact nam

[2022-01-26 21:46] #1068 closed, assigned to nobody

[2022-01-26 21:48] #1024 closed, assigned to nobody

[2022-01-27 15:37] ear-dev opened #1070 "[DF logging] Some http errors are not getting caught by our custom error logging"
We thought we were catching all of the HTTP errors and duplicating them with our custom log point.  But some of them are not getting caught.

https://github.com/WideChat/Apps.Dialogflow/blob/master/enum/Logs.ts

Every one of these: "HTTP_REQUEST_ERROR = 'Error occurred while sending a HTTP Request'," should also throw one of these:      "DIALOGFLOW_REST_API_ERROR = 'Error occurred while using Dial

[2022-01-27 15:56] Shailesh351 opened #1071 "Dialogflow Events not being sent after escalated chat is closed, intermittent in prod - can't reproduce in uat"

[2022-01-27 16:10] AlexanderKanakis commented on #852
### PRs:

1. RC: https://github.com/WideChat/Rocket.Chat/pull/1072
2. Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/132
3. RC.Apps-engine: https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/47

### Instructions:
Run `npm install @rocket.chat/apps-engine` in both Rocket.Chat and Apps.Dialogflow repos.

[2022-01-27 16:15] chadgoss commented on #1071
What we're seeing:
- chat is escalated
- escalation fails as no agents are online
- `neuraflash_escalate_unavailable` intent (or `neuraflash_escalate_error`) is supposed to be triggered, but isn't

as a result fulfillment isn't aware that the escalation failed, and is not creating/attaching a transcript and closing the case

[2022-01-27 16:16] ear-dev opened #1073 "[CX partial responses] CX agent team needs to provide a test agent for partial responses"
https://jira.viasat.com/browse/CUSTSE-5342?atlLinkOrigin=c2xhY2staW50ZWdyYXRpb258aXNzdWU%3D

[2022-01-27 16:24] ear-dev commented on #1067
@AlexanderKanakis please host your widget work in this repo under a new "test_widget" directory:  https://github.com/WideChat/Rocket.Chat.IntegrationTests

This issue is linked to issue number 1038

[2022-01-27 16:29] ear-dev commented on #1067
UsRes use-case:

- simulator: we can use hard coded tokens that will be recognized by our backend
- real test users: these are real accounts from SSO and for these will need an api to the real SSO server to get a fresh token from one of the test users.

[2022-01-27 16:31] ear-dev commented on #1006
Eric - needs to talk with SSO team about how to find the right cookie.  Also need to figure out how we can use an api for authentication.

[2022-01-27 16:32] ear-dev commented on #1006
@bhardwajaditya when you figure out how to implement my suedo code above, please post a code snippet in this story as well as pushing an example to the repo.

[2022-01-27 16:38] ear-dev commented on #1002
@Shailesh351 Meis will be using this flag to indicate blackout_window state:  `continue_blackout = true`

[2022-01-27 16:57] #872 closed, assigned to chadgoss, Shailesh351

[2022-01-27 17:07] ear-dev commented on #925
@Shailesh351 even after Marks latest attempt to resolve this issue in the integration script we are still seeing the same volume of missing appName/token in prod.  Now that you have access to the myViasat repo maybe you can take a look and find the real solution?  Thanks!

I think I would prioritize this one first.  It will also give you some experience working on the myViasat repo before integrat

[2022-01-27 17:14] ear-dev commented on #1002
@Shailesh351 I just talked to meis......  she will be sending the `continue_blackout = true` flag only on her timer payloads when neccessary.  So if we default always to `false`, then when CX returns a normal response, that will clear our blackout condition.  Make sense?

[2022-01-27 19:32] ear-dev opened #1074 "[BUG][DF.app] Changing values in the config requires a server restart for the changes to take effect."
If I make a change in the config.json in the Admin UI, and hit the save button, the changes do not take effect until a server restart.  I have not tested this with the API, but it should not require a server restart in either case.

@AlexanderKanakis  can you verify that you are seeing the same behavior and fix if needed?  Also can you verify if this is also an issue when using the API please.  Th

[2022-01-27 20:07] AlexanderKanakis commented on #1074
@ear-dev  I can confirm without testing that updating settings in the UI is inconsistent at times. I can also confirm that this is not an issue with the API. Will look further into it.

[2022-01-27 20:49] ear-dev commented on #1074
Awesome!  thanks....

[2022-01-27 21:12] chadgoss commented on #1071
@Shailesh351 we're seeing that issue quite a bit in prod, any thoughts on how we might instrument the SF app to get some clues?

Note, I do see it working as well in prod. Most of the time when escalation fails it's hitting `neuraflash_escalate_unavailable` properly

This is correct:
<img width="924" alt="Screen Shot 2022-01-27 at 4 42 31 PM" src="https://user-images.githubusercontent.com/9826215/

[2022-01-27 21:25] ear-dev commented on #1071
@chadgoss do you think this is new behavior, or is it just something we haven't noticed before?  Any way to tell?

[2022-01-27 21:32] chadgoss commented on #1071
@ear-dev hard to say since we've had the bug in our backlog to mark failed escalations as such for a long time. Going back and tracking it down would be difficult.

[2022-01-31 16:38] ear-dev commented on #1006
@bhardwajaditya looks like this might work for you to get a valid myViasat token?

[code]

Probably use the test sso:  `https://mysso.my.test.viasat.com/`

[2022-02-01 08:54] bhardwajaditya commented on #1006
@ear-dev the pseudo code is pushed to repo.
Implementation is

[code]

[2022-02-01 08:55] bhardwajaditya commented on #1006
@ear-dev this should do the trick, I will try and let you know

[2022-02-01 09:01] bhardwajaditya commented on #1006
@ear-dev this post request returns 401 response using the test credentials.

The test credentials are not working when I enter them manually in the website.

[2022-02-01 09:19] bhardwajaditya commented on #1069
Cypress provides a well documented and managed library to run automatic test suits via GitHub Actions.
https://docs.cypress.io/guides/continuous-integration/github-actions#Cypress-GitHub-Action

The key points to discuss is:
- When to trigger these tests
- Currently cypress supports Chrome, Firefox, edge and other chromium based browsers. Which all to be considered for the tests.

[2022-02-01 15:38] Shailesh351 opened #1076 "[Bug] Empty rid and token in getTranscript"
[code]

this is probably a bug on the fullfillment side, where if we have a missing appName/token, we don't collect roomId and visitorToken

but very suspicious that we did an RC update on the 13th so RC Issue?

[2022-02-01 15:41] ear-dev commented on #1006
@bhardwajaditya yeah, seems like the test my viasat instance might be broken right now, I can't reach it either.  I'll check with the team.

I will also confirm if our test credentials are still good.  i.e. we seem to be getting a bad cookie back from sso, with a 401.

[2022-02-01 15:49] chadgoss commented on #1076
sessions in the last 24 hours where we've seen this:

Gucyzsg7oML5nwiyB
A9ToJziXTJWmA5QCv
RP3YkfTgQuECLjcjT
7oGrPPY2Ny6NWaoeZ
taXWKyk4Xxda9MM5Z
s5WHMLjxHanKHPxet
YuuEyqGMm9CJZ8ASP
hrcwcYGcC2r7q7jmc
9fxdcaizyw2QLEMrT
7DupC8qhy9gGJ4fSb
bD8q2oFnytm2aMcu8
wcjJLWRNNSZA44FNB
ePzE9GhQ8ungspTEr
R8Ej39gXPWgDpH6Mk

[2022-02-01 15:58] chadgoss commented on #1076
in every single case, here's the request/response:

webhook request Welcome event with empty appName/token
`Webhook Request: {'responseId': '07f0fbec-73a3-4874-a167-e6be93484453-c8e3f272', 'queryResult': {'queryText': 'Welcome', 'action': 'load_subscriber_info', 'parameters': {'roomId': 'RP3YkfTgQuECLjcjT', 'visitorToken': 'c29r8ym37lhqguu7dlwdqh', 'appName': '', 'token': ''}`

Webhook response wi

[2022-02-01 16:01] #1071 closed, assigned to Shailesh351

[2022-02-01 16:06] ear-dev commented on #1076
Two issues:

- Fulfillment bug: @chadgoss will make JIRA and fix - if appName and Token are missing, fulfillment not storing the roomId and visitorToken which is needed for getTranscript.
- Suddenly on jan13 we started to see logging for this issue from RC.  Is there a bug, or are we just now catching it properly.......  TODO: review the new RC server version for changes that might account for thi

[2022-02-01 16:22] ear-dev commented on #1069
@bhardwajaditya please start by creating a manual trigger `workflow_dispatch` later on we will automate the trigger once we have gone further with our automation design.   Chrome only is fine.

[2022-02-01 16:30] ear-dev commented on #1074
Alexander will adjust the logic to replace the settings instead of update in the case we make changes in the admin UI.

**ISSUE**: sometimes we can see that the mongodb has been updated correctly, but the app itself is not using the new config, and it requires a server restart to pick it up.

[2022-02-01 16:57] chadgoss opened #1077 "[Blocked on Chad fix in fulfillment] df_close_chat payload not closing room"
This seems to be a new flavor of the issue Aditya fixed that prevents the user from triggering a new room when the composer does not disappear properly.  In this case the RC server seemed to not close the room after it received the df_close_chat payload.  So the user typed into the open composer and the chat just continued by trying to escalate, even though fulfillment think we are starting a new

[2022-02-01 16:58] chadgoss commented on #1077
in every single case, here's the request/response:

webhook request Welcome event with empty appName/token
`Webhook Request: {'responseId': '07f0fbec-73a3-4874-a167-e6be93484453-c8e3f272', 'queryResult': {'queryText': 'Welcome', 'action': 'load_subscriber_info', 'parameters': {'roomId': 'RP3YkfTgQuECLjcjT', 'visitorToken': 'c29r8ym37lhqguu7dlwdqh', 'appName': '', 'token': ''}`

Webhook response wi

[2022-02-01 20:38] ear-dev opened #1078 "[Livechat][New Custom Field] Pass the new field to the SF.app to include when it starts a new escalated chat."
Steve Stetak  3:29 PM
@Eric Rosenthal We had a discussion with Mark and Rahul about including the app version in the chatbot transcripts. To do this:
1) Mark will set a new custom field when starting rocket.chat that has the version
2) Rahul is going to add a field to the Salesforce transcript record
3) Rocketchat will need to pass along the custom field to the Salesforce RC app to include when it

[2022-02-03 16:20] ear-dev commented on #1002
Steve has highlighted the need for a new potential window type == 'queue'.  Triggered on special DF.app events sent to the agent (as opposed to visitor messages which is our current and only trigger to begin a blackout window).

UseCase: ex. reboot modem.
UX: some intents take a very long time, and we would like to allow the user to interject in some fashion, unlike our current blackout window.

[2022-02-03 16:25] ear-dev commented on #1007
TODO: build a list of requirements:

- need to discover app version and pass as custom field? better to offer generic 'custom_field' definition?
- token
- ??

[2022-02-03 16:37] AlexanderKanakis opened #1079 "[Bug] On App Deployment the App can randomly disable itself."

[2022-02-04 03:19] Shailesh351 opened #1080 "[BUG] rc-apps deploy with user id and token not working"
`rc-apps deploy --url http://localhost:3000 --userid 9or8JhG2e4XsTzXw2 --token r_Zg4QktXQH5VGYM7IdNvQyTshW0zWX-Uldka8F-uV6`

Gives error
[code]

[2022-02-04 15:15] ear-dev commented on #1002
@Shailesh351 Meis is ready for this fix.  We discussed that we should implement the design as we spec'd it so far. Get that in and then work on Steve's new use cases involving journey's like 'reboot modem' and 'speed test' that he was addressing in his wiki.  We can create a new story when we're ready for that.  Meis has not even implemented those journey's yet, and it would help her to get furthe

[2022-02-04 17:53] ear-dev opened #1081 "[Test Cases Needed][Cypress] Placeholder story to track test cases we want to implement as they arise."
Brazil:
- DONE: When the user says "deregister/sair" the chat should be closed AND the user should get a goodbye text from the agent.  Originally fixed by:  https://github.com/WideChat/Apps.Dialogflow/pull/116
- Verify that DF app cannot listen and respond to SF app conversations.  This has cause a 'double escalation' failure and a very weird transcript....  bad UX. original fix: https://github.co

[2022-02-07 15:31] #1070 closed, assigned to Shailesh351

[2022-02-07 15:40] #1080 closed, assigned to Shailesh351

[2022-02-07 22:00] ear-dev opened #1082 "[BUG] Visitor Abandonment not working on the Brazil instance in prod."
Visitor abandonment is working on the UsRes instance, but since the upgrade on 1/31 it is not working on the Brazil instance. Both servers running the same versions.

I will try restarting the Brazil instance to see if that fixes.

[2022-02-07 22:03] ear-dev commented on #1082
@Shailesh351 can you take a look at the logs in the prod kibana to see if there is any indication of an issue please?  I suppose this could be one of those situations where something is not being applied properly without a restart?  If so we should try to isolate and fix.  thanks.

[2022-02-07 22:23] ear-dev commented on #1082
@Shailesh351 also, can you recommend the best method for closing all the currently open omnichannel rooms?  we've accumulated about 5k of them and we need to get them closed once we get Visitor Abandonment working again. I wonder if this might be a good feature candidate we should put on our board..  "ability to close all open rooms"

UPDATE:  using this feature actually worked well to clear all t

[2022-02-08 00:12] ear-dev commented on #1082
UPDATE:  It appears that VA is not working because our connectivity services got into a bad state.  Even though it appears like our enterprise license has been applied, connectivity will not let me sync with the cloud console.  I think I've seen this before.....  wonder if it's a known issue upstream.

This is how it looks on the brazil instance, vs. the UsRes instance:

![image](https://user-imag

[2022-02-08 01:06] Shailesh351 opened #1083 "Upstream Catchup PRs"
Server: https://github.com/WideChat/Rocket.Chat/pull/1098

[2022-02-08 01:36] Shailesh351 commented on #1082
@ear-dev The issue of Setting not being applied without restart mostly happens on App settings. I haven't seen it on server settings. So this issue is mostly not because of it.

I didn't see any logs regarding this issue in Kibana.

Looks like this Connectivity Service is the issue

[2022-02-08 13:15] AlexanderKanakis commented on #1038
PRs:

Rocket.Chat: https://github.com/WideChat/Rocket.Chat/pull/1084
Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/127
Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/134

Test Widget: https://github.com/WideChat/Rocket.Chat.IntegrationTests/tree/master/test_widgets/whatsapp_phone_number_test

### Note:
Please run `meteor npm install @rocket.chat/liv

[2022-02-08 14:47] AlexanderKanakis commented on #1067
Test Widget with hard-coded tokens: https://github.com/WideChat/Rocket.Chat.IntegrationTests/tree/master/test_widgets/token_test

[2022-02-08 16:13] ear-dev commented on #1006
@bhardwajaditya two things please:

- move all hard coded variables into a config file for easy maintainability.  (welcome_message, mv_creds, visitor_abndonment_time, etc...)
- check for loading screen as an alternative to a wait time.  Hopefully we can always have something to check and avoid sleep.  Must have some timeout.

[2022-02-08 16:20] ear-dev commented on #1067
@AlexanderKanakis please add the functionality to make a real api call to SSO to obtain a real token that you can push to the function in the html  custom_field.
example:
https://github.com/WideChat/Rocket.Chat.IntegrationTests/blob/master/cypress/support/commands.js#L34

[2022-02-08 16:25] ear-dev commented on #1074
NOTE:  Alexander not able to reproduce yet locally.

@Shailesh351 in brazil prod we also saw a situation recently where we seem to have lost our enterprise credentials and the cloud workspace noticed and unregistered us.  Those values in the db are here:

https://github.com/RocketChat/Rocket.Chat/blob/6fbd7f1614da4eb109252a3c01028e2b04c7ce6a/app/cloud/server/functions/unregisterWorkspace.js#L10-L1

[2022-02-08 16:56] ear-dev opened #1085 "[BUG][Regression] Df tried to escalate during a SF session with live agent."
This issue was originally fixed by:  https://github.com/WideChat/Apps.Dialogflow/pull/80/files
But recently we saw it again.  Alexander confirmed that the fix is still in our current master branch, so maybe we hit an edge case we missed?

So far we've only seen it once, so it is not prevalent or easily reproducible we think.

[2022-02-08 20:18] ear-dev opened #1086 "[RC Enterprise Licenses] Do they all expire on 6/28?"
Check with upstream team and fix.

[2022-02-09 15:36] ear-dev commented on #1082
Note: this has been fixed with help from the RC team.  They had to send me a new token and regenerate our license.  The new token allowed us to connect to our workspace and the new license got us working again after sync.
In the case that this happens again I am going to save off all the db settings related to connectivity to cloud workspace and if we have to we will manually populate the db if th

[2022-02-09 17:03] ear-dev opened #1087 "[DF.app][Regresson] It seems like we lost the fix to prevent users from uploading non text messages."
Using this flag in the json.config should prevent non text messages from being sent to the DF.agent.  We'll send the payload instead, which will result in an appropriate response from Dialogflow.

	"dialogflow_file_attachment_event_name": "invalidUserInput",

This was the original PR: https://github.com/WideChat/Apps.Dialogflow/pull/114

[2022-02-09 18:32] ear-dev commented on #1038
@bhardwajaditya can you please review these three PRs.  Thanks.

[2022-02-09 20:22] ear-dev commented on #1087
@bhardwajaditya any chance you can look at this one as well?

[2022-02-09 20:34] bhardwajaditya commented on #1087
@ear-dev sure

[2022-02-09 20:45] bhardwajaditya opened #1088 "Fix out of order CX messages, lost in catchup merge"

[2022-02-09 20:45] #1088 closed, assigned to bhardwajaditya

[2022-02-10 14:50] ear-dev opened #1089 "[CX New Feature] "room abandonment"... handle cases where the CX agent gives no response at all."
For example.... in the case where a user tries to upload an image in Brazil Bot, CX just drops the message and has no response (we do have a RC side fix for this, but still a good example) and in this case the Visitor Abandonment timer never gets set because it only starts on messages from the CX.agent.

We want to insure that we are closing rooms after N minutes of silence in any case.  Leaving r

[2022-02-10 15:31] ear-dev commented on #1087
@bhardwajaditya it looks like @AlexanderKanakis has a fix for this......  sorry if you had already started looking at it.

[2022-02-10 15:33] AlexanderKanakis commented on #1087
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/137

[2022-02-10 16:37] ear-dev commented on #1077
Debug ideas:

Is there an issue between fulfillment and ES which might account for missing webhooks getting to RC?

Look for status of fulfillment request inside the response from ES.  And if it was a bad response log as an error.
https://cloud.google.com/dialogflow/es/docs/reference/rest/v2/DetectIntentResponse

@ear-dev Debug on client side?  - use client side logging and try to catch one of the

[2022-02-10 16:58] ear-dev opened #1090 "[client session logging] Determine best way to confirm if a client session is coming from the myViasat app, or are they perhaps just at the /livechat endpoint."
Serverside metadata might know? Please describe how we can do some debugging to determine the client source.

[2022-02-10 19:49] ear-dev commented on #1089
While thinking about this......  it's kind of a pain that we are relying on enterprise license for visitor abandonment.  Maybe we can build our own abandonment timer into our fork?  Then we would not really need enterprise for anything........  :-)

[2022-02-10 19:50] ear-dev commented on #1089
@Shailesh351 when you get a chance can you comment on the feasibility of this?  Thanks.

[2022-02-11 09:20] Shailesh351 commented on #1085
@ear-dev Can you share a screenshot/transcript of this case, that might provide some hints

[2022-02-11 14:21] ear-dev opened #1091 "[regression CX] did we lose the fix for back to back timer payloads?"
Currently we are failing the timer payload test.

[code]
that same page has an event handler that recieves payload1 back from RC and transitions to a new page, which triggers payload 2
[code]

[2022-02-11 15:24] ear-dev commented on #852
@AlexanderKanakis not sure I understand the instruction to run `npm install @rocket.chat/apps-engine`
Shouldn't that just be a part of the package.json in those repos?

[2022-02-11 15:32] ear-dev commented on #1085
@Shailesh351 here is the transcript......  @AlexanderKanakis have you found anything yet about this?

[code]

[2022-02-11 15:34] ear-dev commented on #1085
Is it that the guest request for chat transcript during the waiting period triggered a message to the DF.app?  Maybe that's the edge case?

[2022-02-11 16:34] ear-dev opened #1092 "[cypress tests] closeViaTimeout - use a loop to check for the conditions over time."
The timeout value set in our Rocketchat preprod instance in UsRes is 120 seconds.  These two functions should have some kind of loop checking the condition, like you have done with the composer disabled check, instead of using a hard coded sleep value.  We will also need to protect for failure by falling out of the loop after some designated failure timeout value.

[code]

[2022-02-11 16:35] ear-dev commented on #1092
@bhardwajaditya can we also start using PRs against master for these changes so that we can review.  I suspect we will be making many adjustments and additions over time.  Thanks!

[2022-02-11 16:40] ear-dev opened #1093 "[cypress tests] Add a test that runs the 'data usage' command and checks for the proper last message from DF"
The `data usage` intent triggers a timer_payload from fulfillment, so this is a good test to verify that the rc endpoint is working.  When it is complete the result looks like this (below).  We want to implement this in cypress with some kind of loop that checks periodically for the expected message from DF, and returns success when we get it, and fails after some designated 'timeout failure' peri

[2022-02-11 16:45] ear-dev opened #1094 "[cypress tests] Add a test that closes a chat using the 'x'"
This test needs to verify that the widget was minimized and that when you click the widget again, the `New Chat` button is available and that it works to start a new chat.

Do you have this test already?

[2022-02-11 16:50] ear-dev opened #1095 "[cypress tests] Add test that uses the 'hibernate' intent and checks that an html link is part of the return from DF"
typing `hibernate` will return a message from Dialogflow that includes a link to a viasat help page.  We want to verify that the link appears in the message body, and that the link is clickable and takes you to the correct page.

![image](https://user-images.githubusercontent.com/28864717/153633403-000f15fa-fdfe-41f9-a673-be1fc47ce644.png)

[2022-02-11 16:59] ear-dev opened #1096 "[cypress tests] Fix escalateChat test to include user input "live agent" to trigger the escalation"
Typing "live agent" will return two buttons. This test should first click the "not now thanks" button and verify that Dialogflow returns the "Please close this window to end your chat" message, and that the room is closed and the composer is gone.

Then the test should click the "chat with an agent" button, and verify that the session was escalated to the salesforce department.  It should also che

[2022-02-11 17:04] ear-dev opened #1097 "[cypress tests] Add test to verify session persistence."
- Type 'data usage' and wait for the proper response from Dialogflow.
- close the current tab, open a new tab and navigate back to the myViasat app.
- Open the widget and verify that the original message from `data usage` is still in the window and that clicking one of the buttons resumes the flow.... i.e. the session is still open and active.

[2022-02-11 17:24] AlexanderKanakis commented on #1085
@ear-dev  have you looked at this? https://github.com/WideChat/Apps.Dialogflow/pull/135

[2022-02-11 17:29] AlexanderKanakis commented on #852
@ear-dev For some reason @rocket.chat/apps-engine may not update properly if updated through the `npm install` or `meteor npm install` command. I found that installing @rocket.chat/apps-engine specifically solves the problem.

[2022-02-11 17:56] ear-dev commented on #852
This seems odd to me......  if it's part of package.json, and one were to just delete the current node_modules directory, and the current package-lock.json, and run `meteor npm install` again, everything should load as described in package.json.

I see that your dependency changes in the related PRs here, are adding changes to package-lock.json, but not to package.json, and I'm not sure I understa

[2022-02-11 18:00] AlexanderKanakis commented on #852
Oops, I did not specify. They are dependencies that come from @rocket.chat/apps-engine.

[2022-02-11 19:23] ear-dev commented on #852
Still having a hard time getting this to work....  ever see this error?

![image](https://user-images.githubusercontent.com/28864717/153656195-213cad14-ad75-4ba9-951c-68c1476e3a70.png)

[2022-02-11 19:24] ear-dev commented on #852
```Error occurred while sending a HTTP Request: { roomID: shYxGmd9cNkwAyb4o } {"stack":"TypeError: $s is not a constructor\n    at It.detectStreamingIntent (evalmachine.<anonymous>:8:1361)\n    at runMicrotasks (<anonymous>)\n    at processTicksAndRejections (internal/process/task_queues.js:97:5)\n    at It.sendRequest (evalmachine.<anonymous>:1:23383)\n    at yo.run (evalmachine.<anonymous>:8:238

[2022-02-11 19:29] ear-dev commented on #852
@Shailesh351 can you review these three PRs please and test it out when you have a chance?  FYI - we have a test CX bot that includes a test for partial responses.... I'm working on providing you all the config.json that will point to that test agent.

[2022-02-11 20:31] ear-dev commented on #1074
@AlexanderKanakis I am now seeing an issue fairly consistently where after configuring a new CX agent endpoint it seems to be failing to recognize it, even when I use the api to do it.  Even after restarting the RC server, I see this error in the DF logs...
[code]

Any idea what might be going on?

[2022-02-12 05:36] Shailesh351 commented on #1091
@ear-dev We have not handled this case for timer payloads, We did it for the incoming endpoint. I'm looking into it 👍

[2022-02-14 15:45] ear-dev opened #1099 "[Regression CX] Seeing some instances where the DF.app is trying to close rooms that are already closed."
This was originally fixed by: https://github.com/WideChat/Rocket.Chat/issues/1025

[2022-02-14 15:54] ear-dev opened #1100 "[BUG DF.app] After changing the language code to 'english' from the default 'portuguese', it is not possible to go back to 'portuguese'."
It seems like RC is not responding correctly to a second payload requesting a language change?

[code]

[2022-02-14 17:26] ear-dev commented on #1091
@Shailesh351 can you also prioritize this one please?  :-)

[2022-02-14 17:28] Shailesh351 commented on #1091
@ear-dev Currently working on this one only🙂

[2022-02-14 17:31] ear-dev commented on #1091
Thanks.....  turns out this one is messing up one of the flows in prod

[2022-02-14 17:46] #1082 closed, assigned to Shailesh351

[2022-02-15 15:42] ear-dev commented on #1091
@Shailesh351 can you describe the bug that is fixed here?  i.e. why weren't we handling the back to back timer payloads correctly and what we needed to fix?

[2022-02-15 15:42] Shailesh351 opened #1101 "[DF.app] Refactor DF App to remove dependency of App Object in functions"
https://github.com/WideChat/Apps.Dialogflow/pull/140#discussion_r806455271

[2022-02-15 15:48] Shailesh351 commented on #1091
@ear-dev We were not processing actions we receive as a response, we were just sending msgs. Earlier this was the case with the incoming endpoint and we fixed that.

Now we are using https://github.com/Shailesh351/Apps.Dialogflow/blob/17b7c282a3505a8bd27e3661dda124b1d288033c/lib/payloadAction.ts#L117 which handles both actions and msgs

[2022-02-15 16:08] AlexanderKanakis commented on #1065
PRs:

Apps.Salesforce.LiveAgent: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/52

[2022-02-15 16:19] ear-dev commented on #1079
NOTE: This will be fixed with the next apps-engine catchup PR.

https://github.com/WideChat/Rocket.Chat.Apps-engine/pull/48

https://github.com/RocketChat/Rocket.Chat.Apps-engine/pull/473

[2022-02-15 16:22] #1091 closed, assigned to Shailesh351

[2022-02-15 19:36] ear-dev commented on #1099
@AlexanderKanakis I am reopening this issue because I can consistently reproduce when I try to do a failed escalation.....  i.e. escalate when there is no live agent available in salesforce.

[code]

[2022-02-16 16:11] AlexanderKanakis commented on #1099
https://github.com/WideChat/Apps.Dialogflow/pull/141

[2022-02-16 16:53] #1094 closed, assigned to bhardwajaditya

[2022-02-17 14:34] #1074 closed, assigned to Shailesh351

[2022-02-17 14:37] ear-dev commented on #1099
@AlexanderKanakis very small thing please......  can you try to keep the issues on the git board up to date?  Seems like you have the PR for this, so it should be in the 'Under Review' column?  Thanks....

[2022-02-17 14:53] AlexanderKanakis commented on #1099
Handling Shailesh's comments and moving to Under Review.

[2022-02-17 16:06] ear-dev commented on #1006
@bhardwajaditya putting this under review because I have a PR which handles the config file (cypress.json) to pass all the text variables and manage them in one place.

[2022-02-17 16:23] ear-dev opened #1103 "[Enterprise] Investigate a log point for when we have lost connectivity to the cloud workspace."
we can use this log point to trigger an alert that we have lost enterprise license functionality.

[2022-02-17 16:28] ear-dev commented on #1060
Note: we want to fix print chat in mobile..... we may have had permissions issues.

Change text from 'print chat' to 'save chat'

[2022-02-17 16:30] ear-dev opened #1104 "[Print Chat] Bubble up a log point for when visitors use the print chat option so we can track."
Does this have to be ERROR log level?  Or is there some other way to bubble up......  ISSUE: we only set log level to ERROR in both Apps and RC.server. (PII)

[2022-02-17 16:32] #1073 closed, assigned to nobody

[2022-02-17 16:34] #961 closed, assigned to nobody

[2022-02-17 16:35] #634 closed, assigned to ear-dev

[2022-02-17 18:27] #1099 closed, assigned to AlexanderKanakis

[2022-02-21 14:41] ear-dev opened #1105 "[BUG][CX Blackout Window] Messages between timer payloads can sneak through"
We have a test CX bot accessible here:  https://widgets.dev.acc.viasat.io/rc-test-bundle.html

Multiple Blackout Window Test:
- Type "hello" to verify you are talking to the test bot.
- Type "multiple blackout"
- once you trigger this intent, you start a ~6 second window (triggered by two back to back timer payloads, each with continue_blackout: true) during which all your messages should be dropp

[2022-02-22 14:24] AlexanderKanakis commented on #1067
PR:

Rocket.Chat.IntegrationTests: https://github.com/WideChat/Rocket.Chat.IntegrationTests/pull/3

[2022-02-22 14:41] AlexanderKanakis commented on #1100
PR:

Apps.Dialogflow: https://github.com/WideChat/Apps.Dialogflow/pull/142

Potentially temporary fix, by deleting persistent data and re-creating it.

[2022-02-22 14:44] AlexanderKanakis opened #1106 "Livechat Upstream Catchup PRs"

[2022-02-22 16:03] ear-dev commented on #1067
@AlexanderKanakis please document your CORS issue here.

[2022-02-22 16:23] ear-dev commented on #1083
@bhardwajaditya @Shailesh351 we are going to reprioritize some of this work. Shailesh please push your current work on these catchup PRs, and Aditya will take a look at the RC merge issue (app settings not taking hold until server restart).

@Shailesh351 we need to prioritize the missing appName/token issue.

[2022-02-23 14:55] ear-dev opened #1107 "[ES to CX Migration] Verify if our DF.app in CX mode handles escalations"
We have a test on the testbot to test escalations with the  "df_perform_handover" payload.
- Verify that the testbot escalation test is valid.
- Configure the CX bot with a "salesforce department" for handover.
- Verify if handover works.

[2022-02-24 12:53] AlexanderKanakis commented on #1067
### REQUEST
[code]
<hr>

### CORS ISSUES

1. **When test is run locally**: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://mysso.my.test.viasat.com/federation/json/realms/root/realms/myviasat/authenticate. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing). Status code: 405.`
2. **When test is run online** (ngrok): `Access to fetch at

[2022-02-24 16:06] ear-dev opened #1108 "[testbot coverage] document all payloads and events we expect to receive from CX"
We need thorough documentation in a wiki that describes everything we might receive from CX.  We can use that as the roadmap for creating test cases on the testbot and eventually have full coverage.

[2022-02-24 16:09] ear-dev commented on #1107
NOTE: Shailesh verified that the testbot test case is not valid yet.  Talk to molly.  missing the custom payload, only receiving the text

[2022-02-24 16:12] ear-dev commented on #1079
@Shailesh351 can you add this dependency hash to our current develop_pwa branch please.

[2022-02-24 16:17] ear-dev opened #1109 "[cypress tests] Add a check for the myViasat fully loaded so we don't need the 15 sec. wait time."

[2022-02-24 16:31] ear-dev commented on #1067
@bhardwajaditya can you test this widget please and see if anything stands out to you as a fix?

[2022-02-24 16:40] #996 closed, assigned to ear-dev

[2022-02-24 18:16] #1105 closed, assigned to Shailesh351

[2022-02-24 19:31] ear-dev opened #1110 "[CX][In flight messages] Implement new 'queue window' as an alternative to the blackout window for timer_events."
The design is described in this wiki under "New Requirements" : https://wiki.viasat.com/display/ACC/Handling+Multiple+Customer+Messages

We have already completed the Blackout Window and extend_blackout requirement.
This story is to implement the Queue Window and drop_queue requirements.

[2022-02-24 19:33] ear-dev commented on #1110
@Shailesh351 I tried to describe the new requirements that came out of that meeting yesterday in the wiki.  Let me know if anything not clear or described wrong.  Thanks.

[2022-02-24 19:55] ear-dev commented on #1067
@AlexanderKanakis testing this, I see that I can generate a token, but the goal here is to pass the token into the custom field upon starting a chat. We basically want to emulate what happens in the real widget when it is embedded into the myViasat app.  In production we pass two custom fields (below) and those fields are required by our backend to authenticate viasat users.

Can you add this func

[2022-02-24 20:32] AlexanderKanakis commented on #1067
@ear-dev It should be covered with
[code]

Are you not able to see the token?

Reminder: we also need to merge this: https://github.com/WideChat/Rocket.Chat.Livechat/pull/127

[2022-02-24 20:49] ear-dev commented on #1067
oh interesting....  somehow it completely escaped me that there was a livechat portion of the fix.  I'll test with that.  Thanks.

[2022-02-24 21:06] ear-dev commented on #1067
@AlexanderKanakis where would I find that code block you mentioned above?  is it in one of the PRs, or is it supposed to be in the widget?

[code]

[2022-02-24 21:07] AlexanderKanakis commented on #1067
In the widget

[2022-02-24 21:10] ear-dev commented on #1067
oh man.......  I'm not even working off of your PR, but was looking at the master branch......  sorry.....  testing again.

[2022-02-24 21:36] ear-dev commented on #1067
@AlexanderKanakis are you sure that the Livechat PR is up to date?  I think I only see the setGuestPhone function and not setGuestToken.

[2022-02-24 21:37] AlexanderKanakis commented on #1067
@ear-dev The setGuestToken function already existed.

[2022-02-24 22:44] ear-dev commented on #1067
@Shailesh351 can you verify please what are exactly the contents of the 'token' that we pass in customFields from the myViasat widget?  Is that the authentication token from the original mySSO login?

I'm testing this new widget, and I'm able to get an authentication token into our test widget and passed into customFields, and initially it seems like the CX.agent is happy with it because it does n

[2022-02-25 15:04] ear-dev commented on #1067
It looks like the myViasat integration script does this:
[code]
I suspect maybe that the actual 'token' we are looking for is some property of the original tokenId which is returned from our POST to mysso.my.test.viasat.com. "token?.accessToken".  In the myViasat case, I can see a bunch of subsequent graphql calls, and maybe that's where our token comes from.  We'll need to investigate.

Confirmed

[2022-02-25 16:49] #1079 closed, assigned to Shailesh351

[2022-02-25 19:20] ear-dev commented on #1067
UPDATE:  Since Viasat is in the process of moving away from mysso and to a new system 'okta', we're going to put this task aside for now and deal with it after the Okta transition.  Sorry for the confusion.  In the meantime, I will start looking at the whatsApp number implementation and see how that works.  Thanks!

[2022-02-28 10:55] ear-dev commented on #1107
@Shailesh351 can you take another look at this please?  We now think that the testbot should be sending the same payload we are getting in the ES case to trigger escalations.  Unless there is something about the escalation workflow we are missing, it seems like escalation does not work in our current CX app?  Thanks.

[2022-02-28 11:38] Shailesh351 commented on #1107
@ear-dev I added logs to check what we are getting from DF. And it shows we are only receiving text.

<img width="394" alt="Screenshot 2022-02-28 at 5 07 36 PM" src="https://user-images.githubusercontent.com/18264684/155977174-405899e3-6625-412c-acaa-006fdd403d94.png">

[code]

In other tests we are receiving action payload properly. i.e. `Close chat`

[code]

[2022-02-28 13:25] ear-dev commented on #1107
Ok cool, thanks for checking..... for some reason Molly is convinced we're sending the payload, but I'll check back with her and show the logs.

[2022-02-28 14:21] Shailesh351 commented on #1107
@ear-dev I have checked the payload we are receiving and it was invalid.

Instead of
[code]
we are receiving
[code]

I have updated it in the draft but I'm not seeing any effect(still receiving with {payload:{...}}). Maybe Molly can deploy changes?

[2022-02-28 18:39] ear-dev commented on #1107
@Shailesh351 after fixing the payload it does appear that our CX app is escalating and doing the handover to the SF app.  That is good.  But we are failing to escalate to Salesforce itself, which I think should work right now against the dev server.  i.e. The SF.app is configured just like the SF.app in our preprod server where escalations are working.  We must be either missing something in the p

[2022-02-28 21:34] ear-dev commented on #1107
Here's a clue:
![image](https://user-images.githubusercontent.com/28864717/156062325-855fcd6b-9bc2-486e-85aa-dd9e6b76d5b8.png)

[2022-02-28 21:46] ear-dev commented on #1107
![image](https://user-images.githubusercontent.com/28864717/156063976-21f3aefb-57fa-4c69-a61a-8913a28bba7f.png)

[2022-03-01 02:13] Shailesh351 commented on #1107
@ear-dev The issue is with invalid SF Configuration.
[code]

The buttonId we pass in the handover payload should be proper. In the SF App, we have `Salesforce Chat Endpoint`, `Salesforce Organization ID`, `Salesforce Deployment ID`. and I think these all are connected

[2022-03-01 15:36] #1107 closed, assigned to Shailesh351

[2022-03-01 15:50] ear-dev commented on #1108
@Shailesh351 Molly created this wiki that documents all payloads we might send from the agent.  Can you take a look, make any comments if needed, and fill in the 'Rocketchat Events' table she setup please?  Thanks.

https://wiki.viasat.com/display/ACC/Rocketchat+Custom+Payloads

[2022-03-01 16:07] ear-dev commented on #925
Wiki from the viasat SSO team about api calls and oauth2 flow:  https://wiki.viasat.com/display/IAM/OAuth+Example

[2022-03-01 16:09] ear-dev commented on #925
Debugging strategy with elasticsearch?

logpoint to discover if some users are reaching our bot outside of the myViasat app entirely?

[2022-03-01 16:18] ear-dev commented on #852
@AlexanderKanakis @Shailesh351 it sounds like we need to adjust the current blackout window for partial responses.  'if partial_respnse: wait for last response'

[2022-03-01 16:18] chadgoss commented on #925
@Shailesh351
some example us residential sessions with missing appName and token
6JHNSGtskWHyDXNMv
73pdFu75TcxKsESNC
8hieRiZ3z4oZgDWw6
8nvgNAgMxdYT5QeXx
B8YQgPPwxC9hfvxJa
J53NnkTkrZ5KeTd8w
Pp3bekA3pqCdR6zSv
WYAHyvFYiNppfvB7K
j4npHvCnxBKSgSqCe
sEDt4AENuMXWRikZE
t54DLTBHkdudK8WmD
vo6tsEgWir5CjTEJy
zP6dwy2gCwcEQBw7z

example fulfillment log point, note empty appName and token:
`Webhook Request: {'res

[2022-03-01 16:22] ear-dev commented on #1038
@AlexanderKanakis please decouple the token widget functionality from the whatsApp  number stuff.  "going back to the original"

[2022-03-02 16:45] #1051 closed, assigned to nobody

[2022-03-02 19:54] ear-dev commented on #1078
NOTE: I think that we just need to handle the new custom field in the same way we do now with 'appName' and 'token', then let CX handle it.

[2022-03-03 16:12] ear-dev commented on #1100
@AlexanderKanakis Shailesh will make an alternative PR with his fix....  maybe you can review when ready please.  thanks.

[2022-03-04 16:37] #1100 closed, assigned to Shailesh351, AlexanderKanakis

[2022-03-04 16:38] #1069 closed, assigned to bhardwajaditya

[2022-03-04 16:38] #1109 closed, assigned to bhardwajaditya

[2022-03-04 16:56] #1009 closed, assigned to Shailesh351

[2022-03-07 15:39] ear-dev commented on #1038
@AlexanderKanakis I've tested the phone number as username PRs and it looks good.  I just want to be sure that we have not broken the original use case with a real whatsApp conversation through twilio.  Did you test for that?  Thanks.

[2022-03-08 15:03] #1090 closed, assigned to nobody

[2022-03-08 16:31] ear-dev commented on #1078
name of field......  'appVersion'

[2022-03-08 19:41] #1038 closed, assigned to AlexanderKanakis

[2022-03-10 15:26] ear-dev commented on #980
The latest thinking is that this is not in fact required any more.  We'll see.........  :-)

[2022-03-10 15:40] ear-dev opened #1115 "[logging] Prune RC logging to remove repetitive and useless log points globally"
Probably there is a large list of potential candidates?

- "Exception while invoking method roles/get 'Cannot read property 'find' of undefined'"
- "LivechatRoomClosedHandler {"rid":"FX7Mjxrsj5nCFSydB","appEventEndpointHttpRequest":{"data":{"action":"trigger-event","sessionId":"FX7Mjxrsj5nCFSydB","actionData":{"event":{"name":"end_live_chat","languageCode":"en"}}}}}"

I see those two alot in the e

[2022-03-10 16:31] ear-dev commented on #1077
We verified that we did not see the livechatRoomCloseHandler log point for an instance of this problem.  Chad verified that fulfillment sent it to ES, and since RC got the room close text message, we assume that RC got the close room payload, but did not process it.

Payload from fulfillment to ES:

[code]

This is a successful df_close_chat payload from fulfillment: Notice: the good one does not

[2022-03-10 16:31] ear-dev commented on #1077
@chadgoss will remove type and condition from the problematic df_close_chat use case.  We will verify after that.

[2022-03-10 16:43] #1076 closed, assigned to nobody

[2022-03-10 16:56] #1106 closed, assigned to AlexanderKanakis

[2022-03-10 17:00] ear-dev commented on #1104
Issue:  this happens on the widget/client side, so the server cannot log this at the moment.

Possible solutions:

- create a new endpoint in RC and call it when the user hits print chat.
- through the apps engine might be better?

Please propose a design before implementing and the team will discuss.

[2022-03-10 18:46] bhardwajaditya opened #1116 "[DF.app] Actions part of welcome intent are not handled"
Actions part of welcome intent are not handled by the code leading to inconsistent behaviour in case of missing app name and tokens

[2022-03-10 20:46] chadgoss commented on #1116
verified in preprod

[2022-03-11 14:40] #1116 closed, assigned to bhardwajaditya

[2022-03-11 14:41] #1077 closed, assigned to ear-dev

[2022-03-15 15:02] ear-dev commented on #1110
New payload:

[code]

[2022-03-15 15:08] AlexanderKanakis commented on #1078
PRs:
Apps.Salesforce.LiveAgent: https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/54

Added new custom field sent to the salesforce agent through prechatDetails.

The app version is picked from the `ILivechatRoom.customDetails.appVersion` upon handover request.

[2022-03-15 15:09] ear-dev commented on #925
NOTE: setting of custom field relies on receiving a refresh token.

[2022-03-15 15:28] ear-dev opened #1119 "[SF.app] Remove prechat-details from our handover process. This should be completely the responsibility of fulfillment."
We will remove some hard coded stuff out of rocketchat and into Dialogflow.

When we get a handover payload, we should not parse or change the payload/transcript at all, but just forward the whole thing to salesforce.

BLOCKED: DF.agent needs to include a few more custom_details(email, salesforceId, appVersion) in the df_perform_handover payload. to include the current prechat-details that are han

[2022-03-15 15:29] ear-dev commented on #1119
Migration TODO: we want to be backwards compatible.

- CX will implement a new df_perform_handoverv2 payload.
- This payload will include all the custom details and RC will not have to append anything.
- RC needs to handle both flavors of df_perform_handover.

[2022-03-15 15:30] ear-dev commented on #1078
@AlexanderKanakis please verify that we can actually do this by just adding a new customField in the RC UI.
No need to involve SF.app at all, we just want to pass the new customField as a parameter to DF.

[2022-03-16 15:43] #1115 closed, assigned to Shailesh351

[2022-03-16 17:11] ear-dev commented on #1115
@Shailesh351 I deployed the new RC server from this PR to our messaging.vega-dev.viasat.io instance, which is deployed into the 'test-messaging' namespace, which can be viewed in the preprod kibana.  It looks much cleaner, but there are a ton of log points with no message at all.  Any idea what those are?  Thanks.

![image](https://user-images.githubusercontent.com/28864717/158648027-efb67052-0ffe

[2022-03-17 05:56] Shailesh351 commented on #1115
@ear-dev That's strange. Looking into it 👍

[2022-03-17 15:04] AlexanderKanakis commented on #1078
PR:

https://github.com/WideChat/Apps.Dialogflow/pull/147

[2022-03-17 19:31] ear-dev opened #1120 "[BUG] Visitor abandonment stopped working on all three servers in the AWS dev account"
This just started within the last day or two, on three instances:
- messaging.vega-dev.viasat.io
- messaging.vega-preprod.viasat.io
- ba.messaging.vega-preprod.viasat.io

During restart I can see the log point that enterprise license has been applied, and in the UI it shows as applied.  I can also use the 'sync' button under 'Connectivity Services', so it appears that we can reach the cloud worksp

[2022-03-17 20:00] #1110 closed, assigned to Shailesh351

[2022-03-22 14:45] ear-dev commented on #1120
Maybe we need a testbed with enterprise enabled to debug this?  Not sure how to proceed.......  fwiw, this link shows db values related to cloud workspace:  https://github.com/RocketChat/Rocket.Chat/blob/6fbd7f1614da4eb109252a3c01028e2b04c7ce6a/app/cloud/server/functions/unregisterWorkspace.js#L10-L16

[2022-03-22 15:03] ear-dev commented on #925
@chadgoss enable logging on the CX side?  Could this be a case where CX or fulfillment is dropping this?  Please provide Shailesh with stackdriver access so he can debug.

[2022-03-22 15:21] ear-dev commented on #1120
We do have a real development server at dev.rocketchat.acc.viasat.io where you can ssh to the machine and sync with git to do real debugging.  If we need to we can ask for an enterprise license for that instance and start debugging.
https://github.com/WideChat/Rocket.Chat/wiki/dev.rocketchat.acc.viasat.io

[2022-03-22 15:32] ear-dev commented on #1104
Change of plan:  We have decided to enable "Ask Visitor if They Would Like a Transcript After Chat Closed" from the Admin/Omnichannel UI.  Instead of adding a new log point the way we originally designed it, seems like it's better to just log when and how users are using the built in prompt.  needs to be ERROR log level for us to get it in prod.

RoomId
Web/mobile
appVersion (if easy)

[2022-03-22 17:23] #1120 closed, assigned to Shailesh351

[2022-03-22 17:27] ear-dev opened #1121 "[Print Chat][Web] redesign print chat to be 'save chat' on both web and mobile"
We would like to use the omnichannel feature "Ask Visitor if They Would Like a Transcript After Chat Closed" from the Admin/Omnichannel UI.

Currently we have the 'print chat' feature visible in the 'options' section of the widget in web only, we want to remove that options menu entirely from web.

When the user finishes a chat, either by timeout or clicking the 'X', the 'Would you like to save yo

[2022-03-23 13:34] #1078 closed, assigned to AlexanderKanakis

[2022-03-23 16:29] chadgoss commented on #925
@Shailesh351
Here are gcp logs for an example production session with a missing appName and token

**packet 1: RC-->DF**
[code]

**packet 2: DF-->Fulfillment**
[code]

**packet 3: Fulfillment-->DF**
[code]

**packet 4: DF-->RC**

[code]

[2022-03-23 16:32] chadgoss commented on #925
[code]

[2022-03-23 18:33] ear-dev opened #1122 "[BUG] DF.app responding to SF.app conversations again.... did we lose a fix?"
https://chatbot.vega.viasat.com/live/SGBNxhziYWQpW3F7h/room-info

We are occasionally seeing this error again:
[code]
We had already fixed this, but did we maybe lose the fix somewhere?

[2022-03-23 18:34] ear-dev commented on #1122
![image](https://user-images.githubusercontent.com/28864717/159771540-52275f0d-2e3e-456c-8047-86e3f69c0faa.png)

[2022-03-23 18:35] ear-dev commented on #1122
![image](https://user-images.githubusercontent.com/28864717/159771686-273d9746-c271-456c-8269-4281ad563e37.png)

[2022-03-23 18:36] ear-dev commented on #1122
@AlexanderKanakis I think you worked on the original fix for this issue.....  can you take a look please when you have a chance to see if we may have lost the fix........  or could we have hit an edge case that we didn't cover?

[2022-03-24 15:19] ear-dev commented on #925
@Shailesh351 please propose a new location for the set.customField(appName) in the integration script.  This way we can decouple appName from the refresh token issue and see if maybe we can isolate the failed code path.

Also please suggest a few new dummy/logPoint type customFields that we can sprinkle throughout the integration script so that maybe we can get a better handle on what is failing.

[2022-03-24 15:24] ear-dev commented on #852
NOTE: blackout_window in effect until the final response from CX.  queue_window still applies as designed for events.

blackout_window == drop all visitor messages
queue_window == send only the last visitor message if there is a queue

please document which payloads can be processed by rocketchat during the middle of a series of partial responses. MOTIVATION: we want to protect against CX develope

[2022-03-24 15:33] ear-dev opened #1123 "[Save Chat][Mobile] We want the widget to have the capability to download the chat transcript."
This will be triggered from the "would you like to download your transcript" prompt from Rocketchat.

[2022-03-24 15:42] AlexanderKanakis commented on #852
## Custom Payloads:

Partial responses will not be able to handle payloads that require sending additional requests to the DF agent for any non-FINAL responses (the final message of a stream).

### Currently supported Custom Payloads:

1. df_set_timeout
2. change_language_code
3. drop_queue

[2022-03-24 15:46] ear-dev commented on #1119
NOTE: we need a new payloadv2 definition to guarantee that we're all on the same page. @ear-dev talk to CX team about where to document and design.

[2022-03-24 15:50] ear-dev opened #1124 "[DF.app Agent Config] newly updated config.json sometimes not being applied"

[2022-03-24 15:53] ear-dev opened #1125 "new upstream catchup merge - RC server"
Server - https://github.com/WideChat/Rocket.Chat/pull/1152

[2022-03-24 18:53] ear-dev commented on #852
@Shailesh351 @AlexanderKanakis I tested this out against our testbot test case and it worked well!  Nice!  @Shailesh351 can you please have a look at all three relevant PRs in this issue and review/approve when you have some time?  Thanks!  This will ultimately replace our use of 0 second timers.....

[2022-03-25 17:40] ear-dev opened #1126 "[Customer Survey] Navigate to the Customer Survey url within the widget after a session with live agent is closed."
The salesforce API now includes a postChatUrl attribute that we can use to redirect our visitors to the customer survey after a live agent chat has been closed.

![image](https://user-images.githubusercontent.com/28864717/160173374-c69f936a-2cc1-4304-a36c-f56b19c10df2.png)

Full user journey designs will be available soon..... but....
- we need to insure that we end up back at the widget in all ca

[2022-03-29 10:45] Shailesh351 commented on #925
This is the code to decouple setting `appName` from `token`.
[code]

[2022-03-29 12:30] Shailesh351 commented on #925
Created PR: https://git.viasat.com/ICAT/MyViasat/pull/1117 to decouple appName and add some log points as custom fields.

diff

[code]

[2022-03-29 12:44] AlexanderKanakis commented on #1122
Related PRs:
- ~~https://github.com/WideChat/Apps.Salesforce.LiveAgent/pull/55~~
- ~~https://github.com/WideChat/Apps.Dialogflow/pull/150~~

Attempts to fix DF messages after escalation by checking for `handoverForEscalation` property in the room's persistent data, set to `true` by Apps.Salesforce.LiveAgent when initializing escalation. Set to `false` when closing chat, or when performing an addit

[2022-03-29 14:54] ear-dev commented on #1126
Question: How and when does the postChatUrl arrive?

Can we present text and a button at the end of a chat.  The button needs to trigger a link.

- This is a change to the SF.app, where we send a final payload when closing a chat.
- Need to verify that current livechat code can support link behind a button.

Web:

- open a new tab. (then we're done, don't worry about it.)

Mobile:

- Open the surv

[2022-03-29 14:55] ear-dev commented on #1126
current test survey page: https://viasat.az1.qualtrics.com/jfe/preview/SV_5u8rNKWJdqi5r5c?Q_CHL=preview&Q_SurveyVersionID=

[2022-03-29 15:06] #1124 closed, assigned to bhardwajaditya

[2022-03-29 15:07] ear-dev opened #1128 "[RC.apps] changes to config.json need to be applied without a server restart."
@bhardwajaditya please add any information to this story that is relevant to the the fix we need to make.

[2022-03-29 15:09] ear-dev opened #1129 "[RC homescreen] Fix issue where RC homescreen not loading after the latest catchup merge."
It does work after you visit another RC chat and return to the home.

[2022-03-29 15:13] ear-dev commented on #1119
NOTE for eric:  we need a new testbot test case for the new v2 version of the handover_payload

- CX team can reuse the current df_perform_handover payload, and they can add the new details, or not......  RC will detect and handle it properly.

[2022-03-29 15:24] bhardwajaditya commented on #1128
https://github.com/WideChat/Rocket.Chat.Apps-engine/commit/7af3781e5170a898030328b0502e75d9c990af8d

App storage updates

[2022-03-29 15:31] ear-dev commented on #1122
@Shailesh351 please verify this new approach to fixing this problem, and review the PRs when available.  If this is the better and more global approach, should we revert the previous attempts to fix?

Please chime in on this story to suggest how to proceed.

- did we miss edge cases?
- do we need a bit more exploration?

[2022-03-29 15:33] #1104 closed, assigned to AlexanderKanakis

[2022-03-29 15:38] ear-dev commented on #1121
@AlexanderKanakis please include a log point for when visitors use the feature.

Feel free to download the file in whatever format is the **easiest to implement.**...  a new dependency to convert to pdf is fine if it works on both mobile and web.

[2022-03-29 16:09] ear-dev commented on #1126
@bhardwajaditya
![image](https://user-images.githubusercontent.com/28864717/160656657-df3d55dc-b112-43bc-b05d-c762193b722c.png)

[2022-03-31 14:42] AlexanderKanakis commented on #1121
Related PRs:

Rocket.Chat: https://github.com/WideChat/Rocket.Chat/pull/1130
Rocket.Chat.Livechat: https://github.com/WideChat/Rocket.Chat.Livechat/pull/130

[2022-03-31 15:08] ear-dev commented on #1121
@AlexanderKanakis please use the testApp to verify it works in an embedded environment.

https://github.com/WideChat/Rocket.Chat.Livechat.Test-App/tree/sb_main

[2022-04-05 15:14] Shailesh351 opened #1133 "Create List of all the URL/domain RC tries to connect from server/client"

[2022-04-06 08:52] Shailesh351 commented on #1122
@AlexanderKanakis @ear-dev,

The issue we fixed earlier was different than this. It was regarding closing the room which was already closed. And I think it's working fine currently.

The error `Error occurred while processing handover. Details Error: The selected department and the current room department are the same [error-forwarding-chat-same-department]`. This occurs when DF App is trying to h

[2022-04-11 15:19] ear-dev opened #1135 "[SF.app] Document DF events that are configured in the SF app"
end_livechat
neuroflash_escalate_unavailable
end_session
neuroflash_escalate_error

We would like to understand exactly when these are triggered and why.
- What is the expected backend behavior when we send these?
- Since we are moving UsRes to CX, do we still need them all?
- We need to look at the failed escalation cases and design for CX.

Currently we never hand control back to Dialogflow afte

[2022-04-11 16:17] #1135 closed, assigned to nobody

[2022-04-11 16:21] ear-dev opened #1136 "[SF.app] "Enable Dialogflow Events" entries should be optional"

[2022-04-11 19:56] #1128 closed, assigned to Shailesh351

[2022-04-11 20:04] ear-dev commented on #1122
Thanks for looking at this @Shailesh351
Can you summarize for me please?  We would still like both of these PRs, or just one of them?  Or are you suggesting that one of them should possibly be adjusted?

Also, shouldn't this setting in the agent config.json prevent a visitor from clicking the 'chat with an agent' button twice?  `"hide_quickreplies": true,`

Thanks!

[2022-04-12 08:28] Shailesh351 commented on #1122
@ear-dev Yes, we will have two PRs,

1) Which @AlexanderKanakis already created but requires modification
2) To debug and fix the behavior where we see multiple `Chat with agent` msgs.

Yes, it should. But from the above chats looks there is some loophole and we need to debug that

[2022-04-12 14:52] ear-dev opened #1137 "[DF.app] Debug why we are seeing multiple 'chat with agent' button presses"
It should be the case that this setting in the df config.json will remove the button after it has been pressed.  However we are seeing cases where a visitor seems to be able to press it twice.

`hide_quickreplies: true`

[2022-04-12 15:06] ear-dev opened #1138 "[SF.app] remove customDetails when the chat team is ready"
Currently we need to be backwards compatible.  Eventually we will not..... most likely after we retire ES in usRes

[2022-04-12 15:14] ear-dev commented on #1122
@Shailesh351 please show where in the code the isHandedOverFromDialogFlow is being set.

[2022-04-12 17:05] ear-dev commented on #1126
@bhardwajaditya Steve found this link for the salesforce API, and it includes some response body's with postChatUrl:  https://developer.salesforce.com/docs/atlas.en-us.live_agent_rest.meta/live_agent_rest/live_agent_rest_response_bodies.htm

Maybe that helps some?
Seems like it's contained in a few early responses we might have a handle on...

[2022-04-12 17:28] ear-dev opened #1139 "[Livechat] Refactor setGuestPhone to remove entry upon empty string"
We added setGuestPhone() to livechat so that we could set that with our test widget.  It turns out that the livechat data is persistent and stored on the server side, so we need a new method `unsetGuestPhone()` in order to have the ability to clear the number when we don't want to use it.

[2022-04-12 18:14] ear-dev commented on #1126
https://github.com/widechat/apps.salesforce.liveagent/blob/4fe5162ea6cda55aa1c3a2d2a338509d636708e1/handlers/InitiateSalesforceSessionHandler.ts#L146

That response will have the postChatUrl.......  :-)

[2022-04-12 18:16] bhardwajaditya commented on #1126
@ear-dev that's great it should solve what I was looking for . Thanks

[2022-04-13 14:56] ear-dev commented on #1119
@bhardwajaditya @Shailesh351 what exactly has RC been responsible for in filling out prechatDetails?  Have we just been filling out the 'value' fields and sending the rest verbatim?  So it's just `salesforceId` and `lcVisitorEmail`?

[2022-04-13 15:21] bhardwajaditya commented on #1119
@ear-dev yes exactly. So payload is kind of constant apart from these fields

[2022-04-13 17:55] ear-dev commented on #1121
@AlexanderKanakis did you forget to remove the options menu on the lower left as part of this PR?  Otherwise it looks good.

[2022-04-13 19:51] ear-dev opened #1140 "[Oauth API] Fix addCustomOAuthWithSettings API endpoint"
we seem to have broke it in the last catchup PR

[2022-04-14 13:25] AlexanderKanakis commented on #1122
Related PRs:
https://github.com/WideChat/Apps.Dialogflow/pull/153

[2022-04-14 15:07] ear-dev commented on #1126
@Shailesh351 can you review these PRs please... thanks

[2022-04-14 15:18] #1122 closed, assigned to AlexanderKanakis

[2022-04-14 15:23] ear-dev commented on #1139
Design:  do not create an unset function....  factor the current function remove the telephoneNumber entry in mongodb if we send it an empty string.
- we will adjust the test widget to always call setGuestPhone()

[2022-04-14 21:17] ear-dev commented on #1140
@bhardwajaditya I did hit those buttons to get the values to appear in the customOauth configuration, but I still can't seem to get the Oauth button to show up on the login page.  Maybe this workaround did not actually work entirely?  Can you confirm please?  thanks...

![image](https://user-images.githubusercontent.com/28864717/163477727-faacdfc0-3616-4e2f-a2a1-36b73c877d74.png)

[2022-04-15 13:54] ear-dev commented on #1121
@AlexanderKanakis there are two adjustments we would like to make to the save transcript design:

- Download as txt file (or pdf, or whatever is easiest, but not html please)
- We also want to replace the pop up modal that prompts for the download option, with a button, but ONLY in the escalated case when the visitor has been talking to a live agent in salesforce.

@bhardwajaditya has a PR to prov

[2022-04-20 13:10] #1126 closed, assigned to bhardwajaditya

[2022-04-20 14:30] ear-dev opened #1144 "[SF.app] New admin entry for Conversation Finished Text in the escalated case."
Currently our conversation finished text is configured in Admin/Omnichannel/Livechat, and it is 'chat end'.  This shows up as a system message in the widget when a chat is closed.

We need the ability to configure a different chat end message when we are coming from an escalated chat.  "Thank you for chatting with us.  How did we do today?", which will accompany the survey button.

I'm not sure wh

[2022-04-20 15:53] ear-dev opened #1145 "[Chat closed] Review the use of "New Chat" window after a session has been closed and widget clicked a second time."

[2022-04-20 16:04] ear-dev opened #1146 "[CSAT Survey] Do not show the Customer Survey button or messages when the user closes the chat with the 'X'"
The feature works great in the case that a chat is closed by the Salesforce agent or by a timeout.  But in the case where the user clicks the 'X' to close the room mid chat, the user never gets an opportunity to click the button because we are also closing the widget after the Save Chat modals.

However, the visitor can see that button flash by really quickly, and that is not a good UX.

Can we pr

[2022-04-20 20:42] ear-dev commented on #1119
@Shailesh351 @bhardwajaditya it looks like these two PRs are ready to go?  I can merge them both and close the story?

[2022-04-20 22:57] ear-dev opened #1147 "[myViasat PR] change default department name to 'virtualassistant'"
Currently the default department in the integration script is set to 'Viasat Virtual Assistant'.  However we are now going to manage our UsRes RC instances using terraform in our automation, and the department names will now match the agent names.

In the case of UsRes it needs to be 'virtualassistant'.

Please make a PR against the myViasat repo for this change.  I will make sure that our RC serv

[2022-04-21 07:39] Shailesh351 commented on #1121
@AlexanderKanakis FYI Feedback Survey PR is merged in Livechat Repo. So you can now continue with `Save Chat` button

[2022-04-21 07:45] Shailesh351 commented on #1119
Yes @ear-dev It's ready to merge

[2022-04-21 08:11] Shailesh351 commented on #1147
Created PR https://git.viasat.com/ICAT/MyViasat/pull/1131

[code]

[2022-04-21 08:14] Shailesh351 commented on #1122
NOTE: The newly created story for the behavior where we see multiple Chat with agent msgs. issue https://github.com/WideChat/Rocket.Chat/issues/1137

[2022-04-21 12:11] Shailesh351 commented on #925
Created PR https://git.viasat.com/ICAT/MyViasat/pull/1132 which fix earlier breaking changes for the web

[2022-04-21 12:27] #1119 closed, assigned to bhardwajaditya

[2022-04-21 12:31] ear-dev commented on #1123
Closing this because it is covered here:  https://github.com/WideChat/Rocket.Chat/issues/1121

[2022-04-21 12:31] #1123 closed, assigned to Shailesh351

[2022-04-21 14:34] #1146 closed, assigned to nobody

[2022-04-21 14:38] ear-dev opened #1148 "[Close chat behavior] Do not minimize the widget after the visitor closes the chat using the 'X' - Web and Mobile"
We want to change the current default behavior in both web and mobile.
Motivation: After an escalated session we want to offer the Feedback Survey to visitors, even in the case that the session was ended by the visitor clicking the 'X'

Clicking the 'X' should close the chat, but leave the widget open so the transcript is visible.  Clicking the 'X' a second time should minimize the widget.

On mob

[2022-04-21 14:40] ear-dev commented on #1144
NOTE: All system messages should appear above the Feedback Survey button.

[2022-04-21 14:44] bhardwajaditya commented on #1144
@ear-dev it will be better to add a livechat setting in the server to make it configurable. Something like "survey text" . This will be displayed in widget when survey is enabled otherwise normal close chat. Adding it to salesforce won't have much benefit and can make it a bit flaky as well

[2022-04-21 14:44] ear-dev opened #1149 "[Two Tab issue] Verify that two or more tabs open to the widget are in sync in regard to the Feedback Survey."
Repro:
- tab1 escalates, agent closes the session, Feedback Survey button appears.  Minimize the widget.
- open tab2, talk to the DF bot and close the session without escalation.

Result:
- tab2 looks fine, chat is closed no Feedback Survey.
- tab1 the chat is closed, but the Feedback Survey button is showing.

[2022-04-21 14:46] ear-dev opened #1150 "[UX improvement] Close Chat modal message should be configurable"
Currently the text is hard coded to this:
"All of this conversation history will be lost if you close this chat. Continue?"

We would like to have this as an admin configuration option

[2022-04-21 14:51] ear-dev opened #1151 "[SF.app - Chat End Messaging] Configure a unique message to be sent to the visitor in the case of a chat closed due to timeout."
The timeout value during an escalated session is controlled by Salesforce since we use the 'App' setting instead of 'Widget'.

If a visitor session times-out during an escalated session, we would like to display a configurable message instead of the generic 'chat closed' system message we currently display.

[2022-04-21 15:11] Shailesh351 commented on #1149
<img width="1481" alt="Screenshot 2022-04-21 at 8 32 55 PM" src="https://user-images.githubusercontent.com/18264684/164494055-d1ad9c2d-3e71-4829-99f6-0670aeb4e9a6.png">

Enabling `Clear guest session when chat end` fixes the issue

[2022-04-21 19:54] ear-dev commented on #1144
Thanks @Shailesh351 I'm good with that....  it's the livechat code that controls when the survey is to be displayed, based on escalated == true/false, right?  So it know.......

[2022-04-21 19:56] ear-dev commented on #1149
@Shailesh351 did you test various two tab scenarios with this setting enabled?  I just did and actually saw all kinds of weird behavior....  I need to look more carefully and characterize.....  but maybe if you have a minute you can also try a few things.  Thanks.

I think what I saw was that closing a session in one tab caused the other tab to be orphaned and to show what I can only describe as '

[2022-04-26 14:30] ear-dev commented on #1149
Using this strategy also erased the setDepartment() value in the test widget, causing subsequent loads to use the default department.

seems to me like we can't use this strategy.

[2022-04-26 14:32] Shailesh351 commented on #1149
Okay @ear-dev I will fix it properly in the Live Chat repo👍

[2022-04-26 15:13] ear-dev commented on #1148
Last Issue: in mobile when visitor moves away from the screen after the chat has been closed, returning to the page shows a blank screen. It should restart a new chat.

[2022-04-26 15:22] ear-dev commented on #1121
@AlexanderKanakis please prioritize the new button interface before completing the permissions issue on mobile.  It might be the case that we deploy this for web first.

NOTE:  the Download Chat Transcript button will replace the modal entirely in both web and mobile

[2022-04-26 15:24] ear-dev opened #1153 "[Save Chat] Figure out download permissions on mobile"
This will require coordination with the myViasat team.
- spec the requirements
- myViasat has to sign off on them.

Ios, Android

[2022-04-26 15:26] ear-dev commented on #1144
Admin/omnichannel/livechat

[2022-04-26 17:52] #1148 closed, assigned to Shailesh351

[2022-04-26 19:02] ear-dev commented on #1144
@Shailesh351 when you get a chance can you review please?  Unfortunately I don't have a testbed where I can do escalations, so please verify the feature.  Thanks.

[2022-04-27 11:37] ear-dev opened #1155 "[Invalid Message Type] Add 'location object' to invalid message types"
I noticed this session on our brazil production instance...

https://ba.chatbot.vega.viasat.com/live/iAz7MiwJ6mWKE7kGc/room-info

Messages of this type should be added to the invalidUserInput list.

[2022-04-27 12:30] #1144 closed, assigned to bhardwajaditya

[2022-04-27 12:45] #1149 closed, assigned to Shailesh351

[2022-04-27 13:13] ear-dev opened #1158 "[Bug][Priority] RC sometimes not sending zero timer payloads?"
I noticed that some sessions on the brazil bot were getting no response at times from the DF.agent.

https://ba.chatbot.vega.viasat.com/live/sBkcCy9aeq3ujxdpq/room-info
https://ba.chatbot.vega.viasat.com/live/QBdfwBdq657aza5mC/room-info
https://ba.chatbot.vega.viasat.com/live/gtP8QotNBXLEf746e/room-info

Molly suggested that DF was expecting a zero timer payload which never arrived from RC.

[code

[2022-04-27 13:23] Shailesh351 opened #1159 "[Multiple Tab] Chats on multiple tabs not in sync after closing chat"
1. Open chat in two tabs
2. Close chat with 'X' in tab2, then minimize the widget in the same tab.  At this point it looks good, both tabs appear in sync.
3. Click the widget in tab1 and the transcript is visible, but we expect the 'New Chat' screen.  If you click the widget in tab2 then you do get the 'New Chat' screen as expected, and now both tabs are in sync again.

[2022-04-27 13:24] Shailesh351 commented on #1149
NOTE: Created https://github.com/WideChat/Rocket.Chat/issues/1159 for the above pending issue
@ear-dev

[2022-04-27 14:05] ear-dev commented on #1129
@AlexanderKanakis have you already started this one yet?  if not, I think I'd like to give this to @bhardwajaditya since he's ready for new work I think.......  thanks.

[2022-04-27 17:39] ear-dev commented on #1121
@Shailesh351 @AlexanderKanakis These PRs are working as designed for me now.  The button shows up when configured, and on web it downloads a txt file.

@Shailesh351 can you test on mobile please, just to confirm that the button shows up properly after a chat is closed.  Also can you test on a build that includes the feedback survey and post an image here please of how the two buttons look together

[2022-04-28 06:36] Shailesh351 commented on #1121
@ear-dev @AlexanderKanakis It's looking good on mobile as well. Here's the screenshot below.

Only pending items are
- Figure out a way to download the transcript on mobile.
- Change the format of the text content in the file.

Currently, it has unnecessary space at the beginning and keeping time at the end makes it look weird.
[code]

we can have something like this
[code]

<img width="564" alt="

[2022-04-28 10:16] AlexanderKanakis commented on #1121
@Shailesh351 New update is up: https://github.com/WideChat/Rocket.Chat/pull/1130

[2022-04-28 13:37] ear-dev commented on #1121
@Shailesh351 @AlexanderKanakis Thanks for getting this together.  I would like for Shailesh to demo this in our meeting today please, on both web and mobile if possible....  escalated / non-escalsted.

@AlexanderKanakis your latest commit fixes the file formatting?  If so, then we are ready to deploy this to production on web, but not mobile.  I would like to add an 'isMobile' switch to the Save C

[2022-04-28 14:51] AlexanderKanakis commented on #1121
@ear-dev @Shailesh351 PR for disabling `Save Transcript` button for mobile: https://github.com/WideChat/Rocket.Chat.Livechat/pull/138

[2022-04-28 15:22] #1121 closed, assigned to AlexanderKanakis

[2022-04-28 16:57] ear-dev opened #1162 "[Test Widget] Add new fields for authentication against UsRes bot"
Two new input boxes in the test widget:
- "UsRes Account Number"
- "UsRes Zip Code"

These fields need to map to parameters we send to DF, in exactly the same way we send the phoneNumber as 'username'.

The mapping:
"UsRes Account Number" -> 'ui_register_account_number'
"UsRes Zip Code" -> 'ui_register_zip_code'

Notes:
- Only send these parameters in the case that the widget has provided the valu

[2022-04-28 17:33] #1081 closed, assigned to nobody

[2022-04-28 17:34] #1060 closed, assigned to nobody

[2022-04-28 17:35] ear-dev opened #1163 "[Mobile App Android] [MV PR][BUG] The keyboard covers the transcript on some mobile devices"
Currently the keyboard opens and covers the bottom portion of the transcript so that the visitor does not see the composer.

This is not an issue in IOS.

[2022-04-28 17:36] ear-dev opened #1164 "[Widget UI] Hide the character counter when the composer is hidden."
Currently we still see the character counter, even though the composer is no longer available after a chat session has been closed.

[2022-04-28 17:40] ear-dev opened #1165 "[Feedback Survey] Add an admin config to toggle the feedback survey on/off"
This should be in Admin/Omnichannel/Livechat on the server.  Please add it next to the new "Escalated Conversation Finished Text"

Also - if "Escalated Conversation Finished Text" is blank, default to the original "Conversation Finished Text"

[2022-05-03 15:19] ear-dev commented on #1153
@Shailesh351 Can you please demo how MyViasat currently does download invoice on mobile?  I understand that it uses app storage and we'd like to understand the users experience.  Perhaps we do the same for transcript.....

Issue:  Downloading to local storage requires elevated permissions that are currently not available in the app.

[2022-05-03 15:31] ear-dev opened #1168 "[UI Improvements] Work with Meis to get a new set of figma frames and make the widget look better."

[2022-05-03 16:00] ear-dev commented on #797
@Shailesh351 @bhardwajaditya  I just tested this on android and it worked for me, but did not work on web....  which is very odd because it is the exact opposite of what the Issue is reporting.  Can you verify as well please?

We would like to characterize where we are now and create stories to fix sneak peak in all cases.  Thanks...

[2022-05-03 16:14] ear-dev opened #1169 "[UX] Visitor should be notified if the SF agent has gone offline and the chat was not transferred to another agent"
Currently there is no indication to the visitor that the SF agent has disappeared.  This is likely an edge case because in Salesforce, the session would be transferred to another agent if available by default.  But we still would like to cover the use-case.  Is there some kind of keep-alive we could check?

[2022-05-03 17:18] #980 closed, assigned to Shailesh351

[2022-05-03 17:18] #1067 closed, assigned to AlexanderKanakis

[2022-05-03 17:18] #730 closed, assigned to nobody

[2022-05-03 17:19] #1026 closed, assigned to nobody

[2022-05-03 17:19] #982 closed, assigned to nobody

[2022-05-03 17:26] ear-dev commented on #928
@AlexanderKanakis Since we are in the process of migrating our UsRes chatbot to CX, we would like to have this admin config available in the df config.json if possible.

- In UsRes the primary channel is through the widget, and in this case we do not want to concatenate messages.  This gives the CX developer more control over how the conversation will look.
- In the Brazil / WhatsApp case we want

[2022-05-03 17:32] #479 closed, assigned to nobody

[2022-05-03 17:33] #850 closed, assigned to nobody

[2022-05-03 17:33] #849 closed, assigned to nobody

[2022-05-03 21:07] ear-dev opened #1170 "[SF.app] Reset the SF agent username and icon in the banner if the agent has transferred the chat to a new agent."

[2022-05-03 23:20] ear-dev commented on #1170
In production, we are seeing cases where the SF agent gets disconnected for an unknown reason.  In that case the chat gets transferred to a new agent, but the Agent Name in the banner does not correspond to the new agent.  We would like to fix.

[2022-05-04 12:35] Shailesh351 commented on #797
@ear-dev It's working in my setup for all three platforms. On the web are you seeing it intermittently or persistently?

Can you share with me the link to the salesforce console for pre-prod? I will check on pre-prod as well. Will it directly make me an agent using viasat.io login?

[2022-05-04 17:22] ear-dev opened #1171 "[Metrics Logging] Design and prototype a custom logger in RC server for publishing events to SNS"
We would like start tracking "frontend analytics" as described here:  https://wiki.viasat.com/display/ACC/Frontend+Analytics

We need a design document and a prototype if possible.  We can start by logging just one or two of the metrics described in the document.

We will need to implement the schema requirements defined and provided by the fulfillment team.  They manage the SNS topics we will be

[2022-05-04 17:51] ear-dev commented on #1171
@Shailesh351 For a big picture view...  our Events/Metrics Service was originally described in this wiki:  https://wiki.viasat.com/pages/viewpage.action?pageId=549161101 Fred has implemented this and it is currently operational.  Our job is to push our metrics to that SNS topic he setup, and his service will take care of the rest.

We just need to provide the databus schema information (described

[2022-05-04 18:28] ear-dev commented on #1171
Example event.json off the databus from our production stream:

[code]

[2022-05-05 12:05] AlexanderKanakis commented on #1139
Updated PRs:
https://github.com/WideChat/Rocket.Chat.IntegrationTests/pull/3
https://github.com/WideChat/Rocket.Chat/pull/1142
https://github.com/WideChat/Rocket.Chat.Livechat/pull/141

Created `unsetGuestPhone` function, which is used on the IntegrationTest widget when the guest phone number is empty.

[2022-05-05 13:49] AlexanderKanakis commented on #1162
Related PRs:
https://github.com/WideChat/Rocket.Chat/pull/1173
https://github.com/WideChat/Rocket.Chat.IntegrationTests/pull/7

Custom fields in `{host}/omnichannel/customfields`:
1. `ui_register_zip_code`
2. `ui_register_account_number`

[2022-05-05 14:43] AlexanderKanakis commented on #928
Related PRs: https://github.com/WideChat/Apps.Dialogflow/pull/154

[2022-05-05 15:22] ear-dev commented on #1153
Solution:  Let's use the same methods that the myViasat app is currently using.  The file will open in a viewer, and it will be up to the visitor if they want to save or print it from there.  We want to avoid asking for permissions, since myViasat is doing it without new permissions.

- will this work with a txt file?
- do we need to present pdf instead? - can we do this easily??

If possible we d

[2022-05-06 13:44] #928 closed, assigned to AlexanderKanakis

[2022-05-10 12:26] AlexanderKanakis commented on #1164
PRs:
https://github.com/WideChat/Rocket.Chat.Livechat/pull/142

[2022-05-10 12:49] AlexanderKanakis commented on #1155
@ear-dev Can I have a screenshot? I do not have access to the site.

[2022-05-10 13:42] ear-dev commented on #1155
It is a link to google maps.  Basically we need to be declaring anything other than text as invalidUserType

![image](https://user-images.githubusercontent.com/28864717/167642544-5437b0bd-180a-4c01-b49d-fe55ba1df17e.png)

[2022-05-10 13:50] ear-dev commented on #925
This PR has been merged.... moving this story back into TODO so we can debug logs when they start coming in.

[2022-05-10 13:52] ear-dev commented on #925
@Shailesh351 can you add the required customFields needed for debugging to our production server at chatbot.vega.viasat.com please?  I'm not sure when this commit will make it into production, but we'll keep an eye on it.  Thanks.

[2022-05-10 14:18] Shailesh351 commented on #925
@ear-dev Done ✅

[2022-05-10 15:16] ear-dev commented on #1155
At the moment we have hard coded a filter to block all attachments and to send a df_event == 'invalidUserInput' in response.

This story requires investigation as to what RC sees when it gets this location link (maps. google.com) from a visitor..... we need to include this in the filter for 'invalidUserInput'.

Current list in apps-engine:  ['file' (attachment), 'location' (need to add), 'attachme

[2022-05-10 15:17] ear-dev opened #1175 "[Invalid Message Types] Add an admin config for selecting which types of messages we want to filter out."
Related to this fix:  https://github.com/WideChat/Rocket.Chat/issues/1155

[2022-05-11 17:18] ear-dev opened #1176 "[Chat Trigger] Remove the 'New Chat' page altogether?"
Currently after a chat is closed, and the visitor closes the widget with the 'X', the next time the visitor clicks the widget icon they are presented with the 'New Chat' page, which offers a button which will trigger a new session.

Is it possible to remove this intermediary page and have the widget icon click be the trigger again to start a new chat?

[2022-05-11 17:28] ear-dev commented on #1170
New Scope:  Can we also have the agent icon set to the first letter of the current agent's name?  Currently we are using a default viasat icon, but we would like it to be one of those default icons that take the first letter of the name.

@bhardwajaditya can you comment on the feasibility of changing that user icon dynamically, so that it always reflects the name of the salesforce agent that is cu

[2022-05-12 03:24] Shailesh351 commented on #1176
@ear-dev
- For the web, it's a straightforward and minor change. On clicking X we minimize and not route to `New Chat Screen` So it will automatically trigger a new chat when the user clicks on it. However, this also leads to a multiple tabs issue where the screen becomes blank. We will need to handle it.
- For mobile, there is an open question for design. We are currently not minimizing chat when